<template name="leagues">
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Leagues</h1>
 {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a data-action="search-leagues" class="button button-clear pull-right newGroup">
      {{> ionIcon icon='ios-search-strong'}}
    </a>
	{{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
		{{> heroSection location="league"}}
		
		<div class="container hundred-bottom">
			<div id="button-section">
				{{> leagueOverviewLinks}}
			</div>
		{{#if Template.subscriptionsReady}}
			{{#each league in userLeague}}
				{{#with league}}
					{{> leagueCard}}
				{{/with}}
			{{/each}}
			{{#if noLeaguesJoined}}
				{{#ionItem buttonRight=true}}
					<p>No Leagues :( Join a League!</p>
					<a data-action="no-league" class="button">
						{{> ionIcon icon="ios-plus"}}
					</a>
				{{/ionItem}}
			{{/if}}
		{{else}}
			{{> spinLoader}}
		{{/if}}
		</div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="leagueOverviewLinks">
	<div class="button-card half" data-action="createLeague">
		{{> pickkIcon icon="player" size="small"}}
		<span class="text">Create</span>
		<span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
	</div>
	<div class="button-card half" data-action="viewAll">
		{{> pickkIcon icon="invite" size="small"}}
		<span class="text">View All</span>
		<span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
	</div>
</template>