<template name="_editGroup">
  {{#ionModal class="white-text-header" title="Edit Group"}}
    <div class="padding">
      <div class="content overflow-scroll">
			<div class="list " >
				<form>
				<div class="item item-divider">Name</div>
				<label type="stacked" style="background-color: white;" class="item item-input item-stacked-label">
					<span class="input-label">Group Id:</span>
					<input type='text' label-type="stacked" id="groupId" value="{{groupId}}">
				</label>
				<label type="stacked" style="background-color: white;" class="item item-input item-stacked-label">
					<span class="input-label">Group Display Name:</span>
					<input type='text' label-type="stacked" id="groupName" value="{{groupName}}">
				</label>
				<label type="stacked" style="background-color: white;" class="item item-input item-stacked-label">
					<span class="input-label">Group Description:</span>
					<textarea rows="4" type='text' maxlength="200" label-type="stacked" id="groupDesc" value="{{desc}}"></textarea>
				</label>
				<br>
				<div class="item item-divider">Display Settings</div>
				
				<div class="edit-radio" >
					<input type="radio" name="privacy" id="private" required value="private">
					<label for="private" class="play-option">
					<i class="fa fa-star"></i> 
						Private
					</label>
				</div>

				<div class="edit-radio">
					<input type="radio" name="privacy" id="invite" required value="invite">
					<label for="invite" class="play-option">
					<i class="fa fa-star"></i> 
						Invite Only
					</label>
				</div>

				<div class="edit-radio">
					<input type="radio" name="privacy" id="public" required value=false>
					<label for="public" class="play-option">
					<i class="fa fa-star"></i> 
						Public
					</label>
				</div>
				
				<br>
				<button type="submit" id="submitGroup" style="float: right; width: 100%;" data-action="createGroup" class="button button-assertive " disabled> Update Group Info
				</button>
				</form>				
				</div>
				</div>
    </div>
  {{/ionModal}}
</template>