<template name="inviteToGroup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Invite User to group</h1>
  {{/contentFor}}


  {{#contentFor "headerButtonRight"}}
    <a href="/searchUsers" class="button button-clear pull-right newGroup">
      {{> ionIcon icon='ios-search-strong'}}
    </a>
  {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
      <div class="container">
        {{> inviteToGroupBox}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="inviteToGroupBox">
  <div class="search-bar-fix">
    {{> EasySearch.Input index=UserListIndex placeholder="Search..." }}
  </div>
  {{#ionList}}
    {{#EasySearch.Each index=UserListIndex}}
      {{#ionItem buttonRight=true avatar=true}}
        <a class="item-avatar avatar-fix" href="{{pathFor route='user.show' _id=__originalId}}">
          {{> userAvatar user=. alreadySubscribed=true}}
          {{profile.username}}
        </a>
        {{#if isInvited}}
          <button class="button" disabled="disabled">Invited</button>
        {{else}}
          {{> inviteButton}}
        {{/if}}
      {{/ionItem}}
    {{/EasySearch.Each}}
  {{/ionList}}

  {{#EasySearch.IfNoResults index=UserListIndex logic="OR" }}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
</template>

<template name="inviteButton">
  <button data-action="invite" id="{{_id}}" class="button">Invite</button>
</template>
