<template name="searchLeagues">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Search Leagues</h1>
  {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
		<div class="container">
    	{{> searchLeaguesBox}}
		</div>
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="searchLeaguesBox">
    <div class="search-bar-fix">
    {{> EasySearch.Input index=GroupsIndex attributes=inputAttributes }}
    </div>

      {{#ionList}}
        {{#EasySearch.Each index=GroupsIndex}}
          {{#with this}}
            {{> leagueCard}}
          {{/with}}
        {{/EasySearch.Each}}
      {{/ionList}}

		{{#EasySearch.IfNoResults index=GroupsIndex logic="OR" }}
			<div class="no-results">No results found!</div>
			<a href="/league/create">
		    <button class="button col-md-100 ten-spacing daily-pickk-cta daily-pickk-background animated fadeInRight" style="height: 45px;">
		      Create League
		    </button>
    	</a>
		{{/EasySearch.IfNoResults}}

</template>
