<template name="searchUsers">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Search Users</h1>
  {{/contentFor}}


  {{#ionView }}
    {{#ionContent}}
		<div class="container">
    	{{> searchUsersBox}}
		</div>
    {{/ionContent}}
  {{/ionView}}

</template>


<template name="searchUsersBox">
		<div class="search-bar-fix">
    {{> EasySearch.Input index=UserListIndex placeholder="Search..." }}
		</div>
      {{#ionList}}
        {{#EasySearch.Each index=UserListIndex}}
            {{#ionItem buttonRight=true avatar=true}}
            <a class="item-avatar avatar-fix" href="{{pathFor route='user.show'}}">
              <img  src="{{userAvatar this._id}}">
              {{profile.username}} 
            </a>
              {{> inviteButton}}
            {{/ionItem}}
        {{/EasySearch.Each}}
      {{/ionList}}

		{{#EasySearch.IfNoResults index=UserListIndex logic="OR" }}
			<div class="no-results">No results found!</div>
<!-- 			<a href="/newgroup" class="newGroup">
		    <button class="button full">
		      <i class="fa fa-comments-o"></i>
		      Want to Create Group?
		    </button>
    	</a> -->
		{{/EasySearch.IfNoResults}}

</template>
