<template name="allGroups">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="groups"}}
  {{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">All Groups</h1>
 {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/searchGroups" class="button button-clear pull-right newGroup">
      {{> ionIcon icon='ios-search-strong'}}
    </a>
	{{/contentFor}}

  {{#ionView }}
    {{#ionContent}}

		<div class="item item-divider">All Groups</div>

		{{#each group}}
      {{#ionItem path="group.show" avatar=true}}
        {{> groupAvatar}}
        <h2 class="center-username">{{name}}</h2>

      {{/ionItem}}
    {{/each}}
    
    {{/ionContent}}
  {{/ionView}}
</template>
