<template name="leaguesOverview">
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Leagues</h1>
 {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/searchGroups" class="button button-clear pull-right newGroup">
      {{> ionIcon icon='ios-search-strong'}}
    </a>
	{{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
		{{> heroSection}}
		<div class="container">
			{{#each league in userLeague}}
				{{#with league}}
					{{> leagueCard}}
				{{/with}}
			{{/each}}
			{{#if noLeaguesJoined}}
				{{#ionItem buttonRight=true}}
					<p>No Leagues :( Join a League!</p>
					<a data-action="no-group" class="button">
						{{> ionIcon icon="ios-plus"}}
					</a>
				{{/ionItem}}
			{{/if}}
		</div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="leagueCard">
	<div class="ten-spacing {{joined}} card-container" data-action="viewLeague">
		<div class="league-card-header">
			{{> leagueAvatar}}
			<div class="detail-container">
				<div class="league-name">{{name}}</div>
				<div class="commissioner">
					{{> ionIcon icon='ios-person'}}
					{{commissioner}}
				</div>
			</div>
			<span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
		</div>
		{{#if joined}}
			{{> leagueMember}}
		{{else}}
			<!-- Expanded card detail -->
		{{/if}}
	</div>
</template>

<template name="leagueMember">
	<div class="league-card-body card-detail-section">
		<div class="section">
			<div>{{> ionIcon icon='ios-people'}}</div>
			<div></div>
		</div>
		<div class="section">
			<div>{{> ionIcon icon='ios-people'}}</div>
			<div></div>
		</div>
		<div class="section">
			<div>{{> ionIcon icon='ios-people'}}</div>
			<div></div>
		</div>
		<div class="section">
			<div>{{> ionIcon icon='ios-people'}}</div>
			<div></div>
		</div>
	</div>
</template>

<template name="groupData">
  <ul class="group-details">
    <li>
      <span class="group-details-icon center-text" style="font-size: 1.9em;">
        {{> ionIcon icon='ios-people'}}
      </span>
      <span class="group-details-text">
        {{memberCount}} {{max}} Members
      </span>
    </li>
    <li>
      <span class="group-details-icon center-text">
        {{> ionIcon icon='star'}}
      </span>
      <span class="group-details-text">
        Commissioner: {{commissioner}}
      </span>
    </li>
    {{#if skill}}
      <li>
        <span class="group-details-icon center-text">
          {{> ionIcon icon='star'}}
        </span>
        <span class="group-details-text">
          Skill: {{skill}}
        </span>
      </li>
    {{/if}}
    {{#if league}}
      <li>
        <span class="group-details-icon center-text">
          {{> ionIcon icon='star'}}
        </span>
        <span class="group-details-text">
          League: {{association}}
        </span>
      </li>
      {{#if team}}
        <li>
          <span class="group-details-icon center-text">
            {{> ionIcon icon='star'}}
          </span>
          <span class="group-details-text">
            Team: {{favTeam}}
          </span>
        </li>
      {{/if}}
    {{/if}}
    {{description}}
  </ul>
</template>
