<template name="singleGroup">

<!-- Standard Nav instead of the custom nav design -->
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

    {{#with group}}
      <div class="profile-background">        
        <img src="/twitter_logo.png" class="circle-image">
      	<div style="clear:both;">
        <h3>{{this.name}}</h3>
        {{> memberCheck}}
        </div> 
      </div>
			<br>
			<strong>Commissioner:</strong>
			{{this.commissioner}}
			<br><br>
			<strong>Members:</strong> <br><br>
			{{this.members}}
    {{/with}}
    {{/ionContent}}
  {{/ionView}}
	
</template>

<template name="memberCheck">
	{{#if alreadyMember }}
		<button data-action="leaveGroup" id="join-toggle" class="button button-assertive">Leave Group</button>

	{{else}}
		<button data-action="joinGroup" id="join-toggle" class="button button-balanced">Join</button>
	{{/if}}
</template>