<template name="singleGroup">

<!-- Standard Nav instead of the custom nav design -->
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button style="font-size: 13px;" class="button button-clear" data-ion-menu-toggle="right">
      {{> ionIcon icon="ios-chatboxes"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
    {{#with group}}
      {{this.groupId}}
    {{/with}}
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
     <div class="group-wrapper">
    {{#with group}}
      {{#if private}}
        {{#if member}}
          {{> groupAvatar}}
          {{> memberCheck}}
          {{> groupData}}
          {{> singleGroupLeaderboard groupId=this}}
        {{else}}
          {{#if invite}}
            {{> groupAvatar}}
            {{> memberCheck}}
            {{> groupData}}
          {{else}}
            <div class="no-notifications">
              This group is private and can only be seen by members
            </div>
          {{/if}}
        {{/if}}

      {{else}}
        {{> groupAvatar}}

      {{> memberCheck}}
      {{> groupData}}
      {{> singleGroupLeaderboard groupId=this}}

      {{/if}}
    {{/with}}
     </div>
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="memberCheck">
  <div style="padding-top: 36px;float: right; width: 60%; margin-right: 15px;">

  {{#if commissionerAdmin}}
    <button id="settings" data-ion-popover="_adminOptions" class="button col col-10 button-stable" style="float:right; margin-left: 10px;">
      {{> ionIcon icon='ios-gear'}}
    </button>
  {{/if}}

	{{#if alreadyMember }}
    {{#if commissionerAdmin}}

    {{else}}
		  <button id="join-toggle" data-action="showActionSheet" class="button button-assertive col col-33" style="float:right">Leave</button>

    {{/if}}
    <a href="/inviteToGroup/{{_id}}" class="invite">
      <button class="button col col-50 button-balanced" style="float:right; margin-right: 10px;">
       {{> ionIcon icon='ios-upload-outline'}} Invite
      </button>
    </a>

	{{else}}
    {{#if invite}}
      {{> inviteOnly}}
    {{else}}
		  <button data-action="joinGroup" id="join-toggle" class="button button-balanced col col-50" style="float:right">Join</button>
	  {{/if}}
  {{/if}}
  </div>
</template>

<template name="requestInvite">
  {{#if alreadyRequested}}
    <button data-action="requestPending" id="join-toggle" class="button button-stable col col-75" style="float:right">Request Pending</button>
  {{else}}
    <button data-action="requestInvite" id="join-toggle" class="button button-balanced col col-75" style="float:right">Request Invite</button>
  {{/if}}
</template>

<template name="inviteOnly">
  {{#if invite}}
    <button data-action="joinGroup" id="join-toggle" class="button button-balanced col col-50" style="float:right">Join</button>
  {{else}}
    {{> requestInvite}}
  {{/if}}
</template>

<template name="groupData">
  <div style="clear:both" class="item item-divider">League Info</div>
  <div style="clear: both; float:left; padding:15px; background-color: white; width: 100%;">
    <span style="font-size: 1.7em; padding-left: 8px; padding-right: 10px;">{{> ionIcon icon='information'}}</span><span style="padding-left: 10px; line-height: 8px; vertical-align: text-top; font-size: 1.2em;">{{this.name}}</span>
      <br>
      {{#with commissioner}}
    <span style="font-size: 1.7em;">{{> ionIcon icon='star'}}</span>
    <span style="padding-left: 10px; line-height: 8px; vertical-align: text-top; font-size: 1.2em;">Commissioner: {{this.profile.username}}</span>
    {{/with}}<br>

    <span style="font-size: 1.9em;">{{> ionIcon icon='ios-people'}}</span><span style="padding-left: 10px; line-height: 8px; vertical-align: text-top; font-size: 1.2em;">{{memberCount}} Members</span>
    <br>
    {{description}}
  </div>
</template>

<template name="singleGroupLeaderboard">
  {{#ionList}}
    <div style="clear:both" class="item item-divider">League Members</div>
    {{#each player in players}}
      {{#with userData player}}
        {{#ionItem path="user.show" avatar=true}}
          {{> userAvatar userId=_id}}
          <h2 class="center-username">
            {{profile.username}}
          </h2>
        {{/ionItem}}
      {{/with}}
    {{/each}}
  {{/ionList}}
</template>
