<template name="gameInfo">
	<div class="container">	
	  {{#ionView}}
   		{{#ionContent}}	 

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
			{{#contentFor "headerTitle"}}
				<h1 class="title white-text-header">Game Panel</h1>
			{{/contentFor}}

			<form id="gameInfo">
				<label type="stacked" class="item item-input item-stacked-label">
					<span class="input-label">Away</span>
					<select id="away"> {{> nfl}} </select>
				</label>
				<label type="stacked" class="item item-input item-stacked-label">
					<span class="input-label">Home</span>
					<select id="home"> {{> nfl}} </select>
				</label>
				<label type="stacked" class="item item-input item-stacked-label">
					<span class="input-label">TV Channel</span>
					<input id="tv" type="text">
				</label>				
				<div class="item item-toggle item-text-wrap">
				    Active?
			    <label class="toggle">
			      <input type="checkbox" id="gameActive" name="gameActive">
			      <div class="track">
			        <div class="handle"></div>
			      </div>
			    </label>
				</div>
				
				<input class='full' type="submit">
			</form>

				{{#ionList}}
					{{#each gameQuestion}}
						{{#ionItem path="game.show"}}
							{{que}} {{{live}}}
						{{/ionItem}}
					{{/each}}
				{{/ionList}}
			{{/ionContent}}
		{{/ionView}}
	</div>
</template>