<template name="friends">
	 {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
    {{#if isAndroid}}
      {{> ionIcon icon='android-more-vertical'}}
    {{else}}
      {{> ionIcon icon='navicon'}}
    {{/if}}
  </button> 
{{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Find Friends</h1>
 {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}

		<div class="container">
 		<div class="search-bar-fix">
    {{> EasySearch.Input index=UserListIndex placeholder="Friends Username..." }}
		</div>

      {{#ionList}}
        {{#EasySearch.Each index=UserListIndex}}
            {{#ionItem buttonRight=true avatar=true}}
              <a href="{{pathFor route='user.show'}}" class="item-avatar avatar-fix">
                <img src="{{userAvatar this._id}}">
                {{profile.username}} 
              </a>
              {{> followButton}}
            {{/ionItem}}
        {{/EasySearch.Each}}
      {{/ionList}}

		{{#EasySearch.IfNoResults index=UserListIndex logic="OR" }}
			<div class="no-results">No results found!</div>
		<!-- 	<a href="/inviteFriend" class="newGroup">
		    <button class="button full">
		      <i class="fa fa-comments-o"></i>
		      Want to Invite a Friend?
		    </button>
    	</a> -->
		{{/EasySearch.IfNoResults}}
		
		</div>
		{{/ionContent}}
  {{/ionView}}

</template>


<template name="followButton">
  {{#if alreadyFollower }}
    <button disabled="true" id="join-toggle" class="button button-assertive">Following</button>

  {{else}}
    <button data-action="follow" id="join-toggle" class="button button-balanced">Follow</button>
  {{/if}}
</template>
