<template name="activeGame">
	{{#if userHasntJoined}}
		{{> gameTypePrompt}}
	{{else}}
		{{> waitingForNextPlay}}
		{{#if anyQuestions}}
			<div class="hundred-bottom">
				{{#if game.commercial}}
					{{#each question in commericalQuestions}}
						{{#if questionTypeIs "freePickk" question.type}}
							{{> freePickkQuestion q=question t=question.type}}
						{{else}}
							{{> eventQuestion q=question t=question.type}}
						{{/if}}
					{{/each}}

				{{else}}
					{{#each question in questions}}
						{{#if questionTypeIs "play" question.type}}
							{{> eventQuestion q=question t=question.type}}
						{{/if}}
						{{#if questionTypeIs "pitch" question.type}}
							{{> eventQuestion q=question t=question.type}}
						{{/if}}
						{{#if questionTypeIs "atBat" question.type}}
							{{> eventQuestion q=question t=question.type}}
						{{/if}}
					{{/each}}
				{{/if}}
			</div>
		{{/if}}
	{{/if}}
</template>
