<template name="preGame">
	{{#if noQuestions}}
		{{> historyCardList gameId=this.game._id i=3}}
		{{> matchupCardList gameId=this.game._id type="game"}}
	{{else}}
		<h3 class="center">{{questionsAnswered}} / {{questionsAvailable}} Pre Pickks</h3>
		{{#each question in preGamePickks}}
			{{> eventQuestion q=question t=question.type}}
		{{/each}}
	{{/if}}
</template>

<!-- <div class="card-list">
	<div class="card-list-header ten-spacing">Updates & Articles</div>

	<div class="card-list-footer" data-action="previous-answers">
		View All
	</div>
</div> -->
