<template name="preGame">
	{{> prePickkList}}
	{{> matchupCardList gameId=this.game._id type="game"}}
</template>

<template name="prePickkList">
	{{#if questionsAvailable}}
		<div class="card-list">
			<div class="card-list-header ten-spacing">Pre Pickks ({{questionsAnswered}} / {{questionsAvailable}})</div>
			{{#each question in preGamePickks}}
				{{> singleQuestion q=question}}
			{{/each}}
		</div>
	{{/if}}
</template>

<!-- <div class="card-list">
	<div class="card-list-header ten-spacing">Updates & Articles</div>

	<div class="card-list-footer" data-action="previous-answers">
		View All
	</div>
</div> -->

<template name="prePickkQuestion">
	{{#questionPopover class="questionPopover"}}
		{{> eventQuestion q=this.q t=this.q.type}}
	{{/questionPopover}}
</template>
