<template name="preGame">
	<div class="hundred-bottom">
		{{#if questionsAvailable}}
			{{> preGameCard}}
			{{> prePickkList}}
		{{else}}
			{{> entireGameCard game=this.game}}
			{{> historyCardList gameId=this.game._id number=3}}
			{{> matchupCardList gameId=this.game._id type="game"}}
			{{> inviteToPlay}}
		{{/if}}
	</div>
</template>

<template name="prePickkList">
	<!-- <h3>Pre Pickk Questions: ({{questionsAnswered}} / {{questionsAvailable}})</h3> -->
	{{#each question in preGamePickks}}
		{{> singleQuestion q=question rounded=true single=true prePickk=true}}
	{{/each}}
</template>

<template name="preGameCard">
	<div id="notification-center" class="animated fadeInRight">
		<div class="single-notification complete-game-card info-card">
			<div class="pre-pickk-inner">
				<div class="half">
					<span class="title">Coins</span>
					<span class="detail">{{coins}}</span>
				</div>
				<div class="vertical-divider"></div>
				<div class="half">
					<span class="title">Pickks</span>
					<span class="detail">
						({{questionsAnswered}} / {{questionsAvailable}})
					</span>
				</div>
			</div>
		</div>
	</div>
</template>
