<template name="waitingForNextPlay">
	<div id="waiting-for-play" class="animated fast fadeInUp hundred-bottom">
		<div id="ratingBox"></div>

		{{> inviteToPlay}}

		{{> historyCardList gameId=this.game._id number=3}}
		<br />
		{{> _leaderboardCard data=data}}

		{{#if drive}}
			<button class="button col-md-100 ten-spacing daily-pickk-cta" style="height: 45px; margin-bottom: 10px;" data-action="switchToLive">
				Switch to Live (Play by Play)
			</button>
		{{/if}}
	</div>
</template>

<template name="ratingPrompt">
  <div id="{{id}}" class="animated fast slideInLeft">
    <h4 class="center-text">{{title}}</h4>
    <button class="white-outline" data-action="{{noAction}}">{{noText}}</button>
    <button class="yes-prompt" data-action="{{yesAction}}">{{yesText}}</button>
  </div>
</template>

<!-- {{#if baseball}}
	Current Batter: {{currentBatter}} <br>
	Up Next: {{upNext}}
{{/if}}
{{#if periodDiff}}
	<button data-action="nextPeriod">Join Next Quarter</button>
{{else}}
	<div class="clear-fix"></div>
		<h5 style="margin-bottom: 0;">
			Progress To Next Diamond Reward
		</h5>
		{{>diamondWatcher}}
	<div class="clear-fix"></div>
{{/if}} -->
