<template name="gameTypePrompt">
	{{> spinLoader}}

	{{#if Template.subscriptionsReady}}
		<div class="loading-wrapper">
			{{#with sportIs}}
				{{>gameTypeChoice this}}
			{{/with}}
		</div>
	{{/if}}
</template>

<template name="gameTypeChoice">
	<h4 class="text-center">{{title}}</h4>
	<h4 class="text-center">{{subTitle}}</h4>

	{{#each option in options}}
		<div class="{{numberOfOptions options}} {{alert option.featured}} text-center type-option">
			<div class="center">{{{option.icon}}}</div>
			<h5>{{option.title}}</h5>
			<span class=" quarter-prompt-text">{{option.desc}}</span>
		</div>
	{{/each}}
	<div class="clear-fix"></div>

	<div class="button-box">
		{{#each option in options}}
				<button class="button {{numberOfOptions options true}} {{option.button}}" data-action="joinGame">
					<strong>{{option.title}}</strong>
				</button>
		{{/each}}
	</div>
	<div class="col-md-100 ten-spacing text-center">{{desc}}</div>
</template>
