<template name="waitingForNextPlay">
	<div class="animated fast fadeInUp hundred-bottom">
		<div class="clear-fix"></div>
			<h5 style="margin-bottom: 0;">
				Progress To Next Diamond Reward
			</h5>
			{{>diamondWatcher}}
		<div class="clear-fix"></div>
		<div id="ratingBox"></div>

		{{> inviteToPlay}}

		<div class="item item-divider ten-spacing">
			<span>Answers</span>
		</div>
		{{> gameHistory i=3 extended=false}}

		<div class="item leaderboard-item" data-action="previous-answers">
			View All
		</div>

		<div class="item item-divider ten-spacing">
			<span>Leaderboard +</span>
		</div>
		{{> miniLeaderboard i=3}}

		<div class="item leaderboard-item" data-action="game-leaderboard">
			View All
		</div>
	</div>

</template>

<template name="ratingPrompt">
  <div id="{{id}}" class="animated fast slideInLeft">
    <h4 class="center-text">{{title}}</h4>
    <button class="white-outline" data-action="{{noAction}}">{{noText}}</button>
    <button class="yes-prompt" data-action="{{yesAction}}">{{yesText}}</button>
  </div>
</template>
