<template name="heroOverview">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">All Heros</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each hero in heros}}
          {{#ionItem}}
            {{hero.title}}
            {{hero.status}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
   {{/ionView}}
</template>
