<!-- <template name="chatLayout">
	{{#ionBody}}
        {{> ionNavBar name="stub"}}
   	{{#ionNavView transition="backward"}}
			{{> chatHeader}}
		{{/ionNavView}}

		{{> yield}}
	{{/ionBody}}
</template> -->

<template name="chatLayout">
{{#ionBody}}
  {{#ionSideMenuContainer}}
      {{#ionSideMenuContent}}
        <!-- https://github.com/meteoric/meteor-ionic/issues/347 -->
        {{> ionNavBar name="stub" direction="forward"}}
        {{#ionNavView direction="backward"}}
          <!-- {{> chatHeader}} -->
        {{/ionNavView}}
        <!-- {{> yield}} -->
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>

<template name="chatHeader">
	  {{#contentFor "headerTitle"}}
   <h1 class="title white-text-header">{{group}} Chat</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
  <a href="/chatOverview">
   <button class="button button-clear" data-action="loader">
      {{> ionIcon icon="ios-arrow-back" }}
    </button>
  </a>
  {{/contentFor}}

   {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_groupChats">
      {{> ionIcon icon="ios-people" }}
    </button>
  {{/contentFor}}
</template>
