<template name="homeLayout">

{{#ionBody}}

  {{#ionSideMenuContainer}}

    {{#ionSideMenus}}

      {{#ionSideMenu}}
        {{> sideMenuContent}}
      {{/ionSideMenu}}

      {{#ionSideMenu side="right"}}
      
      {{> chatOverview}}

      {{/ionSideMenu}}

    {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        <!-- https://github.com/meteoric/meteor-ionic/issues/347 -->
        {{> ionNavBar name="stub"}}


          {{#ionNavView transition="backward"}}
          {{> homeLayoutHeader}}
        {{/ionNavView}}

        {{> yield}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>

<template name="homeLayoutHeader">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button style="font-size: 13px;" class="button button-clear" data-ion-menu-toggle="right">
      {{> ionIcon icon="ios-chatboxes"}}
    </button>
  {{/contentFor}}
</template>


<template name="sideMenuRight">

</template>
