<template name="mainView">

{{#ionBody}}

  {{#ionSideMenuContainer}}

    {{#ionSideMenus draggable=false}}

      {{#ionSideMenu}}
        {{> sideMenuContent}}
      {{/ionSideMenu}}

      {{> sideMenuRight}}

    {{/ionSideMenus}}

      {{#ionSideMenuContent}}
        
        {{> ionNavBar}}

        {{#ionNavView transition="backward"}}
          {{> yield "header"}}

<!--     {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Active" path="dashboard" icon="ios-photos"}}
        {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}}
        {{> ionTab title="Profile" path="profile" icon="ios-person"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Active" path="dashboard" iconOff="ios-photos-outline" iconOn="ios-photos" class="tab-item-positive"}}
        {{> ionTab title="Groups" path="groups" iconOff="ios-people-outline" iconOn="ios-people" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}} -->

        {{/ionNavView}}

        {{> yield}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}

</template>

<template name="standardNav">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-menu-toggle="right"> 
    <span class="coin-icon"><i class="fa fa-circle "></i></span> 
    <strong>{{currentUser.profile.coins}}</strong>
    </button>
  {{/contentFor}}
</template>

<template name="sideMenuContent">
<div class="scrollable">
<div class="profile-container">
<a href="/profile" data-ion-menu-toggle="left">
  <img class="circle-image" src="{{userAvatar currentUser._id}}">
  <br>

  <strong class="username">{{currentUser.profile.username}}</strong><br>
  <i class="fa fa-diamond"></i><strong> {{currentUser.profile.diamonds}}</strong><span class="coin-icon"> <i class="fa fa-circle "></i> </span> 
    <strong>{{currentUser.profile.coins}}</strong>
</a>
</div>

<div class="list">
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/">
  {{> ionIcon icon='ios-photos-outline'}}
  Active 
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/history">
  {{> ionIcon icon='ios-time-outline'}}
  Question History
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/leaderboard">
  {{> ionIcon icon='ios-list-outline'}}
  Leaderboard
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/week-leaderboard">
  <i class="fa fa-diamond" style="margin-left: -38px; font-size: 1.3em; font-weight: 100; padding: 0 10px 0 0;"></i>
  Diamond Leaderboard
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/groups">
  {{> ionIcon icon='ios-people-outline'}}
  Groups
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/notifications">
  {{> ionIcon icon='ios-bell-outline'}}
  Notifications 
  {{#if pendingNotifications }}
    <span id="pendingNotifications">{{notificationNumber}}</span>
  {{/if}}
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/games">
  {{> ionIcon icon='ios-calendar-outline'}} 
  Game Schedule
  </a>
  {{#if admin}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/admin">
  {{> ionIcon icon='bowtie'}}
  Admin
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/admin/users">
 <!--  {{> ionIcon icon='bowtie'}} -->
  > Edit Users
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/admin/push">
  <!-- {{> ionIcon icon='bowtie'}} -->
  > Push
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/admin/game">
  <!-- {{> ionIcon icon='bowtie'}} -->
  > Game
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/admin/settings">
  <!-- {{> ionIcon icon='bowtie'}} -->
  > Settings
  </a>
  {{/if}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/profile">
  {{> ionIcon icon='ios-person-outline'}}
  Profile
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/friends">
  {{> ionIcon icon='ios-personadd-outline'}}
  Find Friends
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/onboarding">
  {{> ionIcon icon='ios-help-outline'}}
  How to play
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/rules">
  {{> ionIcon icon='ios-medical-outline'}}
  Common Questions
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/settings">
  {{> ionIcon icon='ios-cog-outline'}}
  Settings
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" data-action="logout" href="/landing"> 
  {{> ionIcon icon='log-out'}} 
    Logout
  </a>
</div>
</div>
</template>

<template name="loader">
  <div class="loader-holder">
  <svg class="loader" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50; margin-top:100px;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
  </div>
</template>

<!-- <template name="sideMenuRight">
{{#ionSideMenu side="right"}}
  <div id="chat-top" class="bar bar-header bar-dark">
  <button class="button pull-right" data-ion-menu-close>
    {{> ionIcon icon="ios-close" }}
  </button>
    <h1 class="title">Chat</h1>
  </div>
  <div class="content has-header">

  <form id="">
    <textarea type="text" name="messageBox" rows="3" maxlength="150" placeholder="Silence is not golden..." id="messageBox"></textarea>
    <button class="col button col-100" type="submit">Send</button>
  </form> 

    {{#ionList}}
      {{#each message}}
        {{#ionItem class="chat"}}
          {{#with user this.user}} {{profile.username}} {{/with}}<br>
          <p class="common-question">{{this.message}}</p>
        {{/ionItem}}
      {{/each}}
    {{/ionList}}
  </div>
{{/ionSideMenu}}
</template> -->