<template name="appLayout">

{{#ionBody}}

   {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
<!--           <div class="bar bar-header bar-stable">
           
          </div>
          <div class="content has-header"> -->
            <div class="profile-container">
                <img class="circle-image" src="photo.jpg">
                <p>MeowMix</p>
            </div>
            <div class="list">
              <div class="item item-icon-right" data-action="logout">
                Logout
              </div>
            </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}


    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Active" path="dashboard" icon="android-star"}}
        {{> ionTab title="Leaderboard" path="leaderboard" icon="person-stalker"}}
        {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}}
        {{> ionTab title="Profile" path="profile" icon="android-happy"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Active" path="dashboard" iconOff="ios-photos-outline" iconOn="ios-photos" class="tab-item-positive"}}
        {{> ionTab title="Leaderboard" path="leaderboard" iconOff="ios-people-outline" iconOn="ios-people" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="Admin" path="admin" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}

  {{/ionBody}}
</template>

