<template name="mainView">

{{#ionBody}}

  {{#ionSideMenuContainer}}

    {{#ionSideMenus draggable=false}}

      {{#ionSideMenu}}
        {{> sideMenuContent}}
      {{/ionSideMenu}}

      {{> sideMenuRight}}

    {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        <!-- https://github.com/meteoric/meteor-ionic/issues/347 -->
        {{> ionNavBar name="stub"}}

        {{#ionNavView transition="backward"}}
          {{> yield "header"}}

        {{/ionNavView}}

        {{> yield}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}

</template>

<template name="standardNav">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
</template>

<template name="sideMenuContent">
<div class="scrollable">
  {{#if currentUser}}
    <div class="profile-container">
    <a href="/profile" data-ion-menu-toggle="left">
      {{> userAvatar userId=currentUser._id}}

      <strong class="username">{{currentUser.profile.username}}</strong><br>
      <i class="fa fa-diamond"></i><strong> {{currentUser.profile.diamonds}}</strong><span class="coin-icon"> <i class="fa fa-circle "></i> </span>
        <strong>{{currentUser.profile.coins}}</strong>
    </a>
    </div>
  {{/if}}

<div class="list">
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/">
  {{> ionIcon icon='ios-photos-outline'}}
  Home 
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/games">
  {{> ionIcon icon='ios-calendar-outline'}} 
  Game Schedule
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/groups">
  {{> ionIcon icon='ios-people-outline'}}
  Groups
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/history">
  {{> ionIcon icon='ios-time-outline'}}
  Question History
  </a>
  {{#if beta}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/beta-week-leaderboard">
  <i class="fa fa-diamond" style="margin-left: -38px; font-size: 1.3em; font-weight: 100; padding: 0 10px 0 0;"></i>
  Beta Diamond Leaderboard
  </a>  
  {{else}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/week-leaderboard">
  <i class="fa fa-diamond" style="margin-left: -38px; font-size: 1.3em; font-weight: 100; padding: 0 10px 0 0;"></i>
  Diamond Leaderboard
  </a>
  {{/if}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/notifications">
  {{> ionIcon icon='ios-bell-outline'}}
  Notifications 
  {{#if pendingNotifications }}
    <span id="pendingNotifications">{{notificationNumber}}</span>
  {{/if}}
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/profile">
  {{> ionIcon icon='ios-person-outline'}}
  Profile
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/friends">
  {{> ionIcon icon='ios-personadd-outline'}}
  Find Friends
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/onboarding">
  {{> ionIcon icon='ios-help-outline'}}
  How to play
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/rules">
  {{> ionIcon icon='ios-medical-outline'}}
  Common Questions
  </a>
  <a class="item item-icon-left" data-ion-menu-toggle="left" href="/settings">
  {{> ionIcon icon='ios-cog-outline'}}
  Settings
  </a>
{{#if isMobile}}
  <a class="item item-icon-left js-share-link" data-ion-menu-toggle="left" href="#">
  {{> ionIcon icon='share'}}
  Share
  </a>
{{/if}}
  <a class="item item-icon-left" data-ion-menu-toggle="left" data-action="logout" href="/landing">
  {{> ionIcon icon='log-out'}}
    Logout
  </a>
</div>
</div>
</template>

<template name="loader">
  <div class="loader-holder">
  <svg class="loader" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50; margin-top:100px;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
  </div>
</template>
