<template name="mainLayout">
  {{#ionBody}}
    {{#ionSideMenuContainer}}
      {{#ionSideMenus}}

        {{#ionSideMenu}}
          {{> sideMenuContent}}
        {{/ionSideMenu}}

        {{#ionSideMenu side="right"}} {{> chatOverview}} {{/ionSideMenu}}

      {{/ionSideMenus}}
      {{#ionSideMenuContent}}
        {{> ionNavBar name="stub"}}
          {{#ionNavView transition="forward"}}
            {{#if currentUser }}
              {{#contentFor "headerButtonLeft"}}
                <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
                  {{#if isAndroid}}
                    {{> ionIcon icon='android-more-vertical'}}
                  {{else}}
                    {{> ionIcon icon='navicon'}}
                  {{/if}}
                </button>
              {{/contentFor}}
            {{else}}
               {{#contentFor "headerButtonLeft"}} {{>ionNavBackButton text=" " path="landing"}} {{/contentFor}}
            {{/if}}
            
          {{/ionNavView}}

        {{> yield}}

      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>

<template name="backButton">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " path="index"}}
  {{/contentFor}}
</template>

<template name="skip">
  {{#contentFor "headerButtonLeft"}}{{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear right" data-action="skip">
      Skip
    </button>
  {{/contentFor}}
</template>

<template name="mainNav">
  {{#contentFor "headerButtonLeft"}}
   <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
     {{#if isAndroid}}
       {{> ionIcon icon='android-more-vertical'}}
     {{else}}
       {{> ionIcon icon='navicon'}}
     {{/if}}
   </button>
 {{/contentFor}}
</template>
