<template name="pageNotFound">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      Not Found
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="no-notifications">
        Couldnt find that page...
      </div>
      <div class="container ten-spacing">
        <button data-action="back" class="col-md-50 button button-stable">
          Previous
        </button>
          <button data-action="reload" class="col-md-50 button button-balanced">
            Home
          </button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
