<template name="pageNotFound">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      Not Found
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <h2>Couldnt find that page...</h2>
      {{> loader}}
    {{/ionContent}}
  {{/ionView}}
</template>
