<template name="preLayout">

{{#ionBody}}

   {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
<!--           <div class="bar bar-header bar-stable">
           
          </div>
          <div class="content has-header"> -->
            <div class="profile-container">
                <img class="circle-image" src="photo.jpg">
                <p>MeowMix</p>
            </div>
            <div class="list">
              <div class="item item-icon-right" data-action="logout">
                Logout
              </div>
            </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>

