<template name="sideMenuContent">
  <div class="profile-container">
    <a href="/settings" class="edit-settings">
      {{> ionIcon icon='gear-a'}}
    </a>
    <a data-action="profile" class="view-profile">
      {{> ionIcon icon='ios-person'}}
    </a>
    {{#if currentUser}}
      <a href="#" data-ion-menu-toggle="left">
      {{> userAvatar userId=currentUser._id}}
      </a>
      <strong class="username">{{currentUser.profile.username}}</strong><br>
      <i class="fa fa-diamond"></i>
      <strong> {{diamonds}}</strong>
    {{/if}}
  </div>

  {{#ionList}}
    {{#ionItem iconLeft=true href="/"  data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-photos-outline'}}
      Home
    {{/ionItem}}

    {{#ionItem iconLeft=true path="prizes" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='trophy'}}
      Prizes
    {{/ionItem}}

    {{#ionItem iconLeft=true path="games" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-calendar-outline'}}
      Game Schedule
    {{/ionItem}}

    {{#ionItem iconLeft=true path="matchup" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-game-controller-a-outline'}}
      Matchups
    {{/ionItem}}

    {{#ionItem iconLeft=true path="notifications" data-ion-menu-toggle="left"}}
      {{#if pendingNotifications}}
        <div class="unreadNotifications">
          {{> ionIcon icon='ios-bell-outline'}}
          {{notificationNumber}} Notifications
        </div>
      {{else}}
        {{> ionIcon icon='ios-bell-outline'}}
        Notifications
      {{/if}}
    {{/ionItem}}

    {{#ionItem iconLeft=true path="groups" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-people-outline'}}
      Leagues
    {{/ionItem}}

    {{#ionItem iconLeft=true path="history" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-time-outline'}}
      Question History
    {{/ionItem}}

    {{#ionItem iconLeft=true path="week-leaderboard" data-ion-menu-toggle="left"}}
      <i class="fa fa-diamond diamond-leaderboard"></i>
      Diamond Leaderboard
    {{/ionItem}}

    {{#ionItem iconLeft=true path="rules" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-medical-outline'}}
      Common Questions
    {{/ionItem}}

    {{#if isMobile}}
      {{#ionItem class="contact-us" iconLeft=true data-ion-menu-toggle="left"}}
        {{> ionIcon icon='ios-person-outline'}}
        Contact Us {{messageCount}}
      {{/ionItem}}

      {{#ionItem class="js-share-link" iconLeft=true data-ion-menu-toggle="left"}}
        {{> ionIcon icon='share'}}
        Share
      {{/ionItem}}
    {{/if}}

    {{#ionItem iconLeft=true path="onboarding" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-help-outline'}}
      How to play
    {{/ionItem}}

    {{#ionItem iconLeft=true path="friends" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-personadd-outline'}}
      Find Friends
    {{/ionItem}}

    {{#ionItem iconLeft=true path="settings" data-ion-menu-toggle="left"}}
      {{> ionIcon icon='ios-cog-outline'}}
      Settings
    {{/ionItem}}

    <a href="/landing" data-action="logout">
    {{#ionItem iconLeft=true }}
      {{> ionIcon icon='log-out'}}
      Logout
    {{/ionItem}}
    </a>
  {{/ionList}}
</template>
