<template name="sideMenuContent">
  <div class="profile-container">
    {{> userAvatar userId=currentUser._id}}

    <strong class="username">{{currentUser.profile.username}}</strong><br>
    <i class="fa fa-diamond"></i><strong> {{currentUser.profile.diamonds}}</strong>
  </div>

  {{#ionList}}
    {{#ionItem iconLeft=true path="home"}}
      {{> ionIcon icon='ios-photos-outline'}}
      Home 
    {{/ionItem}}

    {{#ionItem iconLeft=true path="games"}}
      {{> ionIcon icon='ios-calendar-outline'}} 
      Game Schedule
    {{/ionItem}}

    {{#ionItem iconLeft=true path="notifications"}}
      {{> ionIcon icon='ios-bell-outline'}}
      Notifications
    {{/ionItem}}

    {{#ionItem iconLeft=true path="groups"}}
      {{> ionIcon icon='ios-people-outline'}}
      Groups
    {{/ionItem}}

    {{#ionItem iconLeft=true path="history"}}
      {{> ionIcon icon='ios-time-outline'}}
      Question History
    {{/ionItem}}

    {{#ionItem iconLeft=true path="week"}}
      <!-- Fix lastprofile -->
      <i class="fa fa-diamond" style="margin-left: -38px; font-size: 1.3em; font-weight: 100; padding: 0 10px 0 0;"></i>
      Diamond Leaderboard
    {{/ionItem}}

    {{#ionItem iconLeft=true path="profile"}}
      {{> ionIcon icon='ios-person-outline'}}
      Profile
    {{/ionItem}}

    {{#ionItem iconLeft=true path="rules"}}
      {{> ionIcon icon='ios-medical-outline'}}
      Common Questions
    {{/ionItem}}

    {{#if isMobile}}
      {{#ionItem iconLeft=true}}
        {{> ionIcon icon='share'}}
        Share
      {{/ionItem}}
    {{/if}}

    {{#ionItem iconLeft=true path="onboarding"}}
      {{> ionIcon icon='ios-help-outline'}}
      How to play
    {{/ionItem}}

    {{#ionItem iconLeft=true path="friends"}}
      {{> ionIcon icon='ios-personadd-outline'}}
      Find Friends
    {{/ionItem}}

    {{#ionItem iconLeft=true path="settings"}}
      {{> ionIcon icon='ios-cog-outline'}}
      Settings
    {{/ionItem}}

    {{#ionItem iconLeft=true}}
      {{> ionIcon icon='log-out'}}
      Logout
    {{/ionItem}}
  {{/ionList}}
</template>