<template name="dailyPickks">
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Daily Pickks</h1>
  {{/contentFor}}

	{{#ionView}}
    {{#ionContent}}
      <div class="container">
        {{#if questionsExist}}
      		{{#each question in dailyPickks}}
            {{> dailyQuestion q=question}}
      		{{/each}}
        {{else}}
          <div class="no-notifications">
            0 Active Daily Pickks
          </div>
        {{/if}}
      </div>
    {{scoreMessage}}
    {{/ionContent}}
  {{/ionView}}
</template>
