<template name="terms-of-use">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Terms of Use</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      YOU LIKE APP AND SHARE IT WITH FRIENDS

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="privacy">
	{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Privacy Policy</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      WE NO SHARE DATA

    {{/ionContent}}
  {{/ionView}}
</template>