<template name="terms-of-use">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Terms of Use</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      

    {{/ionContent}}
  {{/ionView}}
</template>
<template name="privacy">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Privacy Policy</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

  <script type="text/javascript">
    function tryFunc(fName,args){
      if(typeof window[fName]==='function'){
        window[fName](args);
      }else{
        if(args){
          // default behaviour is link
          if(args.href){
            // default link is target='_blank'
            window.open(args.href)
          }
        }
      }
      return false; // inhibit default behaviour
    }
  </script>

      <a href="https://www.iubenda.com/privacy-policy/7855534" class="iubenda-white no-brand iub-body-embed iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a>
      <script type="text/javascript">(function(w, d) {
        var loader = function() {
          var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
          s.src = "https://cdn.iubenda.com/iubenda.js";
          tag.parentNode.insertBefore(s, tag);
        };
        if (w.addEventListener) {
          w.addEventListener("load", loader, false);
        } else if (w.attachEvent) {
          w.attachEvent("onload", loader);
        } else {
          w.onload = loader;
        }
        loader();
      })(window, document);</script>

    {{/ionContent}}
  {{/ionView}}
</template>
