<template name="_gameScoreModal">
	{{#ionModal class="white-text-header" title="Situational Question"}}
		{{#with game}}
			{{#ionItem}}
				<label>
					<span class="col-md-50">{{teamOne}}</span>
					<input id="away" class="col-md-33" value="{{teamOneScore}}">
				</label>
			{{/ionItem}}
 
			{{#ionItem}}
				<label>
					<span class="col-md-50">{{teamTwo}}</span>
					<input id="home" class="col-md-33" value="{{teamTwoScore}}">
				</label>
			{{/ionItem}}

			<button data-action="submit" class="col-md-100 button button-balanced ten-spacing">
				Submit
			</button>
			
			<div class="clear-fix"></div>

			<div style="margin-top: 50px;">
				<button class="button button-balanced col-md-50 ten-spacing" data-action="endQuarter">End Quarter</button>
				{{#if gameOpen}}
			  	<button class="full" data-action="open">Open Game</button>
				{{else}}
					{{#if endOfGame}}
						{{#ionItem}}<h2>Already closed</h2>{{/ionItem}}
			  	{{else}}
			  		<button class="button button-dark col-md-50 ten-spacing" data-action="end">End Game</button>
					{{/if}}
				{{/if}}
			</div>
		{{/with}}
  {{/ionModal}}
</template>