<template name="_propQuestion">
	{{#ionModal class="white-text-header" title="Prop Question"}}
		<div class="container">
			<select id="propQuestion" class="col-md-50">
				{{#each prop in propQuestion}}
					<option data-clipboard-text="{{prop}}">{{prop}}</option>
				{{/each}}
			</select>
			<button data-action="propText">Add</button>
			<input id="question-input" class="ten-spacing" type="text" placeholder="Question">
			<ul class="ten-spacing">
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
			</ul>
			<button id="prop" class='full button button-balanced ten-spacing' data-action="propCreation">Create Prop Question</button>
		</div>
		<div class="container">
			<div class="clear-fix ten-spacing"></div>
			{{#with game}}
				<button data-clipboard-text="{{teamOne}}" class="button team-button col-md-50">{{{teamOne}}}</button>
				<button data-clipboard-text="{{teamTwo}}" class="button team-button col-md-50">{{{teamTwo}}}</button>
			{{/with}}
			<div class="col-md-50">
				{{#each player in teamOnePlayers}}
					<button class="player-button button col-md-100" data-clipboard-text="{{player}}">{{player}}</button>
				{{/each}}
			</div>
			<div class="col-md-50">
				{{#each player in teamTwoPlayers}}
					<button class="player-button button col-md-100" data-clipboard-text="{{player}}">{{player}}</button>
				{{/each}}
			</div>
			<div class="clear-fix ten-spacing"></div>
			<div class="hundred-bottom">
				{{#each action in actionQuestions}}
					<button class="action-button button col-md-100" data-clipboard-text="{{action}}">{{action}}</button>
				{{/each}}
			</div>
		</div>
  {{/ionModal}}
</template>

<template name="optionGen">
	<li class="option-boxes">
		<input type="text" class="option-title" placeholder="Option">
		<select class="option-range" id="oddSelector"> 
			<option>Low (1.5-2.5)</option>
			<option>Mid (2.5-4)</option>
			<option>High (4-7)</option>
			<option>Extra High 😎 (10-19)</option>
			<option>Game Changer (20+)</option>
		</select>
	</li>
</template>