<template name="_propQuestion">
	<!-- {{#ionModal class="white-text-header" title="Prop Question"}} -->
		<div class="container">
			<select id="start" class="col-md-50">
				<option value="" disabled selected>Will/How/Which</option>
				{{#each item in start}}
					<option>{{item}}</option>
				{{/each}}
			</select>
			<select id="who" class="col-md-50">
				<option value="" disabled selected>Who</option>
				{{#each item in who}}
					<option>{{item}}</option>
				{{/each}}
			</select>
			<select id="what" class="col-md-50">
				<option value="" disabled selected>Do What</option>
				{{#each item in what}}
					<option>{{item}}</option>
				{{/each}}
			</select>
			<select id="when" class="col-md-50">
				<option value="" disabled selected>When?</option>
				{{#each item in when}}
					<option>{{item}}</option>
				{{/each}}
			</select>
			<button data-action="propText">Add</button>
			<input id="question-input" class="ten-spacing" type="text" placeholder="Question">
			<button data-action="trueFalse" class="button team-button col-md-33">True / False</button>
			<button data-action="startingFiveAway" class="button team-button col-md-33">Starting 5 Home</button>
			<button data-action="startingFiveHome" class="button team-button col-md-33">Starting 5 Away</button>
			<ul class="ten-spacing">
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
			</ul>
			<button id="prop" class='full button button-balanced ten-spacing' data-action="propCreation">Create Prop Question</button>
		</div>
  <!-- {{/ionModal}} -->
</template>

<template name="optionGen">
	<li class="option-boxes">
		<input type="text" class="option-title" placeholder="Option">
		<select class="option-range" id="oddSelector">
			<option>Low (1.5-2.5)</option>
			<option>Mid (2.5-4)</option>
			<option>High (4-7)</option>
			<option>Extra High 😎 (10-19)</option>
			<option>Game Changer (20+)</option>
		</select>
	</li>
</template>
