<template name="_propQuestion">
	{{#ionModal class="white-text-header" title="Prop Question"}}
		<div class="container">
			{{#with game}}
				<button class="button col-md-50">{{{teamOne}}}</button>
				<button class="button col-md-50">{{{teamTwo}}}</button>
			{{/with}}
			<div class="clear-fix ten-spacing"></div>
			<input id="question-input" class="ten-spacing" type="text" placeholder="Question">
			<ul class="ten-spacing">
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
				{{> optionGen}}
			</ul>
			<button class='full button button-balanced ten-spacing' data-action="playSelection">Create Prop Question</button>
		</div>
  {{/ionModal}}
</template>

<template name="optionGen">
	<li class="option-boxes">
		<input type="text" class="option-title" placeholder="Option">
		<input type="text" class="option-range" placeholder="Min">
		<input type="text" class="option-range" placeholder="Max">	
	</li>
</template>