<template name='_twoOption'>
	{{#ionModal class="white-text-header" title="Two Option"}}
		<label type="stacked" class="item item-input item-stacked-label">
			<span class="input-label">Team 1</span>
			<select id="play-picker"> 
				<optgroup label="First">
						<option>fStart</option>
						<option>f11:30</option>
						<option>f10:30</option>
						<option>f9:30</option>
						<option>f8:30</option>
						<option>f7:30</option>
						<option>f6:30</option>
						<option>f5:30</option>
						<option>f4:30</option>
						<option>f3:30</option>
						<option>f2:30</option>
						<option>f1:30</option>
				</optgroup>

				<optgroup label="Second">
						<option>sStart</option>
						<option>s11:30</option>
						<option>s10:30</option>
						<option>s9:30</option>
						<option>s8:30</option>
						<option>s7:30</option>
						<option>s6:30</option>
						<option>s5:30</option>
						<option>s4:30</option>
						<option>s3:30</option>
						<option>s2:30</option>
						<option>s1:30</option>
				</optgroup>

				<optgroup label="Third">
						<option>tStart</option>
						<option>t11:30</option>
						<option>t10:30</option>
						<option>t9:30</option>
						<option>t8:30</option>
						<option>t7:30</option>
						<option>t6:30</option>
						<option>t5:30</option>
						<option>t4:30</option>
						<option>t3:30</option>
						<option>t2:30</option>
						<option>t1:30</option>
				</optgroup>

				<optgroup label="Fourth">
						<option>fourStart</option>
						<option>four11:30</option>
						<option>four10:30</option>
						<option>four9:30</option>
						<option>four8:30</option>
						<option>four7:30</option>
						<option>four6:30</option>
						<option>four5:30</option>
						<option>four4:30</option>
						<option>four3:30</option>
						<option>four2:30</option>
						<option>four1:30</option>
				</optgroup>

			</select>
		</label>
		<button data-action="twoOptionPicker">Submit</button>

		<label style="color: black;">
			Question
			<input id="question" type="text" placeholder="Question">
		</label>
		<ul>
			<li class="option-boxes">
				<label style="color: black;">
					<p>Option 1</p>
					<input type="text" name="option1" class="float-left col-50" placeholder="Option One">
					<input type="text" name="m1a" class="float-left col-10 option-range" placeholder="Min">
				</label>
			</li>
			<li class="option-boxes">
				<label style="color: black;">
					<p>Option 2</p>
					<input type="text" name="option2" class="float-left col-50" placeholder="Option Two">
					<input type="text" name="m2a" class="float-left col-10 option-range" placeholder="Min">
				</label>
			</li>
		</ul>
		<button class='full' data-action="twoOptionCreation">Create Situational Question</button>
	{{/ionModal}}
</template>