<template name="admin">
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title" style="color:white;">Admin Panel</h1>
   		 {{/contentFor}}


		{{> createQuestion}}
		{{> activeQuestionList}}
		{{> pendingQuestionList}}
		{{> oldQuestionList}}
	
		  {{/ionContent}}
	  {{/ionView}}
    </div>
</template>

 
<template name="createQuestion">
	<div class=" panel">
		<h3>Create Question</h3>
		<form id="question">
		<div class="row">
		<button class="col col-50 wager-box" data-action="normal-play">Normal Play</button>
		<button class="col col-50 wager-box" data-action="kickoff-play">Kickoff</button>
		</div>
		<div class="row">
		<button class="col col-50 wager-box" data-action="4th-down-play">4th Down</button>
		<button class="col col-50 wager-box" data-action="point-after">Point After</button>
		</div>
		</form>
	</div>
</template>

<template name="activeQuestionList">
	<div class=" panel">
		<h3>Active Questions</h3>
		<ul class="active-questions">
		{{#each questions}}
			<div>
			<li style="float:left" class="{{_id}}"> {{que}}</li>
			<button data-action="deactivate" class="yes full button button-balanced">Deactivate</button>
			</div>
		{{/each}}
		</ul>
	</div>	
</template>

<template name="pendingQuestionList">
	<div class="panel">

		<h3>Pending Questions</h3>

		<ul class="pending-questions">
		{{#each questions}}
			<div style="clear:both;">
			<li style="float:left" class="{{_id}}"> <h4>{{que}}</h4></li>
				<div style="clear:both;" class="row">
					<button data-action="run" class="col col-50 wager-box">Run</button>
					<button data-action="pass" class="col col-50 wager-box">Pass</button>
				</div><div class="row">
					<button data-action="interception" class="col col-50 wager-box">Interception</button>
					<button data-action="fumble" class="col col-50 wager-box">Fumble</button>
				</div>
			</div>

			<!-- Replace with chart -->
			<div style="margin-left:30px; float:left;">
				<ul> 
					<li><strong>Run:</strong> {{usersRun.length}} </li>
					<li><strong>Pass:</strong> {{usersPass.length}}</li> 
					<li><strong>Interception:</strong> {{usersInterception.length}}</li>
					<li><strong>Fumble:</strong> {{usersFumble.length}}</li>
				</ul> 
			</div>
		{{/each}}
		</ul>
	</div>	
</template>


<template name="oldQuestionList">
	<div class=" panel">
		<h3>Old Questions</h3>
		<ul class="old-questions">
		{{#each questions}}
			<li class="{{_id}}"> {{que}}</li>
		{{/each}}
		</ul>
	</div>	
</template>