<template name="admin">
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title" style="color:white;">Admin Panel</h1>
   		 {{/contentFor}}


		{{> createQuestion}}
		{{> activeQuestionList}}
		{{> pendingQuestionList}}
		{{> oldQuestionList}}
	
		  {{/ionContent}}
	  {{/ionView}}
    </div>
</template>

 
<template name="createQuestion">
	<div class=" panel">
		<h3>Create Question</h3>
		<form id="question">
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">Kickoff 1st quater</button>
		<button class="col col-25 wager-box" data-action="normal-play">Kickoff 2nd quater</button>	
		<button class="col col-25 wager-box" data-action="normal-play">Kickoff 3rd quater</button>	
		<button class="col col-25 wager-box" data-action="normal-play">Kickoff 4th quater</button>	
		</div>
		<br>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">1st and 10 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">1st and 10 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">1st and 10 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">1st and 10 yards goal line</button>
		</div>
		<br>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 10 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 10 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 10 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 10 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 9-5 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 9-5 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 9-5 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 9-5 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 4-1 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 4-1 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">2nd and 4-1 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">2nd and 4-1 yards goal line</button>
		</div>
		<br>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 10 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 10 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 10 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 10 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 9-5 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 9-5 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 9-5 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 9-5 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 4-1 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 4-1 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">3rd and 4-1 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">3rd and 4-1 yards goal line</button>
		</div>
		<br>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">4th and 10 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 10 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">4th and 10 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 10 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">4th and 9-5 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 9-5 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">4th and 9-5 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 9-5 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-25 wager-box" data-action="normal-play">4th and 4-1 yards back third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 4-1 yards middle third</button>
		<button class="col col-25 wager-box" data-action="normal-play">4th and 4-1 yards last third</button>
		<button class="col col-25 wager-box" data-action="kickoff-play">4th and 4-1 yards goal line</button>
		</div>
		<div class="row">
		<button class="col col-50 wager-box" data-action="4th-down-play">4th Down</button>
		<button class="col col-50 wager-box" data-action="point-after">Point After</button>
		</div>
		</form>
	</div>
</template>

<template name="activeQuestionList">
	<div class=" panel">
		<h3>Active Questions</h3>
		<ul class="active-questions">
		{{#each questions}}
			<div>
			<li style="float:left" class="{{_id}}"> {{que}}</li>
			<button data-action="deactivate" class="yes full button button-balanced">Deactivate</button>
			</div>
		{{/each}}
		</ul>
	</div>	
</template>

<template name="pendingQuestionList">
	<div class="panel">

		<h3>Pending Questions</h3>

		<ul class="pending-questions">
		{{#each questions}}
			<div style="clear:both;">
			<li style="float:left" class="{{_id}}"> <h4>{{que}}</h4></li>

			<button data-action="remove" class="yes full button button-assertive">Remove question</button>

			<div style="clear:both;" class="row">
					<button data-action="option1" class="col col-50 wager-box">{{options.option1.title}}</button>
					<button data-action="option2" class="col col-50 wager-box">{{options.option2.title}}</button>
			</div>
			<div class="row">
					<button data-action="option3" class="col col-50 wager-box">{{options.option3.title}}</button>
					<button data-action="option4" class="col col-50 wager-box">{{options.option4.title}}</button>
				</div>
			</div>

			<!-- Replace with chart -->
			<div style="margin-left:30px; float:left;">
				<ul> 
					<li><strong>{{options.option1.title}}:</strong> {{options.option1.usersPicked.length}} </li>
					<li><strong>{{options.option2.title}}:</strong> {{options.option2.usersPicked.length}}</li> 
					<li><strong>{{options.option3.title}}:</strong> {{options.option3.usersPicked.length}}</li>
					<li><strong>{{options.option4.title}}:</strong> {{options.option4.usersPicked.length}}</li>
				</ul> 
			</div>

		{{/each}}
		</ul>
	</div>	
</template>


<template name="oldQuestionList">
	<div class=" panel">
		<h3>Old Questions</h3>
		<ul class="old-questions">
		{{#each questions}}
			<div class="item">
				<li class="{{_id}}"> {{que}} <br>{{dateCreated}} <br> {{play}}</li> 
<!-- 				<button style="clear: both;" class="button right-button" data-ion-popover="_adminPopover">
		        {{> ionIcon icon="more"}}
		    </button> -->
		    <div style="margin-bottom: 10px;">
		    <button class="fourth button " data-action="editOption1">{{options.option1.title}}</button>
		    <button class="fourth button" data-action="editOption2">{{options.option2.title}}</button>
		    <button class="fourth button" data-action="editOption3">{{options.option3.title}}</button>
		    <button class="fourth button" data-action="editOption4">{{options.option4.title}}</button>
		    </div>
		    <button data-action="permenantRemove" class="yes full button button-assertive">Remove question</button>
	   	</div>
		{{/each}}
		</ul>
	</div>	
</template>

<!-- <template name="_adminPopover">
  {{#ionPopover class="popover-edit"}}
    <div class="content">
      <div class="list">
      {{#each option}}
        <a class="item item-icon-right" href="#">
        	Something something
          {{options.option1.title}}
          {{> ionIcon icon="ios-arrow-right"}}
        </a>
      {{/each}}
      </div>
    </div>
  {{/ionPopover}}
</template> -->