<template name="createQuestion">
	<div class="panel ten-spacing">
    <div>
      <input type="range" class="play-slider" id="down" name="down" value="1" list="a-values" min="1" max="4" step="1" />
        <option class="slider-4" value="1" label="First Down">
        </option>
        <option class="slider-4" value="2" label="Second Down">
        </option>
        <option class="slider-4" value="3" label="Third Down">
        </option>
        <option class="slider-4" value="4" label="Forth Down">
        </option>

      <input type="range" class="play-slider" id="yards" name="yards" value="1" list="a-values" min="1" max="6" step="1" />
        <option class="slider-6" value="1" label="Inches"></option>
        <option class="slider-6" value="2" label="1-2 Yards">
        </option>
        <option class="slider-6" value="3" label="3-5 Yards">
        </option>
        <option class="slider-6" value="4" label="6-9 Yards">
        </option>
        <option class="slider-6" value="5" label="10-15 Yards">
        </option>
        <option class="slider-6" value="6" label="15+ Yards">
        </option>

      <input type="range" class="play-slider" id="area" name="area" value="1" list="a-values" min="1" max="6" step="1" />
        <option class="slider-6" value="1" label="0-10"></option>
        <option class="slider-6" value="2" label="11-30">
        </option>
        <option class="slider-6" value="3" label="30-60">
        </option>
        <option class="slider-6" value="4" label="60-80"></option>
        <option class="slider-6" value="5" label="80-90">
        </option>
        <option class="slider-6" value="6" label="90-100"></option>

      <input type="range" class="play-slider" id="style" name="style" value="2" list="a-values" min="1" max="3" step="1" />
        <option class="slider-3" value="1" label="Time Wasting">
        </option>
        <option class="slider-3" value="2" label="Neutral">
        </option>
        <option class="slider-3" value="3" label="Hurry Up">
        </option>
    </div>
  	<button class='button button-balanced col-md-100 float-left ten-spacing' data-action="createQuestion">
      Create Question
    </button>

    <div class="clear-fix"></div>
    <div class="ten-spacing">
      <button class='col-md-45 button button-stable float-left' data-action="PAT"> 
        PAT 
      </button>

      <button class='col-md-45 button button-stable float-left' data-action="kickoff"> 
        Kickoff 
      </button>
    </div>
	</div>
</template>