<template name="gameCharts">
	
	 {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
    {{#if isAndroid}}
      {{> ionIcon icon='android-more-vertical'}}
    {{else}}
      {{> ionIcon icon='navicon'}}
    {{/if}}
  </button>
{{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Find Friends</h1>
 {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}

<div id="chart1" style="height: 500px;" class='with-3d-shadow with-transitions'>
    <svg></svg>
</div>

    {{#each game "J6DAePumAo46FR8eL"}} 
			{{que}} - {{usersAnswered.length}}- {{dateCreated}}<br>
			{{options.option1.usersPicked.length}}
			{{options.option2.usersPicked.length}}
			{{options.option3.usersPicked.length}}
			{{options.option4.usersPicked.length}}
			{{options.option5.usersPicked.length}}
			{{options.option6.usersPicked.length}}
			<br>
    {{/each}}

    {{/ionContent}}
  {{/ionView}}

</template>