<template name="invites">
	{{#ionView}}
		{{#ionContent}}	

		{{#contentFor "headerButtonLeft"}}
	    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
	      {{#if isAndroid}}
	        {{> ionIcon icon='android-more-vertical'}}
	      {{else}}
	        {{> ionIcon icon='navicon'}}
	      {{/if}}
	    </button>
	  {{/contentFor}}
			 
		{{#contentFor "headerTitle"}}
			<h1 class="title white-text-header">Waiting list</h1>
		{{/contentFor}}

		Total on wait list {{count}}

		{{#ionList}}
		 	{{#each invite}}
		 		{{#ionItem buttonRight=true}} 
		 			{{inviteNumber}} - {{email}} - {{requested}}
		 			<button class="button" data-action="invite">
			        {{> ionIcon icon="more"}}
			      </button>
		 		{{/ionItem}}
		 	{{/each}}

		{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>