<template name="adminSettings">
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title white-text-header">Admin Settings</h1>
   		 {{/contentFor}}
		

			<form>
				<label>Update All User Coins:
				<input type="text" name="coins">
				</label>
				<input type="submit">
			</form>
<br>
<a class="button col col-25" href="/admin/trophies">
<i class="fa fa-trophy"></i>
Trophies</a>

		  {{/ionContent}}
	  {{/ionView}}
    </div>
</template>