<template name="singleGameAdmin">	
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title white-text-header">Single Game</h1>
	{{/contentFor}}

  {{#ionView}}
 		{{#ionContent}}	
 			<div class="container ten-spacing"> 
 				{{#with game}}
	 				{{> singleGameInfo game=this}}
		      {{> singleGameCard game=this}}
				{{/with}}
				<div class="ten-spacing"></div>
				{{> otherQuestions}}
				<div class="ten-spacing"></div>
				{{> createQuestion}}
				
				{{> activeQuestions}}
				{{> pendingQuestions}}
				{{> oldQuestions}}
			</div>
		{{/ionContent}}
	{{/ionView}}
</template>

<template name="otherQuestions">
	{{#if commercial}}
		<button class='col col-50 wager-box button button-assertive' style="float: left;" data-action="endCommercialBreak">
			End Commercial Break 
		</button>
	{{else}}
		<button class='col col-50 wager-box button button-balanced' style="float: left;" data-action="startCommercialBreak">
			Start of Commercial Break 
		</button>
	{{/if}}
	
	<button class='col col-50 wager-box button button-dark' style="float: left;" data-action="situationalQuestion"> 
		Situational Question 
	</button>
	
	<button class='col col-50 wager-box button button-royal' style="float: left;" data-action="thisDrive"> 
		This Drive 
	</button>

	<button class='col col-50 wager-box button button-positive' style="float: left;" data-action="thisDrive"> 
		This Drive 
	</button>
</template>

<template name="activeQuestions">
	<div class="panel">
		<h3>Active Questions</h3>
		<ul class="active-questions">
		{{#each questions}}
			<div>
			<li style="float:left" class="{{_id}}"> {{que}}</li>
			<button data-action="deactivate" class="yes full button button-balanced">Deactivate</button>
			</div>
		{{/each}}
		</ul>
	</div>	
</template>

<template name="pendingQuestions">
	<div class="panel">
		<h3>Pending Questions</h3>
		<ul class="pending-questions">
			{{#each q in questions}}
				{{> pendingQuestion q=q}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="pendingQuestion">
	<li class="clear-fix"> 
		<h4>{{q.que}}</h4>
		<div>
			<button data-action="removeQuestion" class="col-md-50 button button-assertive">Remove question</button>
			<button data-action="reactivate" class="col-md-50 button button-balanced">Reactivate question</button>
		</div>
		{{#each o in options q}}
			{{> selectOption o=o q=q}}
		{{/each}}`
	</li>
</template>

<template name="oldQuestions">
	<div class="panel"> 
		<h3>Old Questions</h3>
		<ul class="pending-questions">
			{{#each q in questions}}
				{{> oldQuestion q=q}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="oldQuestion">
	<li class="clear-fix"> 
		<h4>{{q.que}} -- {{q.outcome}}</h4>
		<div>
			<button data-action="removeQuestion" class="col-md-50 button button-assertive">Remove question</button>
			<button data-action="reactivate" class="col-md-50 button button-balanced">Reactivate question</button>
		</div>
		{{#each o in options q}}
			{{> selectOption o=o q=q}}
		{{/each}}
	</li>
</template>

<template name="selectOption">
	<button data-action="playSelection" class="button col-md-50" value="{{o.option}}">
		{{o.title}}
	</button>
</template>