<template name="singleGameAdmin">	
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title white-text-header">Single Game</h1>
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<button data-action="gameEdit" class="button button-clear pull-right">
	    {{> ionIcon icon='gear-a'}}
	  </button>
  {{/contentFor}}

  {{#ionView}}
 		{{#ionContent}}	
 			<div class="container ten-spacing"> 
 				{{#with game}}
	 				{{> singleGameInfo game=this}}
		      {{> singleGameCard game=this}}
				{{/with}}
				
				{{> otherQuestions}}
				{{#if football}}
					{{> createQuestion}}
				{{/if}}
				{{> futureQuestions}}
				{{> activeQuestions}}
				{{> pendingQuestions}}
				{{> oldQuestions}}
			</div>
		{{/ionContent}}
	{{/ionView}}
</template>

<template name="otherQuestions">
	<div class="panel ten-spacing">
		{{#if commercial}}
			<button class='col-md-50 button button-assertive float-left' data-action="endCommercialBreak">
				Commercial: <strong>ON</strong>
			</button>
		{{else}}
			<button class='col-md-50 button button-balanced float-left' data-action="startCommercialBreak">
				Commercial: <strong>OFF</strong>
			</button>
		{{/if}}

		<button class='col-md-50 button button-dark float-left' data-ion-modal="_gameScoreModal"> 
			Change Score
		</button>
		
		<button class='col-md-33 button button-dark float-left' data-ion-modal="_situationalModal"> 
			Situational
		</button>
		
		<button class='col-md-33 button button-royal float-left' data-action="thisDrive"> 
			Drive 
		</button>
		
		<button class='col-md-33 button button-calm float-left' data-ion-modal="_propQuestion"> 
			Prop
		</button>
	</div>
</template>

<template name="futureQuestions">
	<div class="panel">
		<h3>Future Questions</h3>
		<ul class="active-questions">
			{{#each questions}}
				<li id="{{_id}}">
					<div class="col-md-70 activate-questions-inner float-left">
						[{{this.type}}] {{que}}
					</div>
					<button data-action="edit" class="button button-stable col-md-10">
							{{> ionIcon icon='edit'}}
					</button>
					<button data-action="activate" class="active-button col-md-20 button button-balanced">
						Activate
					</button>
				</li>
			{{/each}}
		</ul>
	</div>	
</template>

<template name="activeQuestions">
	<div class="panel">
		<h3>Active Questions</h3>
		<ul class="active-questions">
			{{#each questions}}
				<li id="{{_id}}">
					<div class="col-md-70 activate-questions-inner float-left">
						[{{this.type}}] {{que}}
					</div>
					<button data-action="edit" class="button button-stable col-md-10">
							{{> ionIcon icon='edit'}}
					</button>
					<button data-action="deactivate" class="active-button col-md-20 button button-balanced">
						Deactivate
					</button>
				</li>
			{{/each}}
		</ul>
	</div>	
</template>

<template name="pendingQuestions">
	<div class="panel">
		<h3>Pending Questions</h3>
		<ul class="pending-questions">
			{{#each q in questions}}
				{{> pendingQuestion q=q}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="pendingQuestion">
	<li class="clear-fix old"> 
		<h4 class="float-left col-md-80 padding-20">
			{{q.que}}
		</h4>
		<div class="float-right col-md-20 padding-20">
			<button data-action="edit" class="col-md-33 pending-options button button-stable">
				{{> ionIcon icon='edit'}}
			</button>
			<button data-action="removeQuestion" class="col-md-33 pending-options button button-assertive">
				{{> ionIcon icon='close-circled'}}
			</button>
			<button data-action="reactivate" class="col-md-33 pending-options button button-balanced">
				{{> ionIcon icon='checkmark-circled'}}
			</button>
		</div>
	
		<div class="clear-fix">
			{{#each o in options q}}
				{{> selectOption o=o q=q}}
			{{/each}}
		</div>
	</li>
</template>

<template name="oldQuestions">
	<div class="panel"> 
		<h3>Old Questions</h3>
		<ul class="pending-questions">
			{{#each q in questions}}
				{{> oldQuestion q=q}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="oldQuestion">
	<li class="clear-fix old"> 
		<h4 class="float-left col-md-80">
			{{q.que}} -- {{q.outcome}}
		</h4>
		<div class="float-right col-md-20 padding-20">
			<button data-action="removeQuestion" class="col-md-50 pending-options button button-assertive">
				{{> ionIcon icon='close-circled'}}
			</button>
			<button data-action="reactivate" class="col-md-50 pending-options button button-balanced">
				{{> ionIcon icon='checkmark-circled'}}
			</button>
		</div>
	
		<div class="clear-fix">
			{{#each o in options q}}
				{{> selectOption o=o q=q}}
			{{/each}}
		</div>
	</li>
</template>

<template name="selectOption">
	<button data-action="playSelection" class="button col-md-50" value="{{o.option}}">
		{{o.title}}
	</button>
</template>