<template name="situationDropDown">

	<optgroup label="Offense">
		<optgroup label="EAST">
			<option> {{team1}} </option>
			<option>Miami Dolphins</option>
			<option>New England Patriots</option>
			<option>New York Jets</option>
		</optgroup>

		<optgroup label="WEST">
			<option>Denver Broncos</option>
			<option>Kansas City Chiefs</option>
			<option>Oakland Raiders</option>
			<option>San Diego Chargers</option>
		</optgroup>
	</optgroup>

	<optgroup label="Defense">
		<optgroup label="EAST">
			<option>Sacks</option>
			<option>Dallas Cowboys</option>
			<option>New York Giants</option>
			<option>Philadelphia Eagles</option>
		</optgroup>
	</optgroup>

</template>