<template name="matchupCard">
	<div class="{{joined}} card-container" data-action="viewMatchup">
		<div class="matchup-card-header ">
			<div class="detail-container">
				<span class="game">{{gameName m.gameId}}</span>
				<span class="commissioner">
					{{> ionIcon icon='ios-person'}}
					{{commissioner m}}
				</span>
			</div>
			<span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
		</div>
		<div class="matchup-card-body card-detail-section">
			<div class="section">
				<div>{{> ionIcon icon='ios-people'}}</div>
				<div>{{users m.users}} of {{limitNum m.limitNum}}</div>
			</div>
			<div class="section">
				<div>{{> ionIcon icon='ios-people'}}</div>
				<div>{{m.secret}}</div>
			</div>
			<div class="section">
				<div>{{> ionIcon icon='ios-people'}}</div>
				<div>{{m.skill}}</div>
			</div>
			<div class="section">
				<div>{{> ionIcon icon='ios-people'}}</div>
				<div>1 game</div>
			</div>
		</div>
	</div>
</template>
