<template name="matchupCardList">
  <div class="card-list">
    <div class="card-list-header ten-spacing">Matchups</div>
    {{#if matchupCount}}
      {{#each matchup in matchups}}
        {{> matchupCard m=matchup}}
      {{/each}}
    {{else}}
      {{#ionItem buttonRight=true}}
        Challenge a Friend!
        <a href="/matchup/create" class="pre-game-pickks center-text" style="float: right; width: 10%;">{{> ionIcon icon="ios-arrow-right"}}</a>
      {{/ionItem}}
    {{/if}}
    <div class="card-list-footer" data-action="view-matchups">
      View Matchups
    </div>
  </div>
</template>
