<template name="createMatchup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Create Matchup</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="container ten-spacing hundred-bottom">
        {{> wizard id="createMatchup" route="create-matchup" steps=steps buttonClasses="button col-md-100 ten-spacing daily-pickk-cta daily-pickk-background animated fadeInRight" backButton=false confirmButton="Create Matchup!"}}
      </div>
    {{/ionContent}}
   {{/ionView}}
</template>

<template name="selectWho">
  {{#autoForm id="selectUsers" doc=step.data schema=step.schema}}
    <div class="item item-divider ten-spacing">Who Can Join?</div>
    <div id="secret">
      {{> afQuickField name='secret' }}
    </div>

    {{#if league}}
      {{> afQuickField type='select-radio' name='leagueId' options=userLeagues}}
    {{/if}}

    <div class="item item-divider ten-spacing">Limit</div>
    <div id="matchup-limit">
      {{> afQuickField type='select-radio' name='limitNum' }}
    </div>
    <div id="matchup-next-step">
      {{> wizardButtons}}
    </div>
  {{/autoForm}}
</template>

<template name="matchupLength">
  <div class="item item-divider ten-spacing">Length of Matchup</div>
  {{#autoForm id="matchupLength" doc=step.data schema=step.schema}}
    <div id="matchup-length">
      {{> afQuickField name='matchupLength'}}
    </div>
    <div id="matchup-next-step">
      {{> wizardButtons}}
    </div>
  {{/autoForm}}
</template>

<template name="matchupGames">
  <div class="hundred-bottom">
    {{#autoForm id="matchupGames" doc=step.data schema=step.schema}}
      <div id="matchup-game">
        {{> afQuickField name='gameId' data=dynamicFields}}
      </div>
      <div id="matchup-next-step">
        {{> wizardButtons}}
      </div>
    {{/autoForm}}
  </div>
</template>

<template name="matchupFinalDetails">
  {{#autoForm id='matchup-details' doc=step.data schema=step.schema}}
    {{#each game in games}}
      {{> entireGameCard game=game}}
      {{#if matchupLength "Q"}}
        <div class="item item-divider ten-spacing">Select Quarter</div>
        {{> afQuickField name="period" data=dynamicFields options=quarterOptions}}
      {{/if}}
      {{#if matchupLength "H"}}
        <div class="item item-divider ten-spacing">Select Half</div>

        {{> afQuickField name="period" data=dynamicFields options=halfOptions}}
      {{/if}}
    {{/each}}

    <!-- {{> afQuickField name='description'}} -->
    {{#if admin}}
      {{> afQuickField name='featured'}}
      {{> afQuickField name='featured'}}
    {{/if}}
    {{> wizardButtons}}
  {{/autoForm}}
</template>
