<template name="matchup">
  <!-- Standard Nav instead of the custom nav design -->
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Matchups</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button style="font-size: 11px;" class="button button-clear" data-ion-menu-toggle="right">
      {{> ionIcon icon="funnel"}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list container">
				{{#if anyMatchups}}
					{{#each matchup in matchups}}
						{{> matchupItem m=matchup}}
					{{/each}}
				{{else}}
					<div class="no-notifications">
						No Matchups Found.
					</div>
				{{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="matchupItem">
	<div class="item item-divider ten-spacing ">
		<span>{{matchupName m}}'s Matchup</span>
	</div>
  <div class="item {{joined}}">
    <h2>{{gameName m.gameId}}</h2>
		<strong class="col col-md-33">
			{{m.secret}}
		</strong>

		<strong class="col col-md-33">
			{{users m.users}} of {{limitNum m.limitNum}}
		</strong>

		<strong class="col col-md-33">
			{{m.skill}}
		</strong>


  </div>
</template>
