<template name="matchup">
  <!-- Standard Nav instead of the custom nav design -->
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Matchups</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button style="font-size: 11px;" class="button button-clear" data-action="filterMatchups">
      {{> ionIcon icon="funnel"}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
			{{> heroSection location="matchup"}}
      <div class="container hundred-bottom">
				{{#if anyMatchups}}
					{{#each matchup in matchups}}
						{{> matchupCard m=matchup}}
					{{/each}}
				{{else}}
					<div class="no-notifications">
						No Matchups Found.
					</div>
				{{/if}}
				<button class="ten-spacing button button-stable col col-100" data-action="createMatchup">Create Matchup</button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
