<template name="matchupFilter">
  <div class="bar bar-header bar-dark">
    <h1 class="title white-text-header">Filter Matchups</h1>
  </div>
  <div style="margin-top:64px;">
  {{#ionList}}
    <form id="privacy">
      <div class="item item-divider" style="border: 0">Privacy</div>
      {{#each option in privacy}}
        {{> radioOption o=option}}
      {{/each}}
    </form>
    <form id="featured">
      <div class="item item-divider" style="border: 0">Featured?</div>
      {{#each option in featured}}
        {{> radioOption o=option}}
      {{/each}}
    </form>
    <form id="size">
      <div class="item item-divider" style="border: 0">Games</div>
      {{#each option in size}}
        {{> radioOption o=option}}
      {{/each}}
    </form>
    <form id="matchup">
      <div class="item item-divider" style="border: 0">Games</div>
      {{#each option in games}}
        {{> radioOption o=option}}
      {{/each}}
    </form>
  {{/ionList}}
  </div>
</template>
