<template name="singleMatchup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Matchup Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#with matchup}}
    {{#if alreadyJoined this.users}}
      <button style="font-size: 13px;" class="button button-clear" data-action="editMatchup">
        {{> ionIcon icon="ios-gear"}}
      </button>
    {{/if}}
  {{/with}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with matchup}}
        <div id="single-matchup" class="container">
          {{> matchupCard m=matchup}}

          {{#if alreadyJoined this.users}}
            <div class="line-divider"></div>
            {{> matchupMember}}
          {{else}}
            {{> matchupJoin}}
          {{/if}}

          {{#each id in matchup.gameId}}
            {{#with game id}}
              <div class="line-divider"></div>
              {{> entireGameCard game=this}}
            {{/with}}
          {{/each}}

        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="matchupJoin">
  {{#if notMaxed}}
    {{#if allowToView}}
      <button data-action="joinMatchup" class="button-card full cta-button ten-spacing">
        Join Matchup
      </button>
      <div class="line-divider"></div>

      {{> matchupMember}}

    {{else}}
      {{#if request}}
        {{> requestInvite}}
      {{/if}}
    {{/if}}
  {{else}}
  {{/if}}
</template>

<template name="matchupMember">
  <div id="button-section">
    <div class="button-card half" data-action="viewMembers">
      {{> ionIcon icon="ios-gear"}}
      <span class="text">Members</span>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
    <div class="button-card half {{ifPlayer}}" data-action="invite">
      {{> ionIcon icon="ios-gear"}}
      <span class="text">Invite</span>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
    <div class="button-card half" data-action="viewLeaderboard">
      {{> ionIcon icon="ios-gear"}}
      <span class="text">Leaderboard</span>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
    <div class="button-card half" data-action="viewGame">
      {{> ionIcon icon="ios-gear"}}
      <span class="text">View Game</span>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
  </div>
</template>
