<template name="singleMatchup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="matchup"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Matchup Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#with matchup}}
    {{#if alreadyJoined this.users}}
      <button style="font-size: 13px;" class="button button-clear" data-action="editMatchup">
        {{> ionIcon icon="ios-gear"}}
      </button>
    {{/if}}
  {{/with}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with matchup}}
        <div id="single-matchup" class="container">
          {{> matchupCard m=matchup}}

          {{#if alreadyJoined this.users}}
            <div class="line-divider"></div>
            <div id="button-section">
              {{> matchupMember}}
            </div>
          {{else}}
            {{> matchupJoin}}
          {{/if}}

          {{#each id in matchup.gameId}}
            {{#with game id}}
              <div class="line-divider"></div>
              {{> entireGameCard game=this}}
            {{/with}}
          {{/each}}

        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="matchupJoin">
  {{#if notMaxed}}
    {{#if allowToView}}
      <button data-action="joinMatchup" class="button-card full cta-button ten-spacing">
        Join Matchup
      </button>
      <div class="line-divider"></div>

      <div id="button-section">
        {{> matchupMember}}
      </div>

    {{else}}
      {{#if request}}
        {{> requestInvite}}
      {{/if}}
    {{/if}}
  {{else}}
    {{#if league}}
      <div class="button-card half" data-action="viewLeague">
        {{> pickkIcon size="small" icon="league"}}
        <span class="text">League</span>
        <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="matchupMember">
  <div class="button-card half" data-action="viewMembers">
    {{> pickkIcon size="small" icon="player"}}
    <span class="text">Players</span>
    <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
  </div>
  <div class="button-card half {{ifPlayer}}" data-action="invite">
    {{> pickkIcon size="small" icon="invite"}}
    <span class="text">Invite</span>
    <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
  </div>
  <div class="button-card half" data-action="viewLeaderboard">
    {{> pickkIcon size="small" icon="leaderboard"}}
    <span class="text">Leaderboard</span>
    <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
  </div>
  {{#if league}}
    <div class="button-card half" data-action="viewLeague">
      {{> pickkIcon size="small" icon="league"}}
      <span class="text">View League</span>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
  {{/if}}
</template>
