<template name="userProfile">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
    {{#with profile}} {{this.profile.username}} {{/with}} Profile
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    {{> loader}} 
    {{#if Template.subscriptionsReady}}  
    <div class="loading-wrapper">
    {{#with profile}}
    	<div style="margin-left:20px;">        
        <img style="float: left; margin-bottom: 25px; width: 75px;" src="{{userAvatar this._id}}" class="circle-image">
        <div style="float: left; margin:30px">
        <h4>{{username}}</h4>
        {{{following}}} Following
        {{{follower}}}Followers<br>

        </div>
      </div>
        {{#if ownProfile}}
          {{> followerCheck}}
        {{/if}}
      {{#ionList}}
      <div  style="clear:both;" class="item item-divider">Badges</div>

      <div class="item item-divider">Trophies</div>
      {{#ionItem}}
          {{#each trophy}}
            {{#with trophyData this}}
            <div class="col-25" style="float: left; padding: 0 5px;">
              <img width="70px" src="/{{image}}">
            </div>
            {{/with}} 
          {{/each}}
      {{/ionItem}}

      <div class="item item-divider">Groups</div>
          {{#each group}}
            {{> displayGroup groupId=this}}
          {{/each}}
        {{/ionList}}

    {{/with}}
    </div>
    {{/if}}
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="displayGroup">
  {{#with groupName groupId}}            
    {{#ionItem path="group.show" avatar=true}}
      <img src="{{avatar}}">
      {{name}}
    {{/ionItem}}
  {{/with}}
</template>

<template name="followerCheck">
  {{#if alreadyFollower }}
    <button data-action="unfollowUser" id="join-toggle" class="button button-assertive col col-100">Unfollow</button>

  {{else}}
    <button data-action="followUser" id="join-toggle" class="button button-balanced col col-100">Follow</button>
  {{/if}}
</template>


