<template name="userProfile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{username}} Profile
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
          
      {{> userAvatar userId=_id}}
      <div style="float: left; margin:30px">
        <h4>{{username}}</h4>
        {{profile.following.length}} Following
        {{profile.followers.length}} Followers
        <br>
      </div>

      {{#if ownProfile}}
        {{> followerCheck}}
      {{/if}}

      {{#ionList}}
        <div class="item item-divider">Badges</div>
        <div class="item item-divider">Trophies</div>
        
        {{#each profile.trophies}}
          {{> userTrophies id=this}}
        {{/each}}

        <div class="item item-divider">Groups</div>
        {{#each profile.groups}}
          {{this}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="usersTrophies">
  {{id}}
</template>


<template name="displayGroup">
  {{#with groupName groupId}}
    {{groupId}}
<!--     {{#ionItem path="group.show" avatar=true}}
      {{> groupAvatar}}
      {{name}}
    {{/ionItem}} -->
  {{/with}}
</template>

<template name="followerCheck">
  {{#if alreadyFollower }}
    <button data-action="unfollowUser" id="join-toggle" class="button button-assertive col col-100">Unfollow</button>

  {{else}}
    <button data-action="followUser" id="join-toggle" class="button button-balanced col col-100">Follow</button>
  {{/if}}
</template>


