.play-slider {
	width:85%!important;
	clear:both;
	float: left;
	margin-left: 7.5%;
}

.slider-6 {
	border: 1px solid black;
	float: left;
  width: 16.66%;
  text-align: center;
}

.slider-3 {
	border: 1px solid black;
	float: left;
  width: 33%;
  text-align: center;
}

.slider-4 {
	border: 1px solid black;
	float: left;
  width: 25%;
  text-align: center;
}

.item-toggle .toggle {
	position: inherit!important;
}

#gameInfo {
	background-color: white;
}