.play-slider {
	width:85%!important;
	clear:both;
	float: left;
	margin-left: 7.5%;
}

.slider-6 {
	border: 1px solid black;
	float: left;
  width: 16.66%;
  text-align: center;
}

.slider-3 {
	border: 1px solid black;
	float: left;
  width: 33%;
  text-align: center;
}

.slider-4 {
	border: 1px solid black;
	float: left;
  width: 25%;
  text-align: center;
}

.item-toggle .toggle {
	position: inherit!important;
}

#gameInfo {
	background-color: white;
}

#question-input {
	height: 2rem;
	font-size: 2rem;
	margin-top: 50px;
}

.option-range {
	width: 28%;
	float: left;
	margin-left: 1%;
}

.option-boxes .option-range,
.option-boxes .option-title {
	border: 1px solid grey!important;
	height: 2.5rem;
	padding: 10px;
	margin-top: 5px;
}

.remove-option {
	width: 14%;
	background-color: red;
	color: white;
	height: 40px;
	margin: 5px 0 0;
}

.acceptable {
	border: #2ecc71 solid 1px!important;
}

.panel {
	background-color: white;
	border: #eee;
	padding: 10px 25px;
	margin-bottom: 10px;
	overflow: auto;
}

.active-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	width: 100%;
	color: black;
	margin: 5px 0;
	border: solid #2ecc71 1px;
}

.padding-20 {
	padding: 20px 0;
}

.active-que {
	
}

.pending-que {
	border-color: #2ecc71;
}

.old-que {
	border-color: #2ecc71;
}

.activate-questions-inner {
	padding: 10px;
}

.old-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	padding: 10px;
	width: 80%;
	float:left;
	color: #000;
	margin: 5px 0;
}

.pending-options {
	min-height: 41px!important;
	height: 41px!important;
	font-size: 1.4rem;
}