.base-diamond {
	height: 13px;
	width: 13px;
	margin: 0px; 
	background-color: white;
	border: 1px solid #a2a2a2;
	margin: 1px;
	-ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  float: left;
  clear: none;
}

.base-empty { 
	background-color: #E6B400!important;
	border: 1px solid #E6B400;
}

.admin-base-empty {
	background-color: transparent!important;
	border: 1px solid black!important;
}

.admin-base-size {
	background-color: black;
	width: 100px!important;
	height: 100px!important;
	margin:15px!important;
}

.admin-base-fix {
	margin-top: 100px!important;
}

.first-base-admin {
	margin-left: -33px!important;
}

.third-base-admin {
  margin-right: -33px!important;
}

.base-fix {
	margin-top: 10px;
}

.first-base {
	margin-left: -5px;
}

.third-base {
  margin-right: -5px;
}

.out {
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: #383838;
  float: left;
  margin: 3px;
}

.no-out {
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: white;
	border: 1px #fcfcfc solid;
  float: left;
  margin: 3px;
}

.player-slider {
	text-align: center;
	overflow-x: hidden;
  padding: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00695C;
  color: #fff;
}

.player-slider table {
	width: 100%;
}

.player-slider thead td {

}

.player-name {
	font-family: 'lato';
  font-weight: 700;
  font-size: 1.4rem;
}

.stacked-button {
	margin-top: 40px!important;
}

.admin-out {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: black;
	border: 1px white solid;
  float: left;
  margin: 3px;
} 

.admin-no-out {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: red;
	border: 1px white solid;	
  float: left;
  margin: 3px;
}

.player-active {
	font-weight: bold;
}