.chat {
	padding: 12px!important;
	font-size: 12px!important;
	clear: both;
}

#messageBox {
	padding: 10px;
  word-break: break-word;
  height: 75px;
  white-space:pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#chat-message-area {
  margin-bottom: 47px;
}

#chat-button{
  background-color: #222c31;
  padding: 5px!important;
	line-height: 25px!important;
	min-width: 0!important;
	min-height: 0!important;
	float: right!important;
}

.message .overlay{
	opacity: 1;
}

#options {
  width:100%;
  float: left;
  background-color: #303E46;
  padding: 10px 0;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
	color: white;
	font-family: 'lato'
}

.reply-emoji {
	height: 2rem;
	width: 2rem;
	background: blue;
    -webkit-mask: url(/emoji/Line/Emoji-Party-Pack_Line-01.svg) center / contain no-repeat;
}

.reply-icon {
	font-size: 2.2rem;
}

.single-message {
  padding-bottom: 0px!important;
  padding-top: 5px!important;
}

.single-message .user-avatar {
  top: 5px!important;
}

.single-message p img, .reaction-message {
	width: 30%;
  height: 40%;
}

.preview {
	width: 45px;
}

.icon-small {
  max-width: 20px;
  min-width: 20px;
  font-size: 1.5rem;
  margin: 0 7px;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.space-between-icon {
	padding-left: 15px;
}

.chat-buttons {
  background-color: #222c31;
  color: white;
  font-family: lato;
	height: 47px;
	padding-top: 15px;
	text-align: center;
	border-top-color: #000;
  border-top-style: none;
  border-top-width: 0px;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 0px;
}

.single-chat-buttons {
  border: 0px solid blue;
  background-color: white;
  height: 35px;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  color: #565555;
  font-size: .8rem 
}

div.content.overflow-scroll.has-header {
	bottom: 0px!important;
}

.load-more-wrapper {
    padding: 10px;
}

.load-more-wrapper button {
    width: 100%;
}

.reaction-row {
  padding: 0 20px;
}

.reaction-count {
  font-size: 10px;
  margin-left: -5px;
}

#chat-submit {
  background-color: #B2B2B2;
}

.allow-chats {
  background-color: #F1C40F!important;
}

.option-dividers {
  border-left: 1px solid white;
}

.option-dividers:first-child {
  border: 0px;
}