.chat {
	padding: 12px!important;
	font-size: 12px!important;
	clear: both;
}

#messageBox {
	padding: 10px;
}

#chat-button{
  padding: 5px!important;
	line-height: 25px!important;
	min-width: 0!important;
	min-height: 0!important;
	float: right!important;
}

.message .overlay{
	opacity: 1;
}

.chat-options {
  width:100%;
  float: left;
  background-color: #009688;
  padding: 10px 0;
  text-align:center;
  opacity:0;
  -webkit-transition: all 1s ease-in-out;;
  transition: all 1s ease-in-out;;
	color: white;
	font-family: 'lato'
}

.reply-emoji {
	height: 2rem;
	width: 2rem;
	background: blue;
    -webkit-mask: url(/emoji/Line/Emoji-Party-Pack_Line-01.svg) center / contain no-repeat;
}

.reply-icon {
	font-size: 2.2rem;
}