.chat {
	padding: 12px!important;
	font-size: 12px!important;
	clear: both;
}

#messageBox {
	padding: 10px;
  word-break: break-word;
  height: 75px;
}

#chat-button{
  background-color: #222c31;
  padding: 5px!important;
	line-height: 25px!important;
	min-width: 0!important;
	min-height: 0!important;
	float: right!important;
}

.message .overlay{
	opacity: 1;
}

#chat-options {
  width:100%;
  float: left;
  background-color: #009688;
  padding: 10px 0;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  -webkit-transition: all 1s ease-in-out;;
  transition: all 1s ease-in-out;;
	color: white;
	font-family: 'lato'
}

.reply-emoji {
	height: 2rem;
	width: 2rem;
	background: blue;
    -webkit-mask: url(/emoji/Line/Emoji-Party-Pack_Line-01.svg) center / contain no-repeat;
}

.reply-icon {
	font-size: 2.2rem;
}

#single-message p img {
	width: 50%;
}

.preview {
	width: 45px;

}

.icon-small {
  max-width: 20px;
  min-width: 20px;
}

.space-between-icon {
	padding-left: 15px;
}

.chat-buttons {
  background-color: #222c31;
  color: white;
  font-family: lato;
	height: 47px;
	padding-top: 15px;
	text-align: center;
	border-top-color: #000;
  border-top-style: none;
  border-top-width: 0px;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 0px;
}

div.content.overflow-scroll.has-header {
	bottom: 0px!important;
}

.load-more-wrapper {
    padding: 10px;
}

.load-more-wrapper button {
    width: 100%;
}

.reaction-count {
  font-size: 10px;
  margin-left: -5px;
}

#chat-submit {
  background-color: #B2B2B2;
}

.allow-chats {
  background-color: #F1C40F!important;
}