h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
}

.hidden {
  display: none;
}

.float-left {
  float: left;
}

.outer-coin {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFD527;
  border-radius: 100%;
}

.inner-coin {
  background-color: #FF8E34;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 100%;
  position: relative;
  top: 5px;
  left: 5px;
}

.option-fix {
  min-height: 0;
}

.filter-section {
  overflow: auto;
}

.filter-box {
  float: left;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 10%;
  margin: 5px;
  color: #fff;
  font-weight: bold;
}

.filter-section h4{
  margin: 10px 20px 0 0!important;
}

.card-list, .card-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  border-radius: 5px;
}

.card-list-header {
  border-radius: 5px 5px 0 0;
  background-color: #37474F!important;
  color: white;
  font-family: "Lato";
  font-weight: bold;
  height: 47px;
  padding: 15px 15px 0;
  font-size: 1.2rem;
  clear: both;
}

.card-list-header .button {
  display: flex;
  justify-content: flex-end;
}

.card-list-header .icon {
  margin: -13px 0;
}

.card-list-footer {
  height: 40px;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  background-color: #EFEFEF;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-family: "Lato";
}

.card-list .card-container {
  margin-top: 0!important;
  box-shadow: none!important;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.card-list .card-container:last-child{
  border-bottom: 0px!important;
}

.card-container {
  margin-top: 10px;
}

.button-card {
  /*box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'lato';
}

.button-card .icon {
  font-size: 1.3rem;
  width: 20%;
  float: left;
}

.button-card .text {
  width: 70%;
  float: left;
  font-weight: bold;
}

.button-card .arrow {
  width: 10%;
  float: left;
}

.full {
  float: left;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.half {
  float: left;
  background-color: white;
  padding: 15px 10px;
  width: 48.75%;
}

.half:nth-of-type(2n) {
  margin-left: 2.5%;
}

.half:nth-of-type(2n + 1) {
  margin-top: 5px;
}

.half:nth-of-type(2n + 2) {
  margin-top: 5px;
}

.cta-button {
  color: white!important;
  background: linear-gradient(to bottom right, #9EE800 0%, #4A9200 100%)
}

.line-divider {
  margin: 10px 5% 0 ;
  width: 90%;
  height: 1px;
  background-color: #CACCCD;
  display: inherit;
}

#button-section {
  width: 100%;
  display: table;
}


.photo-upload-container {
  margin: 50px 0;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}

.photo-upload-container span{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.circle-image {
	border-radius: 100%;
	width: 50%;
	border: 3px solid white;
}

.photo-size-small{
  width: 50px!important;
  height: 50px!important;
}
.photo-size-medium{
  width: 100px!important;
  height: 100px!important;
}
.photo-size-large{
  width: 150px!important;
  height: 150px!important;
}

.hidden {
	display: none
}

.move-to-next-step-without-completing-goal {
  text-decoration: underline;
  text-align: right;
  margin-right: 50px;
  font-style: italic;
  color: #808080;
}
