.outer-coin {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFD527;
  border-radius: 100%;
}

.inner-coin {
  background-color: #FF8E34;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 100%;
  position: relative;
  top: 5px;
  left: 5px;
}

.float-left {
  float: left;
}