.emoji-layer .popover {
    width: 230px;
}

.emoji-layer button {
    width: 50px;
    height: 50px;
    margin: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
