.complete-game-card {
	margin-bottom: 10px;
}

.single-game-card {
	width: 100%;
	background-color: white;
	font-family: lato;
	font-weight: bold;
	font-size: 18px;
}

.single-game-shared {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.single-game-info {
	height: 40px;
	background-color: #455A64;
	color: white;
}

.single-game-cta {
	height: 34px;
	background-color: #F1C40F;
	font-weight: bold;
	font-family: lato; 
}

.future-game-cta {
	height: 34px;
	background-color: green;	
	color: white;
}

.single-game-section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row 
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-left: 1px solid white;
}

.single-game-section:first-child {
	border-left: 0px;
}

.team-block{
	width: 100%;
	height: 44px;
	display: table;
}

.team-block:last-child {
	margin-top: -1px;
}

.team-block:last-child .team-colors {
	border-top: 1px solid #979797;
}

.team-block-border {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #DDDDDD;
	border-left: none;
	height: 45px;
}

.team-text{
	display: table-cell;
	vertical-align: middle;
}

.team-colors {
	width: 20%;
	text-align: center;
	font-weight: bold; 
	color: white;
}

.team-name {
	width: 70%;
}

.team-score {
	text-align: center;
	width: 20%;
}

#notification-center {
	height: 90px;
}

.single-notification {
	padding: 0 2px;
}

.single-notification > .notification-has-image {
	height: 91px;
  background-color: #ffc900;
}

.single-notification > .notification-has-image p{
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  font-family: lato;
}	

.single-notification .notification-image{
	max-width: 66px;
  max-height: 61px;
}