.complete-game-card {
	margin-bottom: 10px;
}

.single-game-card {
	width: 100%;
	background-color: white;
	font-family: lato;
	font-size: 16px;
}

.single-game-shared {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}

.single-game-info {
	height: 40px;
	background-color: #455A64;
	color: white;
}

.single-game-cta {
	height: 34px;
	background-color: #F1C40F;
}

.future-game-cta {
	height: 34px;
	background-color: green;	
	color: white;
}

.single-game-section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row 
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.team-block{
	width: 100%;
	height: 44px;
	display: table;
}

.team-text{
	display: table-cell;
	vertical-align: middle;
}

.team-colors {
	width: 20%;
	text-align: center;
	font-weight: bold; 
	color: white;
}

.team-name {
	padding: 0 0 0 15px;
	width: 60%;
}

.team-score {
	text-align: center;
	width: 20%;
}