.still-active{
	color: green!important;
	font-weight: 800;
}

.winner {
	color: purple;
	font-weight: bold;
}

.question-text {
	white-space: normal;
}

.question-attributes {
	list-style: none;
	clear: both;
	font-size: 14px;
}