#history .item{
	width: 100%;
	white-space: initial;
}

.history-item {
	padding: 5px 10px!important;
	margin-left: 0px!important;
	display: flex!important;
	align-items: center;
}

.history-inprogress {
	border-left: 10px solid green!important;
}

.history-live {
	padding-left: 15px!important;
}

.history-pending {
	padding-left: 15px;
}

.history-correct {
	border-left: 5px solid purple!important;
}

.history-correct .single-question-history-top .question-text,
.history-correct .single-question-history-top .outcome-coins{
	font-weight: bold;
	color: purple!important;
}

.history-incorrect {
	border-left: 5px solid gray!important;
}

.question-inner {
	width: 95%;
	float: left;
}

.single-question-history-top {
	display: flex;
}

.single-question-history-bottom {
	display: flex;
	font-size: 0.85rem;
}

.question-text {
	white-space: normal;
	width: 70%;
	font-weight: bold;
	float: left;
	clear: both;
	font-size: 1rem;
	letter-spacing: 0.7px;
}

.outcome-coins {
	width: 30%;
	font-size: 1rem;
	float: right;
	text-align: right;
}

.history-item .arrow {
	display: flex;
	justify-content: flex-end;
	width: 5%;
	float: left;
}

.question-attributes {
	width: 100%;
	list-style: none;
	float: left;
	clear: both;
}

.question-attribute-title {

}

.question-attributes > li {
	clear: both;
	float: left;
}

.question-details {
	width: 100%;
}

.question-details > li{
	float: left;
}

.time-ago {
	width: 100%;
	justify-content: flex-start;
  align-items: center;
	font-style: italic;
  display: flex;
	font-size: 0.85rem;
}
