.hero-section {
	height: 200px;
	background-size: contain;
}

.single-slide {
	background-size: cover;
	display: flex!important;
	height: 100%;
}

.slider-text {
	width: 100%;
	padding: 15px;
	bottom: 0;
	font-size: 1.25rem;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	font-family: lato;
	align-self: flex-end;
}

.s-alert-info{
	background-size: cover;
	background-image: url('/coins3.png');
	background-color: transparent;
	color: black;
	height: 100px;
}

.s-alert-info .s-alert-box-inner {
	padding: 4px;
	margin-top: 10px;
	background-color: rgba(222,148,0,0.75)!important;
	-webkit-box-shadow: 1px 0px 18px 8px rgba(222,148,0,0.75);
	-moz-box-shadow:    1px 0px 18px 8px rgba(222,148,0,0.75);
	box-shadow:         1px 0px 18px 8px rgba(222,148,0,0.75);
}

.s-alert-warning {
	padding: 10px!important;
}

.s-alert-warning > .s-alert-box-inner > p {
	padding: 0!important;
	width: 90%;
}

.diamond {
  float: right;
  width: 70%;
  margin-right: 10px!important;
  padding: 0!important;
}

.dashboard-buttons {
	background-color: #222c31!important;
	color: white!important;
}

.numberNotification {
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 100%;
	color: black;
	padding: 5px 10px;
	font-size: 1.2rem;
}

.daily-pickk-text{
	font-size: 1.2rem;
}

.daily-pickk-cta {
	background-color: #26ad68!important;
	color: white!important;
	border: 0!important;
}
