.full-landing {
	height: 100%;
	background-color: #37474f; 
}

.intro {
	margin-top: 25px;
}

.cta {
	width: 48%;
}

.register {
	font-weight: 500;
	margin-left: 2%;
}

.cta-fed33e {
	background-color: #fee345;
	color: black;
	border: 1px solid #fed33e;
}

.cta-2b1d4d {
	background-color: #2b1d4d;
	color: white;
	border: 1px solid #2b1d4d;	
}

.cta-26ad68 {
	background-color: #26ad68;
	color: white;
	border: 1px solid #26ad68;	
}

button.at-social-btn i {
	float:none!important;
	margin-top: 10px;
  padding-top: 2px;
}

.landing-bg {
	background-color: #F5F5F5;
}

.landing-image {
	margin-left: auto;
	margin-right: auto;
	width:14rem;
	max-height: 50%;
}

.first-screen {
	background-image: url('/phone_in_hand.png');
	background-size: cover;
	background-position: center; 
	text-align: left;
	color: white!important;
}

.second-screen {
	background-image: url('/friends.jpg');
	background-size: cover;
	background-position: center; 
	text-align: left;
	color: white!important;
}
 
.slider-box {
	height:80%;
	text-align: center;
	overflow-x: hidden;
}

.inner-slide-box{
	padding-top: 50px; 
	color: #424242;
}

.inner-slide-box h3{
	color: white;
}

#landing h1 {
	font-family: 'open sans';
	font-size: 1.8rem;
	font-weight: 600;
	color: #212121;
}

#landing p {
	font-family: 'lato';
	color: #212121;
	font-size: 1.25rem;
	padding: 0 10%;
	line-height: 2.5rem
}

.login {
	clear:both;
}

.divider {
	clear:both;
}

.social-button {
	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	clear: both; 
	color: #FFF;
	border: 0; 
	padding: 10px;
	margin-bottom: 20px;
}

.facebook{
	background-color: #3b5998;
}
.twitter {
	background-color: #55acee;
}

.entry-social button#entry-facebook {
	border: 0;
	width: 240px;
}

.entry-social button#entry-twitter {
	border: 0;
	width: 240px;
}