.intro {
	text-align: center;
	margin-top: 25px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.intro form {
	overflow: auto;
}

.intro input {
	font-size: 1.25em;
	margin-bottom: 10px;
	border: none;
	padding: 10px;
	line-height: 1.5em;
	-webkit-appearance: none;
}

.intro input[type="submit"]{
	width: 100%;
	margin-top: 0px;
	background-color: #2ecc71;
	border: none;
	font-size: 1.2em;
	color: white;
	float: right;
}

.thanks-message {
	width: 50%;
  margin: 15px;
  text-align: center;
  padding: 37px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;

}

button.at-social-btn i {
	float:none!important;
	margin-top: 10px;
  padding-top: 2px;
}

.landing-bg {
	background-color: #f2ebda;
}

.landing-image {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px; 
}

.first-screen {
	background-image: url('/phone_in_hand.png');
	background-size: cover;
	background-position: center; 
	text-align: left;
	color: white!important;
}

.second-screen {
	background-image: url('/friends.jpg');
	background-size: cover;
	background-position: center; 
	text-align: left;
	color: white!important;
}

.slider-box {
	height:80%;
	text-align: center;
	overflow-x: hidden;
}

.inner-slide-box{
	padding-top: 50px; 
	color: #424242;
}

.inner-slide-box h3{
	color: white;
}

#landing .slider-pager .slider-pager-page {
	color: #FFF;
}

.login {
	clear:both;
}

.divider {
	clear:both;
}

.social-button {
	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	clear: both;
	color: #FFF;
	border: 0; 
	padding: 10px;
	margin-bottom: 20px;
}

.facebook{
	background-color: #3b5998;
}
.twitter {
	background-color: #55acee;
}

.entry-social button#entry-facebook {
	border: 0;
	width: 240px;
}

.entry-social button#entry-twitter {
	border: 0;
	width: 240px;
}