.intro {
	text-align: center;
	margin-top: 60px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.intro form {
	overflow: auto;
}

.intro input {
	font-size: 1.25em;
	margin-bottom: 10px;
	border: none;
	padding: 10px;
	line-height: 1.5em;
	-webkit-appearance: none;
}

.intro input[type="submit"]{
	width: 100%;
	margin-top: 20px;
	background-color: #2ecc71;
	border: none;
	font-size: 1.2em;
	color: white;
	float: right;
}

button.at-social-btn i {
	float:none!important;
	margin-top: 10px;
  padding-top: 2px;
}

.landing-bg {
	background-color: #FFAF22;
}

.slider-box {
	height:70%;
	text-align: center;
	overflow-x: hidden;
}

.inner-slide-box{
	padding-top: 10%; 
	color: #424242;
}

.inner-slide-box h1{
	color: #424242;
}

.slider-pager .slider-pager-page {
	color: #FFF!important;
}

.login {
	clear:both;
}

.divider {
	clear:both;
}

.social-button {
	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	clear: both;
	color: #FFF;
	border: 0;
	padding: 10px;
	margin-bottom: 20px;
}

.facebook{
	background-color: #3b5998;
}
.twitter {
	background-color: #55acee;
}

.entry-social button#entry-facebook {
	border: 0;
	width: 240px;
}

.entry-social button#entry-twitter {
	border: 0;
	width: 240px;
}