#pendingNotifications {
	float: right;
	border-radius: 100%;
	width: 30px;
	height: 30px; 
	background-color: red;
	text-align: center;
	color: white;
	padding: 2.5px 0;
}

.profile-container .avatar {
	margin: 0 auto;
}

.profile-container {
	padding-top: 15px;
}
