ol {
    list-style-position: inside;
    list-style-type: decimal;
}
.score {
	float:right;
	font-size: inherit;
}

.center-username {
	padding-top: 10px;
}

.list-font {
	font-size: 16px;
}

.slider-pager {

}

a {
	color:black;
}

.leaderboard span{
	float: right;
}

.score {
	float:right;
}

.ion-slide {
    overflow: scroll;
}

.avatar-fix {
	padding-left: 0;
}

.radio-filter .item-content {
  padding: 16px 16px 16px 49px;
}

.radio-filter .radio-icon {
  left: 0!important;
}
