ol {
    list-style-position: inside;
    list-style-type: decimal;
}
.score {
	float:right;
	font-size: inherit;
}

.center-username {
	padding-top: 10px; 
}

.list-font {
	font-size: 16px;
}

a {
	color:black;
}