ol#leaderboard  {
    list-style-position: inside;
    list-style-type: decimal;
    width: 100%;
}

#leaderboard .item {
  padding: 12px 0px 5px 65px!important;
  min-height: 50px;
}

.leaderboard-item .avatar {
  top: 4px!important;
  left: 10px!important;
}

.following{
	border-left: 5px solid purple!important;
}

.following .username,
.following .score,
.following .list-font {
	color: black!important;
  font-weight: bold;
}

.score {
	float:right;
  text-align: right;
	font-size: inherit;
}

.center-username {
	padding-top: 10px;
}

.list-font {
  float: left;
  width: 95%;
	font-size: 16px;
}

.slider-pager {

}

a {
	color:black;
}

.leaderboard span{
	float: right;
}

.score {
	float:right;
}

.ion-slide {
    overflow: scroll;
}

.avatar-fix {
	padding-left: 0;
}

.radio-filter .item-content {
  padding: 16px 16px 16px 49px;
}

.radio-filter .radio-icon {
  left: 0!important;
}
