.card-list .matchup-card-header {
  border-radius: 0;
  background-color: white;
  color: black;
}

.card-list .matchup-card-body {
  display: none!important;
}

.matchup-card-header {
  font-family: "lato";
  font-size: 1rem;
  color: white;
  background-color: #4F656F;
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 20px;
  border-radius: 10px 10px 0 0;
}

.history-inprogress .matchup-card-header {
  border-radius: 0 10px 0 0;
  padding: 10px;
}

.detail-container {
  width: 90%;
  float: left;
  display: grid;
  align-items: center;
}

.matchup-card-header .game {
  font-family: "lato";
  font-weight: 900;
  float: left;
  font-size: 1.2rem;
}

.matchup-card-header .commissioner {
  float: left;
}

.matchup-card-header .arrow {
  font-size: 2rem;
  width: 10%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

#single-matchup {
  display: grid;
}

#single-matchup .matchup-card-header .arrow {
  display: none;
}

.card-detail-section {
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  background-color: white;
  display: flex;
}

.history-inprogress .card-detail-section {
  border-radius: 0 10px 10px 0;
}

.card-detail-section .section {
  width: 25%;
  float: left;
  border-right: 1px solid #CACCCD;
}

.card-detail-section .section:last-child {
  border: none!important;
}

.card-detail-section .section .icon {
  width: 100%;
  clear: both;
  float: left;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-detail-section .section div {
  width: 100%;
  float: left;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.match-links {
  padding: 0;
  background-color: white;
  clear: both;
}

#matchup .item-content{
  width: 100%;
  white-space: initial;
}
