.small-avatar {
	height: 50px;
	width: 50px!important;
	float: left;
	margin-top: 0!important;
	margin-right: 10px;
}

.infomation-section {
	width: 100%;
	float: left;
}

.item p {
	overflow: auto;
	white-space: normal;
	text-overflow: normal;
}

.actions-section {
	text-align: right;
}

.double-button {
	padding-right: 120px!important;
}

.notification-has-image {
	padding-left: 72px;
	min-height: 72px;
}

.notification-image {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 40px;
	max-height: 40px;
}