.small-avatar {
	height: 50px;
	width: 50px!important;
	float: left;
	margin-top: 0!important;
	margin-right: 10px;
}

.infomation-section {
	width: 100%;
	float: left;
}

.item p {
	overflow: auto;
	white-space: normal;
	text-overflow: normal;
}

#notification-options {
  width:100%;
  float: left;
  background-color: #455A64;
  padding: 10px 0;
  text-align:center;
  opacity:1;
  display:flex;
  justify-content:center;
  align-items:center;
  -webkit-transition: all 1s ease-in-out;;
  transition: all 1s ease-in-out;;
	color: white;
	font-family: 'lato'
}

.actions-section:first-child {
	border-left: 0px solid white;
}

.actions-section {
	border-left: 1px solid white;
	font-weight: bold;
}

.double-button {
	padding-right: 120px!important;
}

.notification-has-image {
	padding-left: 72px;
	min-height: 72px;
}

.notification-image {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 40px;
	max-height: 40px;
}

.no-notifications {
	width: 100%;
  font-size: 1.5rem;
  font-family: lato;
  color: #808080;
  margin: 50px 0;
  text-align: center;
}