.pickk-badge {
    width: 24% !important;
    max-width: 139px;
}

.profile-background {
    background-color: white;
    border: 1px solid #979797;
    text-align: center;
    padding-bottom: 20px;
}

.profile-wrapper .avatar {
    float: left;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 75px;
    height: 75px;
}
