.single-question {
	width: 100%;
	font-size: 18px;
	font-family: lato;
}

.option {
	border: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 44px;
	margin-top: -1px;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.option-title{
	width: 50%;
}

.multiplier {
	width: 30%;
	text-align: right;
	padding-right: 15px; 
}

.baseball-call-icon {
	height: 25px;
	width: 25px;
}

.selected{
	background-color: pink;
}

.wagers {
	margin-top: -1px;
}

.wagers li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33.33%;
	height: 45px;
	float: left;
	border: 1px solid #DDDDDD;
}