/* Makes the label not take 100% of the available area */
.af-fav-teams .checkbox  {
	max-width: 50px;
}

/*.af-fav-teams .item-checkbox{
	width: 50%;
	float: left;
}*/

.strong-label {
	font-weight: bold;
}

.username-error {
	color: red;
}

.username-success {
	color: green;
}

div.hopscotch-bubble .hopscotch-nav-button.next {
	width: 100%;
	padding: 0;
  margin: 0;
}

.hopscotch-bubble-number{
	display: none!important;
}

div.hopscotch-bubble .hopscotch-bubble-content{
	margin: 0!important;
}

.hopscotch-bubble-close{
	padding: 0!important;
}

#settings .avatar, #settings .loading {
	margin-right: 10px;
}

.upload-photo img.avatar-image.circle-image {
    height: 50px!important;
    width: 50px!important;
}

.onboarding-extra-space {
	margin-bottom: 100px;
}

#new-icon input[type="button"] {
	background-color: blue!important;
}