#notification-center {
	height: 110px;
}

.single-notification {
  height: 91px;
  margin-top: 10px;
}

/*.info-card {
	background: white;
}*/

.football-inner {
	display: flex;
	border-radius: 10px 10px 0 0;
	background-color: white;
	font-family: "Lato";
	padding: 10px;
}

.football-inner .title {
	float: left;
	font-size: 1rem;
}

.football-inner .detail {
	float: left;
	clear: both;
	font-size: 1.3rem;
}

.pre-pickk-inner {
	height: 100%;
	display: flex;
	border-radius: 10px;
	background-color: #455a64;
	color: white;
	font-family: "Lato";
	padding: 10px;
}

.pre-pickk-inner .title {
	text-align: left;
	font-weight: bold;
	padding: 5px 0;
	border-bottom: 1px solid white;
	width: 100%;
	font-size: 1.3rem;
}

.pre-pickk-inner .detail {
	padding: 10px 0;
	display: block;
	clear: both;
	font-size: 1rem;
}

.pre-pickk-inner .half {
	background-color: inherit;
}

.down {
	width: 40%;
	float: left;
}

.vertical-divider {
	height: 40px;
	width: 1px;
	background-color: black;
	display: block;
	float: left;
	margin: 0 2.5%;
}

.location {
	width: 29%;
	float: left;
}

.time {
	width: 15%;
	float: left;
}

.football-field {
	display: flex;
	height: 35px;
	width: 100%;
}

.field {
	width: 60%;
	background: url('/field.svg');
	background-size: cover;
	height: 35px;
	float: left;
}

.endzone {
	width: 20%;
	float: left;
	height: 35px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	display: grid;
	align-items: center;
}

.endzone:first-of-type {
	border-radius: 0 0 0 10px;
}

.endzone:last-of-type {
	border-radius: 0 0 10px 0;
}

.marker {
	height: 35px;
	width: 3px;
	float: left;
}

.down-marker {
	background-color: yellow;
}

.distance-marker {
	background-color: #e35b48;
}

.waiting-options-icon {
  font-size: 2rem;
  line-height: 0;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  margin: 30px 0 10px 0;
}

.quarter-prompt-icon {
	font-size: 4rem;
	float: left;
	clear: both;
	text-align: center;
}

.quarter-prompt-text{
	float: left;
	clear: both;
	text-align: center;
}

.type-option{
  margin-top: 10px;
  padding: 25px 5px;
}

.prompt-option {
  /*border: 1px solid blue;*/
  border-radius: 15px;
  /*background-color: rgba(191, 213, 222, .5);*/
}

.special-background {
	padding-top: 50px;
  color: white!important;
}

.special-header {
  color: white!important;
}

.join-game-description{
	color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 5px;
}

.game-prompt-icon img{
  filter: invert(100%);
  width: 4rem;
  font-size: 3rem;
}

#reviewPrompt,
#feedbackPrompt {
  overflow: auto;
  background-color: #26AD68;
  contain: content;
  padding: 10px;
  border-radius: 5px;
}

#ratingBox h4{
	color: white;
	font-weight: 800;
	font-family: lato;
}

#ratingBox button {
	width: 49%;
	height: 40px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
}

.yes-prompt {
	color: #26AD68;
	float: right;
	border: none;
	background-color: white;
}

.white-outline{
	border: white 1px solid;
	float: left;
	color: white;
	background-color: transparent;
}

.pre-game-pickks {
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 900;
	border-radius: 5px;
	animation-duration: 50s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(110deg, #26ad68 12%, #219e5e 25%, #26ad68 53%);
	position: relative;
	width: 70%;
}
