*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background-color:#f2f2f2; 
}

.has-tabs, .bar-footer.has-tabs {
	background-color: #f2f2f2!important;
}

.bar.bar-stable {
	background-color: #008d97!important;
	color:white!important;
}

.counter {

	width:85%;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
	float: right;
	margin-top: 6px;
}

.counter-list {
	list-style: none;
	display: table;
	float:right;
}

.counter-list li {
	display: table-row;
}

.counter-list i{
	color:#f39c12;
}

.counter-list i,
.counter-list p{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;

}

.title {
	width:45%;
	text-align: center;
	display: inline-block;
}

.title h3{
	color:white;
	font-weight: bolder;
}

#login {
	width:35%;
	float: left;
	display: inline-block;
	text-align: left;
	color: white;
	font-size: 1.5em;
}

#login-dropdown-list {
	font-size: .7em;
	line-height: 1.3em;
	margin-top: 15px;
}

.hidden-account {
	visibility: hidden;
	height: 0;
}

.login-link-text{
	text-decoration: none;
}

#login-buttons a{
	text-decoration: none!important;
}

.container {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	background-color: white;
	max-width:100%;
	padding: 55px 20px;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	vertical-align: center;
	text-align: center;
	clear: both;
	line-height: 1.5em;
	/*box-shadow: 1px 1px 15px #808080;*/
}

.option {
	width:49%;
	padding: 10px 0;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}

.one-third {
	width: 32.33%;
}

.full {
	width:100%;
	padding: 10px 0;
	text-align: center;
	font-size: 24px;
}

a.option {
	color: white;
}

.no {
	float: left;
}

.yes {
	float:right;
}

.no-question {
	display: none;
	margin-top: 50px;
	text-align: center;
}

.panel {
	background-color: white;
	border: #eee;
	padding: 10px 25px;
	margin-bottom: 25px;
	overflow: auto;
}

.active-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	padding: 10px;
	width: 100%;
	color: #2ecc71;
	border-color: #2ecc71;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0;
}

.old-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	padding: 10px;
	width: 80%;
	color: #000;
	border-color: #e74c3c;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0;
}

.panel input[type="submit"]{
	margin-top: 20px;
	padding: 20px;
	background-color: #2ecc71;
	border: none;
	font-size: 1.2em;
	color: white;
	float: right;
}

.threefourths {
	width: 70%;
	float:left;
}