@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

*{
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, .ionic-body {
	height: 100%;
}

.item-divider {
	background-color: #37474F!important;
	color: white;
}

.bar-subheader {
	background-color: #455A64!important;
	color: white;
	font-family: lato;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clear-fix{
	clear: both;
}

.view {
	background-color: #f2f2f2;
}

.loader {
  display: none;
}

.loader-holder {
  margin-left: auto;
  margin-right: auto;
  width:40px;
}

.loading-wrapper {
  display: none;
}

body.keyboard-open .platform-android .content.overflow-scroll {
  bottom: 0px !important;
}

.snap-drawer {
    height: 100%;
    overflow-x:hidden;
		overflow-y: auto; 
	  -webkit-overflow-scrolling: touch;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background-color:#f2f2f2; 
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.float-left {
	float: left;
}

.popover {
	height:auto!important;
}

.has-tabs, .bar-footer.has-tabs {
	background-color: #f2f2f2!important;
}

.has-tabs-top {
	background-color: #f2f2f2!important;
}

.tabs-striped .tabs {
	background-color: #2cb99c;
	border-bottom: 0;
	color: white;
}

.tabs-striped .tab-item.active {
	border-color: #00a084;
}
.bar .left {
  text-align: left;
  padding-left: 15px;
}

.bar.bar-stable {
	background-color: #222C31!important;
	color:white!important;
}

.bar.bar-stable .title {
	color: white!important;
}

.bar-stable .button.button-clear {
	color: white!important;
}

.bar {
	border: none;
  background-size: 100% 0px!important;
}

.bar-game {
  background-color: #009688;
  color: #fff;
}

.white-text-header {
	color: white!important;
}

.nav-icon {
	color: white!important;
}

.coin-icon i{
	color:#F1C40F!important;
}

.coin-icon {
	color: white!important;
	font-weight: bold;
}

.title {
	text-align: center;
	display: inline-block;
}

.title h3{
	color:white;
	font-weight: bolder;
}

.search-bar-fix input[type="text"]{
	padding-left: 25px;
	height: 50px;
  font-size: 1.2em;
  margin-top: 25px;
}

.common-question{
	font-weight: 500;
   font-size: 1em;
}

#login {
	width:35%;
	float: left;
	display: inline-block;
	text-align: left;
	color: white;
	font-size: 1.5em;
}

#login-dropdown-list {
	font-size: .7em;
	line-height: 1.3em;
	margin-top: 15px;
}

.hidden-account {
	visibility: hidden;
	height: 0;
}

.login-link-text{
	text-decoration: none;
}

#login-buttons a{
	text-decoration: none!important;
}

.container {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

.edit-radio {
	color: black;
}

.one-third {
	width: 33.33%!important;
	float: left;
}

.one-forth {
	width: 24%;
	padding: 10px 0;
	color: #333;
}


.full {
	width:100%;
	padding: 10px 0;
	text-align: center;
	font-size: 24px;
}

a.option {
	color: white;
}

.no {
	float: left;
}

.yes {
	float:right;
}

.no-question {
	display: none;
	margin-top: 50px;
	text-align: center;
}

.panel {
	background-color: white;
	border: #eee;
	padding: 10px 25px;
	margin-bottom: 25px;
	overflow: auto;
}

.active-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	padding: 10px;
	width: 100%;
	color: black;
	border-color: #2ecc71;
	border-style: solid;
	border-width: 1px;
	margin: 5px 0;
}

.old-questions li{
	text-decoration: none;
	list-style: none;
	font-size: 1.25em;
	padding: 10px;
	width: 80%;
	float:left;
	color: #000;

	margin: 5px 0;
}

.fourth {
	width: 25%;
	float: left;
	margin-bottom: 10px;
}

.old-questions hr {
	border-color: white;
}

.panel input[type="submit"]{
	margin-top: 10px;
	padding: 10px;
	background-color: #2ecc71;
	border: none;
	font-size: 1.2em;
	color: white;
	float: right;
}

.threefourths {
	width: 70%;
	float:left;
	margin-bottom: 20px;
}

label {
	width: 100%;
	display: block;
	padding: 15px;
	background-color: white;
}

/*hide input*/
input[type=radio]:empty {
	position: absolute;
	margin-left: -9999px;
}

input[type=radio]:checked + label{
	position: relative;
	border-color: #E6B400;
  	background-color: #E6B400;
  	font-weight: bold;
  	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=submit] {
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

.profile-container {
	height: 170px;
	background-color: #222C31;
	color:white;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}



/*.scrollable {
	overflow-y: auto;
	position: fixed;
	display: block;
	top:0; left:0; right:0; bottom: 0;
}*/

.circle-image {
	border-radius: 100%;
	width: 50%;
	max-width: 100px;
	border: 3px solid white;
}

.username {
	clear: both;
}

.snap-drawer {
	width: 266px;
	overflow-x: hidden;
	overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 600px) {

.question {
	margin: 10px 0 0;
}

.play-option{ 
	width: 100%;
	text-align: left;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	border-top: 1px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0)!important;
}

.score-option{ 
	text-align: center!important;
}

.one-third {
	margin: 0;
}

.counter {
	width:90%;
	display: inline-block;
	clear:right;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
	float: right;
	margin-top: 6px;
}


}

/* Makes the label not take 100% of the available area */
.af-fav-teams .checkbox  {
	max-width: 50px;		
}