.active i.icon.ion-ios-close-empty {
  color: white;
}

.fifty {
  width: 50%;
  padding: 0;
  margin: 0;
  float: left;
}

.thirtythree {
  width: 33%;
  padding: 0;
  margin: 0;
  float: left;
}

.zip {
  width: 80%;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,.25);
  font-size: 2rem!important;
  padding: 5px 20px;
  border: 0;
  margin: 0 10%;
  height: 60px!important;
}

.tempSubmitButton {
  width: 80%!important;
  margin: 2.5% 10%;
  font-size: 1.5rem;
  padding: 15px;
  background-color: #275881;
  font-family: Open Sans;
  font-weight: 500;
  color: #fff;
}