<template name='adminBaseball'>
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title white-text-header">Admin Panel</h1>
   		 {{/contentFor}}

	<h1>Baseball!</h1>
		<button data-action="createBaseballQuestion">Create Question</button>
		<button data-action="createAtBat">Create At Bat</button>
		<button data-action="createBaseballGame">Create Baseball Game</button>
	
		{{> battingLineUp}}
		{{> activeQuestionList}}
		{{> pendingQuestionList}}
		{{> atBatQuestion}}
<!-- 		{{> oldQuestionList}} -->

		{{#ionList}}
			{{#each atBat}}
				{{#ionItem}}					
						{{playerId}} - {{dateCreated}} - {{gameId}} - {{active}}
				{{/ionItem}}
			{{/each}}
		{{/ionList}}

		{{/ionContent}}
	  {{/ionView}}
 </div>
</template>

<template name="battingLineUp">
	
	{{#ionList}}
		 <div class="item item-divider">Batting Lineup</div>
		{{#each batter}}
			{{#ionItem}} 
				{{#with playersInfo playerId}} 
					{{firstName}} {{lastName}} 
				{{/with}}
				{{/ionItem}}
		{{/each}}
	{{/ionList}}
</template>