<template name='adminBaseball'>
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title white-text-header">Admin Panel</h1>
   		 {{/contentFor}}

		<div class="col-md-50">
			<button class="button button-calm col-md-50" data-action="createBaseballQuestion">
				Create Question
			</button>
			<button class="button button-energized col-md-50" data-action="createAtBat">
				Create At Bat
			</button>
		
		Outs:
			<div class="admin-bases">
				{{#if third}} 
					<div data-action="third" class="base-diamond admin-base-size admin-base-fix third-base-admin "></div> 
				{{else}} 
					<div data-action="third" class="admin-base-empty admin-base-size base-diamond admin-base-fix third-base-admin "></div> 
				{{/if}}
				{{#if second}} 
					<div data-action="second" class="base-diamond admin-base-size"></div> 
				{{else}} 
					<div data-action="second" class="admin-base-empty admin-base-size base-diamond"></div>
				{{/if}} 
				{{#if first}} 
					<div data-action="first" class="base-diamond admin-base-size admin-base-fix first-base-admin"></div> 
				{{else}} 
					<div data-action="first" class="admin-base-empty admin-base-size base-diamond admin-base-fix first-base-admin"></div>
				{{/if}}
			</div>
		</div>

		{{> teamBattingLineup}}
		<div class="clear-fix"></div>

		<div class="col-md-50">
			{{> activeQuestionList}}
		</div>
		<div class="col-md-50">
			{{> atBatQuestion}}
		</div>
		<div class="col-md-50">
			{{> pendingQuestionList}}
		</div>
		
<!-- 		<button data-action="createBaseballGame">
		Create Baseball Game</button> -->

		{{/ionContent}}
	  {{/ionView}}
 </div>
</template>