<template name='adminBaseball'>
	<div class="container">	
	  {{#ionView}}
   		 {{#ionContent}}	

   		 {{#contentFor "headerButtonLeft"}}
		    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
		      {{#if isAndroid}}
		        {{> ionIcon icon='android-more-vertical'}}
		      {{else}}
		        {{> ionIcon icon='navicon'}}
		      {{/if}}
		    </button>
		  {{/contentFor}}
   		 
   		 {{#contentFor "headerTitle"}}
					<h1 class="title white-text-header">Admin Panel</h1>
   		 {{/contentFor}}

		<div class="col-md-50">
			<button class="button button-calm col col-50" data-action="createBaseballQuestion">
				Create Question
			</button>
			<button class="button button-energized col col-50" data-action="createAtBat">
				Create At Bat
			</button>
		</div>

		<div class="clear-fix"></div>

		{{> teamBattingLineup}}
		<div class="col-md-50">
			{{> activeQuestionList}}
		</div>
		<div class="col-md-50">
			{{> atBatQuestion}}
		</div>
		<div class="col-md-50">
			{{> pendingQuestionList}}
		</div>
		
<!-- 		<button data-action="createBaseballGame">
		Create Baseball Game</button> -->

<!-- 		<div class="clear-fix">
			{{#ionList}}
				{{#each atBat}}
					{{#ionItem}}					
							{{playerId}} - {{dateCreated}} - {{gameId}} - {{active}}
					{{/ionItem}}
				{{/each}}
			{{/ionList}}
		</div> -->
		{{/ionContent}}
	  {{/ionView}}
 </div>
</template>