<template name="teamBattingLineup">
	<div class="clear-fix"></div>
	<div class="col-md-50">
		<h1>
			{{#with atBatNumber}}
				<form id="atBat">
					<input class="at-bat-number" value="{{batterNum}}">
					<input type="submit">
				</form>
			{{/with}}
		</h1>
	</div>
	<div class="clear-fix">
	<div class="col-md-50">
		{{#ionList}}
			<div class="item item-divider">Batting</div> 
			<ol type="1" class="list">
				{{#each battingLineUp}}
					{{#ionItem buttonRight=true }}
						{{#with onePlayer this}}
							<a data-action="move-up">
								<i class="fa fa-caret-up"></i>
							</a>
							<li class="{{#if atBat this._id}} player-active {{/if}}" data-value="{{@index}}">	
								{{name}}
							</li>
							<a class="button" data-action="removeFromBattingOrder">
								{{> ionIcon icon="close"}}
							</a> 
							<a class="button stacked-button" data-action="pick-position">
								{{> ionIcon icon="more"}}
							</a> 
							<a data-action="move-down">
								<i class="fa fa-caret-down"></i>
							</a>
						{{/with}}
					{{/ionItem}}
				{{/each}}
			</ol>
		{{/ionList}}
		</div>

		<div class="col-md-50">
		{{#ionList}}
			<div class="item item-divider">{{teamName}}</div> 

			{{#each player}}
				{{#if alreadyInLineUp _id}}
					{{#ionItem buttonRight=true}}
						{{name}} - {{position}} 
						<a class="button" data-action="addToBattingOrder">{{> ionIcon icon="more"}}</a> 
					{{/ionItem}}
				{{/if}}
			{{/each}}
		{{/ionList}}
		</div>
	</div>
</template>