<template name="inviteToMatchup">

  {{> yield 'header'}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Invite User to Matchup</h1>
  {{/contentFor}}

  <!-- {{#contentFor "headerButtonRight"}}
    <button class="button button-clear right" data-action="skip">
      Skip
    </button>
  {{/contentFor}} -->

  {{#ionView }}
    {{#ionContent}}
      {{> inviteToMatchupBox}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="inviteToMatchupBox">
  <div class="search-bar-fix">
    {{> EasySearch.Input index=UserListIndex attributes=inputAttributes }}
  </div>

  <div class="container hundred-bottom">
    {{#EasySearch.IfInputEmpty index=UserListIndex}}
      {{#ionList}}
        {{#each follower in followers}}
          {{#ionItem buttonRight=true avatar=true}}
            <a class="item-avatar avatar-fix" href="{{pathFor route='user.show' _id=follower}}">
              {{> userAvatar userId=follower}}
              {{> singleUsername userId=follower}}
            </a>
            {{> inviteMatchupButton _id=follower }}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{else}}
      <div class="list-group">
        {{#ionList}}
          {{#EasySearch.Each index=UserListIndex}}
            {{#ionItem buttonRight=true avatar=true}}
              <a class="item-avatar avatar-fix" href="{{pathFor route='user.show' _id=__originalId}}">
                {{> userAvatar user=. alreadySubscribed=true}}
                {{profile.username}}
              </a>
              {{> inviteMatchupButton _id=__originalId user=profile.username}}
            {{/ionItem}}
          {{/EasySearch.Each}}
        {{/ionList}}
      </div>
    {{/EasySearch.IfInputEmpty}}

    {{#EasySearch.IfNoResults index=UserListIndex logic="OR" }}
    <div class="item invite-item item-button-right">
      <h2>Invite New Friends</h2>
      <button data-action="textInvite" class="button button-balanced">Invite</button>
    </div>
    {{/EasySearch.IfNoResults}}

    <div class="move-to-next-step-without-completing-goal ten-spacing" data-action="finishMatchup">
      I Will Invite Friends Later
    </div>

  </div>
</template>

<template name="inviteMatchupButton">
  {{#if isInvited}}
    <button class="button" disabled="disabled">Invited</button>
  {{else}}
    <button data-action="invite" id="{{_id}}" class="button">Invite</button>
  {{/if}}
</template>
