<template name="_matchupMembers">
  {{#ionModal class="white-text-header" title="Members"}}
    <div class="hundred-bottom">
      {{#ionList}}
        {{#each user in users}}
          {{> matchupMemberItem user=user matchup=this.matchup}}
        {{/each}}
      {{/ionList}}
    </div>
  {{/ionModal}}
</template>

<template name="matchupMemberItem">
  {{#ionItem buttonRight=true avatar=true}}
    {{> userAvatar userId=user._id}}
    {{user.profile.username}}
    {{#if admin}}
      <button value="{{user._id}}" data-action="delete" class="button">
        {{> ionIcon icon="ios-close"}}
      </button>
    {{else}}
      <button value="{{user._id}}" data-action="viewUser" class="button">
        View
      </button>
    {{/if}}
  {{/ionItem}}
</template>
