<template name="home">
  {{> homeLayoutHeader}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{> spinLoader}}

      {{#if Template.subscriptionsReady}}
        <div class="loading-wrapper">
          <div class="hero-section animated fadeInDown">
            {{#each item in hero}}
              {{> heroImage item=item}}
            {{/each}}
          </div>

          <div class="container">
            <!-- {{#if gamePrediction}}
              {{> dailyPickkButton}}
            {{/if}} -->
            <div class="hundred-bottom">
              {{#each game in listGames}}
                {{> entireGameCard game=game}}
              {{/each}}

              <button class="ten-spacing button button-stable col col-100" data-action="viewAllGames">
                <strong>View All Games</strong>
              </button>
            </div>
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="heroImage">
  <a href="{{item.url}}">
    <div class="single-slide" style="background-image: url({{item.image}})">
      <div class="slider-text">
        {{item.text}}
      </div>
    </div>
  </a>
</template>

<template name="dailyPickkButton">
  <button class="button col-md-100 ten-spacing daily-pickk-cta" style="height: 45px; margin-bottom: 10px;" data-action="game-prediction">
    <div class="col-md-25">
      <span class="numberNotification">
        {{dailyPickkCount}}
      </span>
    </div>
    <div class="col-md-50" style="float: left; margin-left: 20px">
      <i class="fa fa-diamond" style="margin-left: -38px; font-size: 1.3em; font-weight: 100;"></i>
      <span class="daily-pickk-text">
        Daily Pickks
      </span>
    </div>
  </button>
</template>
