<template name="prizes">
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  
 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Prizes</h1>
 {{/contentFor}}

 {{#ionView}}
   {{#ionContent}}
    {{#if Template.subscriptionsReady}}
      {{#if prizes}}
        {{#each prize in prizes}}
          <div class="item item-avatar item-button-right" style="text-overflow:initial; white-space:inherit;">
            <h2>{{prize.title}}</h2>
            <img class="avatar" src="{{prize.image}}"> {{#with dateEnd prize.dateEnd}} {{> pickkIcon size="xs" margin="margin: 0px;" icon=icon}} {{title}}
            <br> {{/with}} {{prize.description}}
            <a href="{{prize.url}}" class="button button-positive">{{> ionIcon icon="ios-arrow-right"}}</a>
          </div>
        {{/each}}
      {{else}}
        <div class="no-notifications">
          No Prizes Right Now. <br /><br /> Check Back Soon!
        </div>
      {{/if}}
    {{else}}
      {{> spinLoader}}
    {{/if}}
   {{/ionContent}}
 {{/ionView}}
</template>
