<template name="activeGames">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
            {{> ionIcon icon='android-more-vertical'}}
        {{else}}
            {{> ionIcon icon='navicon'}}
        {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
      <h1 class="title white-text-header">Home</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button style="font-size: 13px;" class="button button-clear" data-ion-menu-toggle="right">
      {{> ionIcon icon="ios-chatboxes"}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="container" style="margin-top: 10px;">
        {{#each game in games}}
          {{> singleGameInfo game=game}}
          {{> singleGameCard game=game}}
          {{> singleGameCTA game=game}}
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="singleGameInfo">
  <div class="single-game-info">
    {{#if inProgress}}
      {{> gameInProgressInfo game=game}}
    {{/if}}

    {{#if future}}
      {{> futureGameInfo game=game}}
    {{/if}}
  </div>
</template>

<template name="singleGameCTA">
  {{#if inProgress}}
    <div class="single-game-cta">
      Play Now! ({{game.tv}})
    </div>
  {{/if}}
  {{#if future}}
    <div class="single-game-cta">
      Remind Me
    </div>
  {{/if}}
</template>

<template name="gameInProgressInfo">
 <!--  <div class="col-md-20 single-game-section">
    {{> count id=game.users}}
  </div> -->
  <div class="col-md-33 single-game-section">
    {{> inningDisplay inning=game.inning position=game.topOfInning}}
  </div>
  <div class="col-md-33 single-game-section">
    {{> outDisplay number=game.outs}}
  </div>
  <div class="col-md-33 single-game-section">
    {{> playersOnBase base=game.playersOnBase}}
  </div>
</template>

<template name="futureGameInfo">
  {{ userTimeZone game.scheduled}}
</template>

<template name="count">
  {{#if userPlaying id}}
    Playing
  {{else}}
    Join
  {{/if}} 
</template>

<template name="outDisplay">
    {{{outs number}}}
</template>

<template name="inningDisplay">
  {{#if position}}
    <i class="fa fa-caret-up"></i>
  {{else}} 
    <i class="fa fa-caret-down"></i>
  {{/if}}
  {{inning}} 
</template>

<template name="playersOnBase">
  <!-- Fix last / clean up -->
  {{#if base.third}} 
    <div class="base-empty base-diamond base-fix third-base "></div> 
  {{else}} 
    <div class="base-diamond base-fix third-base "></div> 
  {{/if}}
  {{#if base.second}} 
    <div class="base-empty base-diamond"></div> 
  {{else}} 
    <div class="base-diamond"></div>
  {{/if}} 
  {{#if base.first}} 
    <div class="base-empty base-diamond base-fix first-base"></div> 
  {{else}} 
    <div class="base-diamond base-fix first-base"></div>
  {{/if}}
</template>


<template name="singleGameCard">
  <div class="single-game-card">

    {{> teamBlock id=game.home.id abbr=game.home.abbr name=game.home.name runs=game.scoring.home.runs }}

    {{> teamBlock id=game.away.id abbr=game.away.abbr name=game.away.name runs=game.scoring.away.runs }}

  </div>
</template>


<template name="teamBlock">
  <div class="team-block">
    <span class="team-colors team-text" style="background-color:{{teamColors id}}">
      {{abbr}}
    </span> 
    <span class="team-name team-text">{{name}}</span>
    <span class="team-score team-text">{{runs}}</span>
  </div>
</template>