<!-- <template name="normalPlay">
 	<div class="question-options">
		{{#each option in options}}
			{{> singleOption}}
		{{/each}}
	</div>
</template>

<template name="singleOption">
	<div>
		<input type="radio" name="play" id="{{title}}" required>
		<label for="{{title}}" class="play-option">

			<img class="baseball-call-icon" src="/baseball-calls/{{title}}.svg">
		<span class="play-text">{{title}}</span> 
		<span id="{{multiplier}}" class="multiplier">
			x {{multiplier}}
		</span>
	</label>
	</div>
</template>

<template name="singleGame">
	{{#if commerical}}
		{{> comericalQuestions}}
	{{/if}}
	{{#if atBat}}
		{{> atBatQuestions}}
	{{/if}}
</template> -->