<template name="questionCard">
  {{#if live}}
    <!-- Commerical Break Has Been Activated -->
    {{#if commercial}}
      {{#if commercialQuestions}}
        <!-- Show Commerical Quesitons that have Binary Options (No Multipler) -->
        {{#if binary}}
          <span style="text-align: center;">
            <h4>Free Pickk!</h4>
            <span style="text-align: center;">
              <h5>500 coins for Pickking <br> 2000 coins if right!</h5>
            </span>
          </span>

          {{#each questions}}
            {{> binaryChoice}}
          {{/each}}

          <!-- Show Multiple Answer Questions -->
        {{else}}
          {{#each multiAnswerCommQuestions}}
            {{> commercialQuestion}}
          {{/each}}
        {{/if}}

        <!-- No Questions Available  -->
      {{else}}
        <!-- <img class="next-play slideInLeft" src="wait-for-play.png"> -->
        <!-- <h5 class="next-play">Commercial Break!</h5>	 -->
        <br><br>
        {{{commercialRandom}}}
      {{/if}}

    {{else}}
      {{#if active}}
        {{> playerCard}}
        {{#if multiOptions}}
          <!-- Show In Game Quesitons that have Binary Options (With Multipler) -->
          {{#if ingameBinary}}
            {{#each twoOption}}
              {{> twoOptionQuestions}}
            {{/each}}
          {{else}}

            {{#each activeQuestions}}
              {{> activeQuestion}}
            {{/each}}
          {{/if}}

        {{else}}
          <!-- <img class="next-play slideInLeft" src="wait-for-play.png"> -->
          <h5 class="next-play">Next question coming up soon!</h5>
          {{#with lastPlay}}
            <p class="next-play">Have a question?<br> Check out our common questions in our side menu</p>
            <h5 class="next-play">You guessed {{lastDescription}} for {{lastWager}}</h5>
          {{/with}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{else}}
    <!-- Pre Game Predictions for Daily Diamonds -->
    {{#if gameQuestion}}

      {{#each gameQuestions}}
        {{> predictionQuestions}}
      {{/each}}

      <!-- No Game and No Questions -->
    {{else}}
      <!-- <img class="next-play slideInLeft" src="wait-for-play.png"> -->
      <div class="container" style="margin-top: 15px;">
        <h3 class="next-play">0 Live National Games
          <br><br>
          <a class="button next-play"  href="games">
            View Upcomming Game Schedule
          </a>
          <br>
        </h3>
      
        {{#if groups}}
          <h3>Groups</h3>
          {{#each userGroups}}
            {{#ionItem path="group.show" avatar=true}}
              {{> groupAvatar}}
              <h2 class="center-username">{{name}}</h2>
            {{/ionItem}}
          {{/each}}
        {{/if}}

        <br>
        <h3 class="next-play">Want more baseball?</h3>
        <a style="width: 100%;" class="button button-balanced" href="beta">
          Pickk Local Beta
        </a>
      </div>
    {{/if}}
  {{/if}}
</template>
