<template name="afCheckboxGroup_ionic2">
  <div class="af-checkbox-group team-select" {{dsk}}>
    {{#each this.items}}
      <input type="checkbox" id="{{this.value}}" value="{{this.value}}" {{atts}} />
      <label for="{{this.value}}" class="checkbox {{selected}} team-select-container button-card">
        <div class="team-select-single">
          <img src="{{img}}" />
          <h5>{{this.label}}</h5>
        </div>
      </label>
    {{/each}}
  </div>
</template>

<template name="afRadioGroup_ionic2">
  <div class="af-radio-group team-select" {{dsk}}>
    {{#each this.items}}
      <input type="radio" id="{{this.value}}" value="{{this.value}}" {{atts}} />
      <label for="{{this.value}}" class=" team-select-container button-card">
        <div class="team-select-single">
          <img src="{{img}}" />
          <h5>{{this.label}}</h5>
        </div>
      </label>
    {{/each}}
  </div>
</template>

<template name="afRadioGroup_small">
  <div class="af-radio-group team-select" {{dsk}}>
    {{#each this.items}}
      <input type="radio" id="{{this.value}}" value="{{this.value}}" {{atts}} />
      <label for="{{this.value}}" class=" team-select-container button-card">
        <div class="team-select-single">
          <!-- <img src="{{img}}" /> -->
          <h5>{{this.label}}</h5>
        </div>
      </label>
    {{/each}}
  </div>
</template>
<!--
<template name="afRadioGroup_ionic">
  <div class="af-radio-group" {{dsk}}>
    <div class="item item-divider">
      {{afFieldLabelText name=this.name}}
    </div>
    {{#each this.items}}
      <label class="item item-radio item-text-wrap">
        <input type="radio" value="{{this.value}}" {{atts}} />
        <div class="item-content disable-pointer-events">
          {{this.label}}
        </div>
        <i class="radio-icon ion-checkmark disable-pointer-events"></i>
      </label>
    {{/each}}
  </div>
</template> -->
