<template name="newUser">

<!--  {{#contentFor "headerButtonLeft"}}
  <a href="/dashboard" data-action="skip" style="color:#022D25!important;" class="button button-clear pull-left skip">
		Skip
 	</a>
{{/contentFor}} -->

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">How to Play</h1>
 {{/contentFor}}


  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear coin-icon"> 
    <i class="fa fa-circle"></i> 
    <strong>6290</strong>
    </button>
  {{/contentFor}}


	{{#ionView}}
    {{#ionContent}}
				<div id="two" class="container">
				{{>questionExample}}
				</div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="questionExample">
	<div class="question">
		First Down...
	</div>
	<div style="margin-bottom:10px">
		<div>
		
			<input type="radio" name="play" disabled id="run" required value="run">
			<label for="run" class="play-option">
			<i class="fa fa-star"></i> 
			 Run
			 <span class="multiplier">x 1.22</span>
			</label>
		</div>

		<div>
			
			<input type="radio" name="play" disabled id="pass" required value="">
			<label for="pass" class="play-option">
			<i class="fa fa-star"></i> 
			 Pass
			 <span class="multiplier">x 1.45</span>
			</label>
		</div>

		<div class="play">
			
			<input type="radio" name="play" id="interception" required value="interception">
			<label for="interception" class="play-option">
			<i class="fa fa-star"></i> 
			 Interception
			 <span id="multiplier" class="multiplier">x 3.71</span>
			</label>
			
		</div>

		<div>
			
			<input type="radio" name="play" disabled id="fumble" required value="fumble">
			<label for="fumble" class="play-option">
			<i class="fa fa-star"></i> 
			 Fumble
			 <span class="multiplier">x 2.56</span>
			</label>
			
		</div>

		<div>
			
			<input type="radio" name="play" disabled id="pick-six" required value="pick-six">
			<label for="pick-six" class="play-option">
			<i class="fa fa-star"></i> 
			 Pick Six
			 <span class="multiplier">x 8.23</span>
			</label>
		</div>

		<div>
			
			<input type="radio" name="play" disabled id="Touchdown" required value="Touchdown">
			<label for="Touchdown" class="play-option">
			<i class="fa fa-star"></i> 
			 Touchdown
			 <span class="multiplier">x 4.32</span>
			</label>
		</div>
	</div>

		<div style="margin-bottom:10px;">
		<div>
			<input type="radio" name="wager" disabled id="100" required value="100">
			<label class="one-third wager-box" for="100">100</label>
		</div>
		<div>
			<input type="radio" name="wager" disabled id="250" required value="250">
			<label class="one-third wager-box" for="250">250</label> 
		</div>
		<div>
			<input type="radio" name="wager" disabled id="500" required value="500">
			<label class="one-third wager-box" for="500">500</label> 
		</div>

		<div>
			<input type="radio" name="wager" id="1000" required value="1000">
			<label id="bigBet" class="one-third wager-box" for="1000">1000</label> 
		</div>
		<div >
			<input type="radio" name="wager" disabled id="2500" required value="2500">
			<label class="one-third wager-box" for="2500">2500</label> 
		</div>
		<div>
			<input type="radio" name="wager" disabled id="5000" required value="5000">
			<label class="one-third wager-box" for="5000">5000</label> 
		</div>
	</div>
	<input id="submit-response" class="button play-option button-assertive center" type="submit" disabled value="Submit">
</template>