<template name="newUser">
 {{#contentFor "headerTitle"}}
	<h1 class="title white-text-header" style="font-size: 1.2em;">
		<i class="fa fa-diamond"></i>
    <strong>0</strong> 
			
   	<span class="coin-icon"><i class="fa fa-circle"></i></span> 
    <strong>10000</strong>
  </h1>
 {{/contentFor}}
 
	{{#ionView}}
    {{#ionContent}}
			<div class="container" style="margin-top: 10px"> 
				{{> playerCardExample}}
				{{> exampleOptions}}
			</div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="exampleOptions">
	<ul class="single-question animated fast slideInLeft">
		<li class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Out.svg">
				</span>
				<span class="option-title">Out</span>
				<span class="multiplier">x 1.43</span>
			</div>
		</li>
		<li class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Walk.svg">
				</span>
				<span class="option-title">Walk</span>
				<span class="multiplier">x 2.27</span>
			</div>
		</li>
		<li class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Single.svg">
				</span>
				<span class="option-title">Single</span>
				<span class="multiplier">x 2.46</span>
			</div>
		</li>
		<li id="double" class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Double.svg">
				</span>
				<span class="option-title">Double</span>
				<span class="multiplier">x 3.76</span>
			</div>
		</li>
		<div id='wagers'></div>
		<li class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Triple.svg">
				</span>
				<span class="option-title">Triple</span>
				<span class="multiplier">x 6.73</span>
			</div>
		</li>
		<li class="option" data-action="play-selected">
			<div class="option-inner">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Home Run.svg">
				</span>
				<span class="option-title">Home Run</span>
				<span class="multiplier">x 5.21</span>
			</div>
		</li>
	</ul>
</template>

<template name="exampleWagers">
	<ul class="wagers">
		<li class="wager" data-action=wager-selected>
			<div class="wager-inner">50</div>
		</li>
		<li class="wager" data-action=wager-selected>
			<div class="wager-inner">100</div>
		</li>
		<li class="wager" data-action=wager-selected>
			<div class="wager-inner">250</div>
		</li>
		<li id="500" class="wager" data-action=wager-selected>
			<div class="wager-inner">500</div>
		</li>
		<li class="wager" data-action=wager-selected>
			<div class="wager-inner">1000</div>
		</li>
		<li class="wager" data-action=wager-selected>
			<div class="wager-inner">2500</div>
		</li>
	</ul>
	<div id="submit-button">
		
	</div>
</template>

<template name="exampleSubmit">
	<button class="submit-button button button-balanced center ten-spacing" data-action="submit">Submit (1880)</button>
</template>

<template name="playerCardExample">
	<div class="player-slider">
  	<div class="slide-inside">
			<span class="player-name">Benny Rodriguez</span>
			<table>
				<thead>
					<td>AVG</td>
					<td>HR</td>
					<td>RBI</td>
					<td>OBP</td>
				</thead>
				<tr>
					<td>.276</td>
					<td>13</td>
					<td>47</td>
					<td>.382</td>
				</tr>
			</table>
		</div>
  </div>
</template>
<!-- 
<template name="questionExample">
	<ul class="question-options slideInLeft">
		<li class="option">
			<input type="radio" disabled>
			<label for="" class="play-option">
				<span class="icon-container">
					<img class="baseball-call-icon" src="/baseball-calls/Out.svg" >
				</span>
				<span class="option-title">Out</span> 
				<span id="" class="multiplier">x 1.43</span>
			</label>
		</li>

		<li class="option">
			<input type="radio" disabled>
			<label for="" class="play-option">
			<span class="icon-container">
				<img class="baseball-call-icon" src="/baseball-calls/Walk.svg">
			</span>
			<span class="option-title">Walk</span> 
			<span id="" class="multiplier">x 2.27</span></label>
		</li>

		<li class="option">
			<input type="radio" disabled>
			<label for="" class="play-option">

			<span class="icon-container">
				<img class="baseball-call-icon" src="/baseball-calls/Single.svg">
			</span>
			<span class="option-title">Single</span> 
			<span id="" class="multiplier">x 2.46</span></label>
		</li>

		<li class="option">
			<input type="radio" name="play" required>
			<label for="double" class="play-option ">
			<span class="icon-container">
				<img class="baseball-call-icon" src="/baseball-calls/Double.svg">
			</span>
			<span class="option-title ">Double</span> 
			<span id="" class="multiplier">x 3.76</span></label>
		</li>
		<li class="option">
			<input type="radio" disabled>
			<label for="" class="play-option">
			<span class="icon-container">
				<img class="baseball-call-icon" src="/baseball-calls/Triple.svg">
			</span>
			<span class="option-title">Triple</span> 
			<span id="" class="multiplier">x 6.73</span></label>
		</li>

		<li class="option">
			<input type="radio" disabled>
			<label for="" class="play-option">
			<span class="icon-container">
				<img class="baseball-call-icon" src="/baseball-calls/Home Run.svg">
			</span>
			<span class="option-title">Home Run</span> 
			<span id="" class="multiplier">x 5.21</span></label>
		</li>
	</ul>
 
</template>

<template name="wagerExample">
		<div style="margin-bottom:10px;">
		<div>
			<input type="radio" name="wager" disabled id="50" required value="50">
			<label class="one-third wager-box" for="50">50</label>
		</div>
		<div>
			<input type="radio" name="wager" disabled id="100" required value="100">
			<label class="one-third wager-box" for="100">100</label> 
		</div>
		<div>
			<input type="radio" name="wager" disabled id="250" required value="250">
			<label class="one-third wager-box" for="250">250</label> 
		</div>

		<div class="bigBet">
			<input type="radio" name="wager" id="500" required value="500">
			<label  class="one-third wager-box" for="500">500</label> 
		</div>
		<div >
			<input type="radio" name="wager" disabled id="1000" required value="1000">
			<label class="one-third wager-box" for="1000">1000</label> 
		</div>
		<div>
			<input type="radio" name="wager" disabled id="2500" required value="2500">
			<label class="one-third wager-box" for="2500">2500</label> 
		</div>
	</div>
	<input class="submit-response button play-option button-assertive center" type="submit" disabled value="Submit">
</template> -->