<template name="singleGroup">
<!-- Standard Nav instead of the custom nav design -->
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="groups"}}
  {{/contentFor}}

  {{> chatIcon}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{groupName}}
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="container">
        {{#if visible}}
          {{#with group}}
            {{> leagueCard}}
          {{/with}}
          {{#if member}}
            {{> leagueMatchups}}
            {{> groupLinks}}
          {{else}}
            <div class="group-wrapper">
              {{> groupAvatar}}
              {{> memberCheck}}
              {{> groupData}}
            </div>
          {{/if}}
        {{else}}
          <div class="no-notifications">
            This group is private and can only be seen by members
          </div>
        {{/if}}
      </div>
   {{/ionContent}}
  {{/ionView}}
</template>

<template name="chatIcon">
  {{#if member}}
    {{#contentFor "headerButtonRight"}}
      <button style="font-size: 13px;" class="button button-clear" data-ion-menu-toggle="right">
        {{> ionIcon icon="ios-chatboxes"}}
      </button>
    {{/contentFor}}
  {{/if}}
</template>

<template name="leagueMatchups">
  {{#if leagueMatchups}}
    {{> leagueMatchupCard}}
  {{else}}
    <div class="no-notifications container">
      No Matchups Scheduled
      {{#if commissionerAdmin}}
        <button class="ten-spacing button button-stable col col-100" data-action="createMatchup">Create Matchup</button>
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="leagueMatchupCard">
  <div class="card-list">
    <div class="card-list-header ten-spacing">Upcoming Matchups</div>
    {{#each matchup in matchups}}
      {{> matchupItem m=matchup}}
    {{/each}}
    <div class="card-list-footer" data-action="previous-answers">
      View League Matchups
    </div>
  </div>
</template>
