<template name="singleGroup">
<!-- Standard Nav instead of the custom nav design -->
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="groups"}}
  {{/contentFor}}

  {{> chatIcon}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{groupName}}
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if visible}}
        {{#if member}}
          <div class="group-wrapper">
            {{> groupAvatar}}
            {{> memberCheck}}
          </div>
          <div class="item item-divider">Upcoming Matchups</div>
          {{#if leagueMatchups}}
            {{#each matchup in matchups}}
              {{> matchupItem m=matchup}}
            {{/each}}
          {{else}}
            <div class="no-notifications container">
              No Matchups Scheduled
              {{#if commissionerAdmin}}
                <button class="ten-spacing button button-stable col col-100" data-action="createMatchup">Create Matchup</button>
              {{/if}}
            </div>
          {{/if}}
          <div class="item item-divider">League Details</div>
          {{> groupData}}
          {{> groupLinks}}
        {{else}}
          <div class="group-wrapper">
            {{> groupAvatar}}
            {{> memberCheck}}
            {{> groupData}}
          </div>
        {{/if}}
      {{else}}
        <div class="no-notifications">
          This group is private and can only be seen by members
        </div>
      {{/if}}
   {{/ionContent}}
  {{/ionView}}
</template>

<template name="groupData">
  <ul class="group-details">
    <li>
      <span class="group-details-icon center-text" style="font-size: 1.9em;">
        {{> ionIcon icon='ios-people'}}
      </span>
      <span class="group-details-text">
        {{memberCount}} {{max}} Members
      </span>
    </li>
    <li>
      <span class="group-details-icon center-text">
        {{> ionIcon icon='star'}}
      </span>
      <span class="group-details-text">
        Commissioner: {{commissioner}}
      </span>
    </li>
    {{#if skill}}
      <li>
        <span class="group-details-icon center-text">
          {{> ionIcon icon='star'}}
        </span>
        <span class="group-details-text">
          Skill: {{skill}}
        </span>
      </li>
    {{/if}}
    {{#if league}}
      <li>
        <span class="group-details-icon center-text">
          {{> ionIcon icon='star'}}
        </span>
        <span class="group-details-text">
          League: {{association}}
        </span>
      </li>
      {{#if team}}
        <li>
          <span class="group-details-icon center-text">
            {{> ionIcon icon='star'}}
          </span>
          <span class="group-details-text">
            Team: {{favTeam}}
          </span>
        </li>
      {{/if}}
    {{/if}}
    {{description}}
  </ul>
</template>

<template name="chatIcon">
  {{#if member}}
    {{#contentFor "headerButtonRight"}}
      <button style="font-size: 13px;" class="button button-clear" data-ion-menu-toggle="right">
        {{> ionIcon icon="ios-chatboxes"}}
      </button>
    {{/contentFor}}
  {{/if}}
</template>
