<template name="_reportQuestion">
  {{#ionModal class="white-text-header" title="Report A Question"}}
    {{#autoForm collection="QuestionReport" id="reportQuestion" schema=reportQuestion type="insert"}}
      <h3>Question: {{this.que}}</h3>
      <h4>Answer: {{answer}}</h4>
      {{> afQuickField name="correctAnswer" type="select-checkbox" options=questionOptions}}
      {{> afQuickField name="comment" type="textarea"}}
      {{> afQuickField type="hidden" name="questionId" value=questionId}}
      <button type="submit" class="full">Submit Question Report</button>
    {{/autoForm}}
  {{/ionModal}}
</template>
