<template name="history">
	{{#contentFor "headerButtonLeft"}}
	  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
	    {{#if isAndroid}}
	      {{> ionIcon icon='android-more-vertical'}}
	    {{else}}
	      {{> ionIcon icon='navicon'}}
	    {{/if}}
	  </button>
	{{/contentFor}}

 {{#contentFor "headerTitle"}}
	<h1 class="title white-text-header">Question History</h1>
 {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
			<div id="history" class="list">
				{{#if noGamesPlayed}}
					<div class="no-notifications">
						No games Played
					</div>
				{{/if}}
				{{#each gamesPlayed}}
					{{#ionItem path="gameHistory.show"}}
						{{name}}
					{{/ionItem}}
				{{/each}}
			</div>
    {{/ionContent}}
  {{/ionView}}
</template>
