<template name="history">
	{{#contentFor "headerButtonLeft"}}
	  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
	    {{#if isAndroid}}
	      {{> ionIcon icon='android-more-vertical'}}
	    {{else}}
	      {{> ionIcon icon='navicon'}}
	    {{/if}}
	  </button>
	{{/contentFor}}

 {{#contentFor "headerTitle"}}
	<h1 class="title white-text-header">Question History</h1>
 {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
      {{> loader}}
      {{#if Template.subscriptionsReady}}
        <div class="loading-wrapper">
					{{#ionList}}
						{{#each gamePlayed}}
							{{#ionItem path="gameHistory.show"}}
								{{name}}
							{{/ionItem}}
						{{/each}}
					{{/ionList}}
				</div>	
			{{/if}}
    {{/ionContent}}
  {{/ionView}}
</template> 