<template name="singleGameHistory">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " path="index"}}
  {{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title white-text-header">
      Game History
    </h1>
	{{/contentFor}}

<!-- 	{{#ionSubheaderBar class="subheader"}}
		{{> singleGameAwards}}
	{{/ionSubheaderBar}} -->

  {{#ionView }}
    {{#ionContent}}
    	<div class="container ten-spacing">
	    	{{#if notPrediction}}
		    	{{#each g in game}}
            {{> singleGameInfo game=g border=true}}
		    		{{> singleGameCard game=g}}
		    	{{/each}}
		    {{/if}}
			</div>

	    {{#ionList}}
				<div class="container ten-spacing hundred-bottom">
			    {{> gameHistory number=-1 extended=true prePickks=false}}
				</div>
    	{{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="gameHistory">
	{{#if Template.subscriptionsReady}}
		{{#if this.card}}
			<div class="card-list">
				<div class="card-list-header ten-spacing">Question History</div>
			    {{> listOfQuestions number=this.number extended=this.extended prePickks=this.prePickks}}

     		<div class="card-list-footer" data-action="previous-answers">
        	View Entire History
      	</div>
			</div>
		{{else}}
			{{> listOfQuestions number=this.number extended=this.extended prePickks=this.prePickks}}
		{{/if}}
		
	{{else}}
		{{> spinLoader}}
	{{/if}}
</template>

<template name="listOfQuestions">
	{{#each q in questions i}}
		{{> singleQuestion q=q extended=this.extended prePickks=false}}
	{{/each}}
</template>