<template name="gameLeaderboard">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
    	Leaderboard
    </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear nav-icon pull-right" data-action="refresh">
      {{> ionIcon icon='ios-reload'}}
    </button>
  {{/contentFor}}
	
  {{#ionView}}
	  {{#ionContent}}
      {{> miniLeaderboard i=10}}
	  {{/ionContent}}
	{{/ionView}}
</template>

<template name="miniLeaderboard">
  <ol type="1">
    {{#each player i}}
      {{#ionItem href=pathUrl avatar=true}}
        {{> userAvatar userId=userId}}
        <li class="list-font">
          <h2 class="center-username">
            {{#with username userId}}
              {{profile.username}}
            {{/with}}
            <span class="score">{{coins}}</span>
          </h2>
        </li>
      {{/ionItem}}
    {{/each}}

    {{#with userNotInLeaderboard i}}
      {{#ionItem avatar=true}}
        {{> userAvatar userId=userId}}
        <li class="list-font" style="font-weight: bold;" value={{spot}}>
          <h2 class="center-username" style="font-weight: bold;">
            {{#with username userId}}
              {{profile.username}}
            {{/with}}
            <span class="score" style="font-weight: bold;">{{{gameCoins}}}</span>
          </h2>
        </li>
      {{/ionItem}}
    {{/with}}
  </ol>
</template>