<template name="gameLeaderboard">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
    	Leaderboard
    </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
     <button style="font-size: 9px;" class="button button-clear" data-ion-menu-toggle="right">
       {{> ionIcon icon="funnel"}}
     </button>
   {{/contentFor}}

  {{#ionView}}
	  {{#ionContent}}
      {{#if overview}}
        {{#with periodExists 1}}
          {{#ionItem class="quarter" id="1"}}
          Quarter 1 Leaderboard
          <span class="score">
            {{{this.coins}}}
          </span>
          {{/ionItem}}
        {{/with}}
        {{#with periodExists 2}}
          {{#ionItem class="quarter" id="2"}}
          Quarter 2 Leaderboard
          <span class="score">
            {{{this.coins}}}
          </span>
          {{/ionItem}}
        {{/with}}
        {{#with periodExists 3}}
          {{#ionItem class="quarter" id="3"}}
          Quarter 3 Leaderboard
          <span class="score">
            {{{this.coins}}}
          </span>
          {{/ionItem}}
        {{/with}}
        {{#with periodExists 4}}
          {{#ionItem class="quarter" id="4"}}
          Quarter 4 Leaderboard
          <span class="score">
            {{{this.coins}}}
          </span>
          {{/ionItem}}
        {{/with}}
        {{#with periodExists 5}}
          {{#ionItem class="quarter" id="5"}}
          Overtime Leaderboard
          <span class="score">
            {{{this.coins}}}
          </span>
          {{/ionItem}}
        {{/with}}
        {{#with periodExists -1}}
          <div class="item item-divider clear-fix" style="border: 0">
            All Quarters
          </div>
          {{> miniLeaderboard}}
        {{/with}}

      {{else}}
        {{> miniLeaderboard}}
      {{/if}}
	  {{/ionContent}}
	{{/ionView}}
</template>

<template name="miniLeaderboard">
  <ol type="1">
    {{#each player i}}
      {{#ionItem href=pathUrl avatar=true}}
        {{> userAvatar userId=userId}}
        <li class="list-font">
          <h2 class="center-username">
            {{#with username userId}}
              {{#if following _id}}
                <strong>{{profile.username}}</strong>
              {{else}}
                {{profile.username}}
              {{/if}}
            {{/with}}
            {{#if following userId}}
              <strong><span class="score">{{coins}}</span></strong>
            {{else}}
              <span class="score">{{coins}}</span>
            {{/if}}

          </h2>
        </li>
      {{/ionItem}}
    {{/each}}

    {{#with userNotInLeaderboard i}}
      {{#ionItem avatar=true}}
        {{> userAvatar userId=userId}}
        <li class="list-font" style="font-weight: bold;" value={{this.spot}}>
          <h2 class="center-username" style="font-weight: bold;">
            {{#with username userId}}
              {{profile.username}}
            {{/with}}
            <span class="score" style="font-weight: bold;">{{{this.coins}}}</span>
          </h2>
        </li>
      {{/ionItem}}
    {{/with}}
  </ol>
</template>
