<template name="leaderboard">

<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}

  {{#ionView}}
    {{#ionContent}}

  <div class="container">
	<ol type="1" class="list">

  	{{#each player}}
      <a href="#{{_id}}">
  		<li class="list-font">
      <div class="item item-avatar">
      <img src="photo.jpg">
      <h2 class="center-username">{{username}} <span class="score">{{profile.coins}}</span></h2>
          
      </div>
      </li>
      </a>
  	{{/each}}

	</ol>
  </div>

    {{/ionContent}}
  {{/ionView}}

</template>
