<template name="leaderboard">

<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}

  {{#ionView}}
    {{#ionContent}}

  <div class="container">
  <div class="item item-divider">World Leaderboard</div>
  <ol type="1" class="list">

    {{#each player}}
      {{#linkTo route="profile/:{{username}}" data=getData}}

      <li class="list-font">
        <div class="item item-avatar">
        <img src="{{profile.avatar}}">
        <h2 class="center-username">{{profile.username}} <span class="score">{{profile.coins}}</span></h2>
        </div>
      </li>

      {{/linkTo}}
    {{/each}}
  </ol>

  <div class="item item-divider">College Buddies</div>
  <ol type="1" class="list">

      <a href="#{{_id}}">
      <li class="list-font">
      <div class="item item-avatar">
      <img src="joe.jpg">
      <h2 class="center-username">John Smith 
      <span class="score">33320</span></h2>
          
      </div>
      </li>
      </a>

  </ol>


  <div class="item item-divider">Accounting 4 Wins</div>
  <ol type="1" class="list">

      <a href="#{{_id}}">
      <li class="list-font">
      <div class="item item-avatar">
      <img src="brad.jpg">
      <h2 class="center-username">John Smith 
      <span class="score">30000</span></h2>
          
      </div>
      </li>
      </a>

  </ol>
  </div>

    {{/ionContent}}
  {{/ionView}}

</template>