<template name="leaderboard">
  {{#ionView}}
    {{#ionContent}}

    {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" style="color:white;" data-ion-modal="logout">
      {{> ionIcon icon='ios-gear'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  	<div class="counter">
		<ul class="counter-list">
			<li><i class="fa fa-circle"></i> <p>{{currentUser.profile.coins}}</p></li>
		</ul>
	</div>
  {{/contentFor}}
  <div class="container">
	<ul class="leaderboard">
	{{#each player}}
		<li><strong>1. {{username}} <span class="score"> {{profile.coins}}</span></strong></li>
	{{/each}}
    <li>2. Asdr <span class="score">  50000</span></li>
    <li>3. AAA <span class="score"> 50000</span></li>
    <li>4. DolphinsRULE <span class="score"> 50000</span></li>
    <li>5. Meowmix <span class="score">  50000</span></li>
    <li>6. Player36 <span class="score">  50000</span></li>
    <li>7. jahaz <span class="score"> 50000</span></li>
    <li>8. Player 7 <span class="score">  50000</span></li>

	</ul>
  </div>

    {{/ionContent}}
  {{/ionView}}

</template>
