<template name="singleGameFilter">
  <div class="bar bar-header bar-dark">
    <h1 class="title white-text-header">Filter Leaderboard</h1>
  </div>
  <div style="margin-top:44px;">
  {{#ionList}}
    <form id="period">
      <div class="item item-divider" style="border: 0">Time</div>
      {{#each option in dates}}
        {{> radioOption o=option}}
      {{/each}}
    </form>

  	<form id="other-filters">
      <div class="item item-divider ten-spacing">Common</div>
  		{{#each option in options}}
  			{{> radioOption o=option}}
  		{{/each}}
      <div class="item item-divider ten-spacing">Groups</div>
      {{#each option in groups}}
  			{{> radioOption o=option}}
  		{{/each}}
      <div class="item item-divider ten-spacing">Matchups</div>
      {{#each option in matchups}}
  			{{> radioOption o=option}}
  		{{/each}}
		</form>
  {{/ionList}}
  </div>
</template>
