<template name="weekLeaderboard">
 {{> yield 'header'}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Week Leaderboard</h1>
 {{/contentFor}}

 	{{#contentFor "headerButtonRight"}}
     <button style="font-size: 9px;" class="button button-clear" data-action="filterLeaderboard">
       {{> ionIcon icon="funnel"}}
     </button>
   {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <ol type="1" id="leaderboard">
          {{#each player in players}}
            {{> singlePlayerWeek player=player}}
          {{/each}}
        </ol>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="singlePlayerWeek">
  <div class="item item-avatar leaderboard-item {{following}} {{thisUser}}">
    {{> userAvatar userId=player._id}}
    <li class="list-font" value={{player.rank}}>
      <span class="username">{{username player._id}}</span>
      <span class="score">
          {{{player.diamonds}}}
      </span>
    </li>
  </div>
</template>
