<template name="weekFilter">
	{{#ionModal class="white-text-header" title="Filter Leaderboard"}}
  {{#ionList}}
  	<form id="date">
			<div class="item item-divider">Date</div>
			{{#each option in dates}}
				{{> radioOption o=option}}
			{{/each}}
		</form>

		<form id="other-filters">
			<div class="item item-divider ten-spacing">Common</div>
			{{#each option in options}}
				{{> radioOption o=option}}
			{{/each}}

	    <div class="item item-divider ten-spacing">Leagues</div>
	    {{#each option in groups}}
				{{> radioOption o=option}}
			{{/each}}
		</form>
  {{/ionList}}
	{{/ionModal}}
</template>

<template name="radioOption">
    <div class="radio-filter">
      {{#ionRadio checked=o.checked o=o value=o.value}}
        {{o.name}}
      {{/ionRadio}}
    </div>
</template>
