<template name="weekLeaderboard">

 {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
    {{#if isAndroid}}
      {{> ionIcon icon='android-more-vertical'}}
    {{else}}
      {{> ionIcon icon='navicon'}}
    {{/if}}
  </button>
{{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Week Leaderboard</h1>
 {{/contentFor}}

 	{{#contentFor "headerButtonRight"}}
     <button style="font-size: 9px;" class="button button-clear" data-ion-menu-toggle="right">
       {{> ionIcon icon="funnel"}}
     </button>
   {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider ">
          <span class="col-md-25" data-action="previous">
            {{>ionIcon icon='chevron-left'}}
            Prev
          </span>
          <span class="col-md-50 center-text">{{date}}</span>
          <span class="col-md-25 right-text" data-action="next">
            Next
            {{>ionIcon icon='chevron-right'}}
          </span>
        </div>

        <ol type="1" class="list">
          {{#each player in players}}
            {{> singlePlayerWeek player=player}}
          {{/each}}
        </ol>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="singlePlayerWeek">
  {{#ionItem class="single-user" id=player._id avatar=true}}
    {{> userAvatar userId=player._id}}
    <li class="list-font" data-action="single-user">
      <h2 class="center-username">
        {{username player._id}}
        <span class="score">{{player.diamonds}}</span>
      </h2>
    </li>
  {{/ionItem}}
</template>
