<template name="weekLeaderboard">

 {{#contentFor "headerButtonLeft"}}
  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
    {{#if isAndroid}}
      {{> ionIcon icon='android-more-vertical'}}
    {{else}}
      {{> ionIcon icon='navicon'}}
    {{/if}}
  </button>
{{/contentFor}}

 {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Weekly Leaderboard</h1>
 {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  <button class="button button-clear nav-icon pull-right" data-action="refresh-week">
    {{> ionIcon icon='ios-reload'}}
  </button>
{{/contentFor}}

  {{#ionView}}      
    {{#ionContent}} 
      {{#ionList}}
      <div class="item item-divider">{{date}} Leaderboard</div>
  
        <!-- <div class="no-notifications">
          Error #213: Loading Leaderboard
        </div> -->
        <ol type="1" class="list">
        
        {{#each player in players}}
          {{#ionItem path="user.show" avatar=true}}
            {{> userAvatar userId=player.user}}
            <li class="list-font">
            <h2 class="center-username">
              {{username player.user}} 
              <span class="score">{{player.diamonds}}</span>
            </h2>
          </li>
          {{/ionItem}}
        {{/each}}
        
        </ol>
      {{/ionList}}    
    {{/ionContent}} 
  {{/ionView}}
</template>
