<template name="userProfile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{#if notOwnProfile user._id}}
        {{user.profile.username}}
      {{else}}
        Your Profile
      {{/if}}
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="col-md-33 float-left profile-image">
        {{> userAvatar userId=user._id}}
      </div>
      <div class="float-left">
        <h4>{{user.profile.username}}</h4>
        {{user.profile.following.length}} Following
        {{user.profile.followers.length}} Followers
      </div>

      {{#if notOwnProfile user._id}}
        {{> followerCheck }}
      {{/if}}
      <div class="clear-fix"></div>
      {{#ionList}}
      <div class="item item-divider">Stats</div>
        {{#ionItem}}
          Total Diamonds: {{totalDiamonds}}
        {{/ionItem}}
        {{#ionItem}}
          Total Coins: {{totalCoins}}
        {{/ionItem}}
        <!-- {{#ionItem}}
          Total Questions Answered: {{totalQue}}
        {{/ionItem}} -->
        <div class="item item-divider">Trophies</div>
        <ul class="trophy-list item">
          {{#each trophy in trophies}}
            <li class="trophy-image">
              {{> displayTrophy t=trophy}}
            </li>
          {{/each}}
        </ul>

        <!-- <div class="item item-divider">Badges</div> -->

<!--         <div class="item item-divider">Groups</div>
        {{#each group in groups}}
          {{> displayGroup g=group}}
        {{/each}} -->
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="displayTrophy">
  {{#with trophy t}}
    <img src="{{image}}">
  {{/with}}
</template>

<template name="displayGroup">
  {{#with group g}}
    {{#ionItem path="league.show" avatar=true}}
      {{> groupAvatar}}
      {{name}}
    {{/ionItem}}
  {{/with}}
</template>

<template name="followerCheck">
  {{#if alreadyFollower }}
    <button data-action="unfollowUser" id="join-toggle" class="button button-assertive col col-100">Unfollow</button>

  {{else}}
    <button data-action="followUser" id="join-toggle" class="button button-balanced col col-100">Follow</button>
  {{/if}}
</template>
