<template name="profile">

<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}

  {{#ionView}}
    {{#ionContent}}
	<div class="profile-background">
        <!-- {{> avatar user=this size="large" shape="circle"}} -->
        <img src="{{avatar}}" class="circle-image">
      	<div style="clear:both;">
        
      	<h3>{{username}}</h3>
        {{#with profile}}
            Edit
        {{/with}}
    </div> 

    </div>
    <h3>Badges</h3>
    <div style="overflow-x: scroll;">
    	<img class="pickk-badge" src="san-fran.png">
    	<img class="pickk-badge" src="san-fran.png">
    	<img class="pickk-badge" src="san-fran.png">
    	<img class="pickk-badge" src="san-fran.png">
    </div>
    
    <div>
    	<h3>Trophies</h3>
    	<img class="pickk-badge" src="fire.png">
        <img class="pickk-badge" src="fire.png">
        <img class="pickk-badge" src="fire.png">
        <img class="pickk-badge" src="fire.png">
    </div>
    
    <div>
    	<h3>Followers</h3>
    </div>

    {{/ionContent}}
  {{/ionView}}

</template>
