<template name="chatOverview">
<div class="bar bar-header bar-dark">
  {{#if group}}
   <h1 class="title white-text-header">{{group}} Chat</h1>

   <button id="all-chats" class="button button-clear">
      {{> ionIcon icon="ios-arrow-back" }}
    </button>
  {{else}}
    <h1 class="title white-text-header">Global Chat</h1>
  {{/if}}

    <button class="button button-clear pull-right" data-ion-popover="_groupChats">
      {{> ionIcon icon="ios-people" }}
    </button>
  </div>

  {{> chatRoom}}
</template>

<template name="chatRoom">
  {{#ionView }}
    {{#ionContent}}
      {{> messageBox}}

      {{#ionList}}
        {{#each item in groupMessages}}
          {{> singleMessage i=item}}
        {{/each}}

        {{#if showLoadMore}}
          <div class="load-more-wrapper text-center">
            <button class="button load-more" type="button">Load more</button>
          </div>
        {{/if}}
      {{/ionList}} 

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="messageBox">
  <form id="chat-message-area">
    {{> textareaAutocomplete settings=settings name="messageBox" id="messageBox" rows="3" maxlength="150" placeholder=randomMessage tabindex=1}}
    <div class="col-md-33 chat-buttons" data-action="mention">Mention</div>
    <div class="col-md-33 chat-buttons" data-ion-popover="_reaction">React</div>
    <button tabindex=2 id="chat-submit" class="col-md-33 button" type="submit">Send</button>
  </form>
</template>

<template name="singleMessage">
  {{#ionItem avatar=true id=i._id class="single-message"}}
    {{#with userObj i.user}}
      {{> userAvatar userId=_id alreadySubscribed=true}}
      <h2>{{username}}</h2>
    {{/with}}
    <p>{{{messageText i}}}</p>
    {{> messageReactions reactions=i.reactions}}
  {{/ionItem}}  
</template>

<template name="chatOptions">
  {{#with options}}
    <div class="{{options}}" data-action="reply">
      {{> ionIcon class="reply-icon" icon='forward'}}<br>
      Reply
    </div>
    <div class="{{options}}" data-action="react">
      <img class="reply-emoji" data-ion-popover="_reactionToMessage" src="/emoji/Line/Emoji-Party-Pack_Line-01.svg"><br>
      React
    </div>
    <div class="{{options}}" data-action="user">
      {{> ionIcon class="reply-icon" icon='ios-person'}}<br>
      User
    </div>
    {{#if canDelete}}
      <div class="{{options}}" data-action="close">
        {{> ionIcon class="reply-icon" icon='ios-close-outline'}}
        <br>
        Delete
      </div>
    {{/if}}
  {{/with}}
</template>

<template name="_groupChats">
  {{#ionPopover}}
    {{#ionList}}
      {{#if groups}}
        {{#each group}}
          {{#with groupName this}}
            {{#ionItem class="group-selector" id=this._id}}
              {{name}}
            {{/ionItem}}
          {{/with}}
        {{/each}}
      {{else}}
        {{#ionItem buttonRight=true}}
          <p>No Groups :( Join a Group!</p>
          <a data-action="no-group" class="button"> 
            {{> ionIcon icon="ios-plus"}}
          </a>
        {{/ionItem}}
      {{/if}}
    {{/ionList}}
  {{/ionPopover}}
</template>

<template name="_reaction">

    <div class="emoji-layer">
      {{#ionPopover}}
        <button value="[dead]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-01.svg'>
        </button>
        <button value="[fire]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20119.svg'>
        </button>
        <button value="[dying]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-13.svg'>
        </button>
        <button value="[hell-yeah]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20109.svg'>
        </button>
        <button value="[what]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20112.svg'>
        </button>
        <button value="[pirate]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-24.svg'>
        </button>
        <button value="[love]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-58.svg'>
        </button>
        <button value="[tounge]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-86.svg'>
        </button>
        <button value="[oh-no]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-93.svg'>
        </button>
        <button value="[what-the-hell]" >
          <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-96.svg'>
        </button>
      {{/ionPopover}}
    </div>

</template>


<template name="_reactionToMessage">
  <div class="emoji-layer">
    {{#ionPopover}}
      <button value="[dead]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-01.svg'>
      </button>
      <button value="[fire]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20119.svg'>
      </button>
      <button value="[dying]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-13.svg'>
      </button>
      <button value="[hell-yeah]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20109.svg'>
      </button>
      <button value="[what]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20112.svg'>
      </button>
      <button value="[pirate]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-24.svg'>
      </button>
      <button value="[love]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-58.svg'>
      </button>
      <button value="[tounge]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-86.svg'>
      </button>
      <button value="[oh-no]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-93.svg'>
      </button>
      <button value="[what-the-hell]" >
        <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-96.svg'>
      </button>
      <button value="[none]" >
        <img class="preview" src='/close-white.svg'>
      </button>
    {{/ionPopover}}
  </div>
</template>

<template name="messageReactions">
  <div class="row" align="right">
    <p>
    {{#each reactionCount}}
        <img class="icon-small" src={{emojiIconSrc reactionName}}>
        <strong class="reaction-count">{{count}}</strong>
    {{/each}}
    </p>
  </div>
</template>