<template name="chatOverview">
<div class="bar bar-header bar-dark">
  {{#if group}}
   <h1 class="title white-text-header">{{group}} Chat</h1>

   <button id="all-chats" class="button button-clear">
      {{> ionIcon icon="ios-arrow-back" }}
    </button>
  {{else}}
    <h1 class="title white-text-header">Global Chat</h1>
  {{/if}}

    <button class="button button-clear pull-right" data-ion-popover="_groupChats">
      {{> ionIcon icon="ios-people" }}
    </button>
  </div>

  {{> chatRoom}}
</template>

<template name="chatRoom">
  {{#ionView }}
    {{#ionContent}}
    <form id="">
      <textarea type="text" name="messageBox" rows="3" maxlength="150" placeholder="{{randomMessage}}" id="messageBox"></textarea>
      <div class="col-md-33 chat-buttons" data-action="mention">Mention</div>
      <div class="col-md-33 chat-buttons" data-ion-popover="_reaction">React</div>
      <button class="button" style="width: 33.33%; border: none;" type="submit">Send</button>
    </form>
    {{#ionList}}
      {{#with groupMessages}}
        {{#each messages this}}
          <div data-action="message" class="message">
            {{#ionItem avatar=true id="single-message"}}
              {{#with user this.user}}
                {{> avatar userId=_id alreadySubscribed=true}}
                <h2>{{chatUser this._id}}</h2>
              {{/with}}
              <p>{{{this.message}}}</p>
            {{/ionItem}}
              <div class="chat-options" style="display: none">
              <div class="col-md-25" data-action="reply">
                {{> ionIcon class="reply-icon" icon='forward'}}<br>
                Reply
              </div>
              <div class="col-md-25" data-action="react">
                <img class="reply-emoji" src="/emoji/Line/Emoji-Party-Pack_Line-01.svg"><br>
                React
              </div>
              <div class="col-md-25" data-action="user">
                {{> ionIcon class="reply-icon" icon='ios-person'}}
                <br>
                User
              </div>
              <div class="col-md-25" data-action="close">
                {{> ionIcon class="reply-icon" icon='ios-close-outline'}}
                <br>
                Cancel
              </div>
            </div>
          </div>
        {{/each}}
      {{/with}}
      {{#if showLoadMore}}
        <div class="load-more-wrapper text-center">
          <button class="button load-more" type="button">Load more</button>
        </div>
      {{/if}}
    {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="_groupChats">

  {{#ionPopover}}
    {{#ionList}}
      {{#each group}}
        {{#with groupName this}}
          {{#ionItem class="group-selector" id=this._id}}
            {{groupId}}
          {{/ionItem}}
        {{else}}
          <p>No Groups :(</p>
        {{/with}}
      {{/each}}
    {{/ionList}}
  {{/ionPopover}}

</template>

<template name="_reaction">

  {{#ionPopover}}
    <button value="[dead]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-01.svg'>
    </button>
    <button value="[fire]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20119.svg'>
    </button>
    <button value="[dying]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-13.svg'>
    </button>
    <button style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-01.svg'>
    </button>
    <button value="[hell-yeah]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20109.svg'>
    </button>
    <button value="[what]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack_Artboard%20112.svg'>
    </button>
    <button value="[pirate]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-24.svg'>
    </button>
    <button value="[love]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-58.svg'>
    </button>
    <button value="[tounge]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-86.svg'>
    </button>
    <button value="[oh-no]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-93.svg'>
    </button>
    <button value="[what-the-hell]" style="width: 40%; border: none;">
      <img class="preview" src='/emoji/Full-Color/Emoji-Party-Pack-96.svg'>
    </button>
  {{/ionPopover}}

</template>


