<template name="favoriteTeams">
  {{#ionView}}
    {{#ionContent}}

      {{#each step in allSteps}}
        <div id="favoriteList" class="container {{hide step}}">
          {{#with step}}
            {{#autoForm schema=UsersProfileSchema doc=currentUser.profile id=step}}
              <div class="af-fav-teams hundred-bottom">
                {{> afQuickField name=this type='select-checkbox'}}
              </div>
                <input id="team-submit-button" name="saveTeam" type="submit" class="button button-large button-balanced bold" value="{{submitText}}">
            {{/autoForm}}
          {{/with}}
        </div>
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="favoriteTeamsHeader">
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{#with profile}} {{this.profile.username}} {{/with}} Choose your Favorite <span class="header-text">Sports</span>
    </h1>
  {{/contentFor}}
</template>
