<template name="favoriteTeams">
  {{#ionView}}
    {{#ionContent}}

      {{#each step in allSteps}}
        <div class="container {{hide step}}">
          {{#autoForm schema=UsersProfileSchema doc=currentUser.profile id=step}}
            <div class="af-fav-teams">
              {{> afQuickField name=_af.formId type='select-checkbox'}}
            </div>
            
            <input name="saveTeam" type="submit" class="button button-large button-positive" value="Save Teams">
          {{/autoForm}}
        </div>
      {{/each}}
      

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="favoriteTeamsHeader">
  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">
      {{#with profile}} {{this.profile.username}} {{/with}} Choose your Favorite MLB Team
    </h1>
  {{/contentFor}}
</template>