<template name="rules">

<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}

 {{#contentFor "headerTitle"}}
	<h1 class="title white-text-header">Common Questions</h1>
 {{/contentFor}}

  {{#ionView }}
    {{#ionContent}}
    	<div class="container">
				{{#ionList}}	
					{{#each rule in rules}}
						{{#ionItem}}
						<p class="common-question">{{{rule.headline}}}</p>
						<p>{{{rule.text}}}</p>
						{{/ionItem}}
					{{/each}}
				{{/ionList}}	
			</div>
    {{/ionContent}}
  {{/ionView}}
</template>