<template name="settings">
	<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}


  {{#ionView}}
    {{#ionContent}}

  <div class="container">
	<form>
		<div style="background-color:white;">
		<label>Username:
		<div>
		<i id="username" class=""></i>
		<input type="text" class="settings-input-box" name="username" value="{{username}}" required>
		</div>
		</label>
		</div>

		<label>First Name:
		<input type="text" name="firstName" value="{{firstName}}"></label>

		<label>Last Name:
		<input type="text" name="lastName" value="{{lastName}}"></label>

		Photo:<br>
		Want to upload your own photo?<br>
		<img src="{{avatar}}" id="avatar" style="width:100px; height: 100px;">

		<input type="submit" class="button button-large button-positive" value="Update profile">
	</form> 
  </div>

    {{/ionContent}}
  {{/ionView}}
</template>