<template name="notificationFilter">
	<div class="bar bar-header bar-dark">
    <h1 class="title white-text-header">Filter Notifications</h1>
  </div>
  <div style="margin-top:65px;">
		{{#if unread}}
			<button class="button button-balanced col col-100" data-action="readAll">
				Mark All As Read
			</button>
		{{/if}}
		<form id="status" class="ten-spacing">
			{{#each option in status}}
				{{> radioOption o=option}}
			{{/each}}
		</form>
		<div class="item item-divider ten-spacing">Type</div>
  	<form>
		{{#each option in options}}
			{{> notificationOption o=option}}
		{{/each}}
		</form>
  </div>
</template>

<template name="notificationOption">
	{{#ionItem class="item-text-wrap item-checkbox notification-checkbox"}}
    <label class="checkbox">
			{{#if alreadySelected}}
				<input type="checkbox" checked style="float: left;">
			{{else}}
				<input type="checkbox" style="float: left;">
			{{/if}}
			<span class="checkbox-text">{{o}}</span>
    </label>
  {{/ionItem}}
</template>
