<template name="notifications">


	<!-- Standard Nav instead of the custom nav design -->
 {{> standardNav}}

  {{#ionView}}
    {{#ionContent}}
		

		{{#ionList class="my-class"}}
			<div class="item item-divider">Friend Requests</div>
			
			{{#ionItem buttonRight=true avatar=true}}
				<img src="photo.jpg">
		    <h2>John Smith</h2>
		    <p>wants to be friend with you!</p>
		    <button class="button" data-ion-popover="_notificationPopover">
		      {{> ionIcon icon="more"}}
		    </button>
    	{{/ionItem}}


			<div class="item item-divider">Group Requests</div>
			{{#ionItem buttonRight=true avatar=true}}
				<img src="photo.jpg">
	      <h2>John Smith</h2>
	      <p>wants you to join { GROUP NAME }</p>
	      <button class="button" data-ion-popover="_notificationPopover">
	        {{> ionIcon icon="more"}}
	      </button>
    	{{/ionItem}}

	    <div class="item item-divider">Game Requests</div>

			{{#ionItem buttonRight=true avatar=true}}
				<img src="photo.jpg">
	      <h2>John Smith</h2>
	      <p>wants you to join { Game Name }</p>
	      <button class="button" data-ion-popover="_notificationPopover">
	        {{> ionIcon icon="more"}}
	      </button>
    	{{/ionItem}}

	    <div class="item item-divider">Trophies Won</div>


	    <div class="item item-divider">Badges Earned</div>


			<div class="item item-divider">Game Notifications</div>
		{{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>