<template name="notificationFilter">
	{{#ionModal class="white-text-header" title="Filter Notifications"}}
		{{#if unread}}
			<button class="button button-balanced col col-100" data-action="readAll">
				Mark All As Read
			</button>
		{{/if}}
		<form id="status" class="ten-spacing">
			{{#each option in status}}
				{{> radioOption o=option}}
			{{/each}}
		</form>
		<div class="item item-divider ten-spacing">Type</div>
  	<form class="hundred-bottom">
		{{#each option in options}}
			{{> notificationOption o=option}}
		{{/each}}
		</form>
	{{/ionModal}}
</template>

<template name="notificationOption">
	{{#ionItem class="item-text-wrap item-checkbox notification-checkbox"}}
    <label class="checkbox">
			{{#if alreadySelected}}
				<input type="checkbox" checked style="float: left;">
			{{else}}
				<input type="checkbox" style="float: left;">
			{{/if}}
			<span class="checkbox-text">{{o}}</span>
    </label>
  {{/ionItem}}
</template>
