<template name="notifications">
	<!-- Standard Nav instead of the custom nav design -->
	{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title white-text-header">Notifications</h1>
  {{/contentFor}}

<!-- 	Filter notifications by type.     -->
	{{#contentFor "headerButtonRight"}}
    <button style="font-size: 11px;" class="button button-clear" data-ion-menu-toggle="right">
      {{> ionIcon icon="funnel"}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
			<div class="container ten-spacing clear-fix filter-section">
				<h4 class="float-left ten-spacing">Filters:</h4>
				{{#each filter in filters}}
					<div class="filter-box">{{{filter}}}</div>
				{{/each}}
				<div class="filter-box" data-ion-menu-toggle="right">
					View All
					{{> ionIcon icon="chevron-right"}}
				</div>
			</div>

			{{> spinLoader}}
			{{#if Template.subscriptionsReady}}
				<div class="loading-wrapper">
			    {{#if noNotifications}}
						<div class="no-notifications">
							No Unread Notifications
						</div>
						<div class="container hundred-bottom">
							<strong>Pro Tip:</strong>
							<span>Select Which Notifications You Want to See By Clicking the {{> ionIcon icon="funnel"}} Button Above.</span>
						</div>
					{{/if}}
	    		<div class="ten-spacing hundred-bottom">
			    	{{#each note in notifications}}
							{{> notification note=note}}
			    	{{/each}}
	    		</div>
				</div>
			{{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="notification">
	{{#if notif "group"}}
		<div class="item item-avatar item-button-right {{new}}">
			{{> groupNotification}}
		</div>
	{{/if}}

	{{#if notif "mention"}}
		<div class="item item-avatar {{new}}">
			{{> chatNotification}}
		</div>
	{{/if}}

	{{#if notif "follower"}}
		<div class="item item-avatar {{new}}">
			{{> newFollower}}
		</div>
	{{/if}}

	{{#if notif "coins"}}
		<div class="item notification-has-image {{new}}">
			{{> coinsNotification}}
		</div>
	{{/if}}

	{{#if notif "diamonds"}}
		<div class="item notification-has-image {{new}}">
			{{> diamondNotification}}
		</div>
	{{/if}}

	{{#if notif "leaderboard"}}
		{{> leaderboardNotification}}
	{{/if}}

	{{#if notif "badge"}}
		{{> badgeNotification}}
	{{/if}}

	{{#if notif "trophy"}}
		<div class="item notification-has-image {{new}}">
			{{> trophyNotification}}
		</div>
	{{/if}}

	<!-- {{#if notif "matchupInvite"}}
		{{> matchupInvite}}
	{{/if}} -->

	{{#if notif "matchup"}}
		<div class="item item-avatar item-button-right {{new}}">
			{{> matchupNotification}}
		</div>
	{{/if}}

	{{#if notif "chatReaction"}}
		{{> chatReaction}}
	{{/if}}
 </template>

<template name="groupNotification">
		{{#with user note.senderId}}
	    {{> userAvatar userId=_id}}
	    <h2 data-action="viewUser">{{profile.username}}</h2>
	  {{/with}}

		{{#if status note.status}}
			<p>{{note.status}}
			{{#with groupData note.groupId}}
				<strong>{{name}}</strong>
			{{/with}}
			</p>
		{{else}}
			{{#with groupData note.groupId}}
				<p>wants you to join <strong>{{name}}</strong></p>
			{{/with}}
		{{/if}}
		<button data-action="viewGroup" class="button">View</button>
</template>

<template name="chatNotification">
		{{> userAvatar userId=note.senderId}}
		<h3>
		{{#with user note.senderId}}
			@{{profile.username}} Mentioned You
	  {{/with}}
		<!-- 	  {{#with groupData note.groupId}}
			in <strong>{{name}}</strong>
		{{/with}} -->
		</h3>

	  <p>{{note.message}}</p>
	  {{#with reactions note.messageId}}
	  	{{> messageReactions reactions=this.reactions}}
		{{/with}}
</template>

<template name="coinsNotification">
	<span class="notification-image">
		<div class="outer-coin">
			<div class="inner-coin"></div>
		</div>
	</span>
	<h2>You earned {{note.value}} coins!</h2>
	<p>{{questionTitle note.questionId}} ({{#with gameName note.gameId}} {{name}} {{/with}})</p>
</template>

<template name="diamondNotification">
	<h2>{{note.source}}: {{note.gameName}}</h2>
	<img class="notification-image" src="/diamonds.png">
	<p>{{{note.message}}}</p>
</template>

<template name="newFollower">
		{{#with user note.senderId}}
	    {{> userAvatar userId=_id}}
	   	<h2>{{profile.username}}</h2>
	   	<p>started following you!</p>
	  {{/with}}
</template>

<template name="chatReaction">
		<img src={{emojiIconSrc note.reaction}}>
		{{#with user note.senderId}}
	    <h3>@{{profile.username}} reacted to your chat message:</h3>
	  {{/with}}
	  <p>{{note.message}}</p>
</template>

<template name="trophyNotification">
	{{#with trophy note.trophyId}}
		<img class="notification-image" src="{{image}}">
		<h2>You won {{title}}!</h2>
		<p>Congrats on winning {{title}} in {{../note.gameName}}!</p>
	{{/with}}
</template>

<template name="matchupNotification">
		{{#with user note.senderId}}
	    {{> userAvatar userId=_id}}
	    <h2 data-action="viewUser">{{profile.username}}</h2>
	  {{/with}}

		<p>wants you to join their matchup</p>
		<!-- {{#if status note.status}}
			<p>{{note.status}}
			{{#with groupData note.groupId}}
				<strong>{{name}}</strong>
			{{/with}}
			</p>
		{{else}}
			{{#with groupData note.groupId}}
				<p>wants you to join <strong>{{name}}</strong></p>
			{{/with}}
		{{/if}} -->
		<button data-action="viewMatchup" class="button">View</button>
</template>

<template name="leaderboardNotification"></template>

<template name="badgeNotification"></template>

<template name="notificationOptions">
	{{#with options}}
		{{#if mention}}
	    <div class="{{options}} actions-section" data-action="reply">
	      {{> ionIcon class="reply-icon" icon='forward'}}<br>
	      Reply
	    </div>
	    <div class="{{options}} actions-section" data-action="react">
	      <img class="reply-emoji" src="/emoji/Line/Emoji-Party-Pack_Line-01.svg"><br>
	      React
	  	</div>
	  {{/if}}
	  {{#if award}}
	    <div class="{{options}} actions-section" data-action="share">
	      {{> ionIcon class="reply-icon" icon='forward'}}<br>
	      Share
	    </div>
	  {{/if}}
	  {{#if group}}
			<div class="{{options}} actions-section" data-action="group">
	   		{{> ionIcon class="reply-icon" icon='ios-people'}}
	    	<br>
	    	View Group
	  	</div>
	  {{/if}}
		{{#if interaction}}
			<div class="{{options}} actions-section" data-action="user">
	   		{{> ionIcon class="reply-icon" icon='ios-person'}}
	    	<br>
	    	View User
	  	</div>
		{{/if}}

		{{#if follower}}
			{{#if notAlreadyFollowing}}
				<div class="{{options}} actions-section" data-action="follow">
	   			{{> ionIcon class="reply-icon" icon='ios-person'}}
	    		<br>
	    		Follow
	  		</div>
	  	{{/if}}
		{{/if}}

	  <div class="{{options}} actions-section" data-action="read">
	    {{> ionIcon class="reply-icon" icon='ios-close-outline'}}
	    <br>
	    Mark Read
	  </div>
	{{/with}}
</template>

<template name="gameNotifications">
	<div class="item item-divider">Game Notifications</div>
	{{#ionItem}}
		{{#each question}}
			<p>You guessed... {{_id}}</p>
		{{/each}}
  {{/ionItem}}
</template>

<template name="type">
  {{#if type value}}
    {{> UI.contentBlock}}
  {{else}}
    {{> UI.elseBlock}}
  {{/if}}
</template>
