<template name="nav">

<div class="nav">
		<div class="container">
			<!-- <i style="font-size: 1.8em; color: white;" data-action="toggleMenu" class="fa fa-bars"></i> -->
			<div id="login"> {{> loginButtons}}</div>
			<div class="counter">
				<ul class="counter-list">
					<li><i class="fa fa-circle"></i> <p>{{currentUser.profile.coins}}</p></li>
				</ul>
			</div>
		</div>
			
	</div>

</template>

<template name="slideMenu">
		<div class="snap-drawer snap-drawer-left">
	        <div>
				Content
			</div>
		</div>
</template>