<template name="entireGameCard">
  <div class="complete-game-card ten-spacing clear-fix animated {{status}}">
    {{> singleGameInfo game=game}}
    {{> singleGameCard game=game}}
    {{> singleGameCTA game=game}}
  </div>
</template>

<template name="singleGameInfo">
  {{#if sport "MLB"}}
    {{#if inProgress}}
      {{> gameInProgressInfo game=game}}
    {{/if}}
  {{/if}}
  {{#if future}}
    {{> futureGameInfo}}
  {{/if}}
</template>

<template name="singleGameCard">
  <div class="single-game-card">
      <div class="{{status}}">
        {{#each team in teams }}
          {{> teamBlock statsTeamId=team.teamId runs=team.runs}}
        {{/each}}
      </div>
      {{#if showRight}}
        {{> rightSection}}
      {{/if}}
  </div>
</template>

<template name="singleGameCTA">
  {{#if inProgress}}
    <div data-action="play" id="{{game.id}}" class="single-game-shared single-game-cta">
      Play Now!
    </div>
  {{/if}}
</template>

<template name="futureGameInfo">
  <div class="single-game-shared single-game-info future-game-info">
    <strong class="game-time">{{displayDate game.iso}}</strong>
    <span class="game-tv">
      {{#each station in tv game.tvStations}}
        ({{station.callLetters}})
      {{/each}}
    </span>
  </div>
</template>

<template name="teamBlock">
  <div class="team-block">
    {{#with team statsTeamId}}
      <div class="team-colors team-text" style="background-color:{{hex}}">
        {{upper computerName}}
      </div>
    {{/with}}
    <div class="team-inner">
      <span class="team-name team-text">
        {{#with team statsTeamId}} {{nickname}}{{/with}}
      </span>
      <span class="team-score team-text">{{runs}}</span>
    </div>
  </div>
</template>

<template name="rightSection">
  <div class="additional-game-details">
    {{#if completed}}
      <span>View Game</span>
    {{/if}}
    {{#if live}}
      <div class="game-time-container center-text game-card-right-side-border">
        <span class="period">
          {{periodGrammer this.game.period}}
        </span>
        <span class="time-remaining">{{time}}</span>
        <span class="tv-station">
          {{tvStation this.game.tvStations}}
        </span>
      </div>
    {{/if}}
    {{#if scheduled}}
      {{#if registered}}
        <div data-action="unregister" class="game-unregister center">
          <i class="fa fa-bell-slash"></i>
        </div>
      {{else}}
        <div data-action="register" class="game-register center">
          <i class="fa fa-bell"></i>
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>
