<template name="entireGameCard">
  {{> singleGameInfo game=game}}
  {{> singleGameCard game=game}}
  {{> singleGameCTA game=game}}
</template>

<template name="singleGameCard">
  <div class="single-game-card">
    {{#if scheduled}}
      {{#if registered}}
        <div data-action="unregister" class="game-unregister center">
          <i class="fa fa-bell-slash"></i>
        </div>
      {{else}}
        <div data-action="register" class="game-register center">
          <i class="fa fa-bell"></i>
        </div>
      {{/if}}
      {{> scheduledTeamBlock id=game.scoring.away.id abbr=game.scoring.away.abbr name=game.scoring.away.name runs=game.scoring.away.runs }}

      {{> scheduledTeamBlock id=game.scoring.home.id abbr=game.scoring.home.abbr name=game.scoring.home.name runs=game.scoring.home.runs }}
    {{else}}
      {{> teamBlock id=game.scoring.away.id abbr=game.scoring.away.abbr name=game.scoring.away.name runs=game.scoring.away.runs }}

      {{> teamBlock id=game.scoring.home.id abbr=game.scoring.home.abbr name=game.scoring.home.name runs=game.scoring.home.runs }}
    {{/if}}
  </div>
</template>

<template name="teamBlock">
  <div class="team-block">
    <div class="team-colors team-text" style="background-color:{{teamColors id}}">
      {{abbr}}
    </div>
    <div class="team-block-border">
      <span class="team-name team-text">{{name}}</span>
      <span class="team-score team-text">{{runs}}</span>
    </div>
  </div>
</template>

<template name="scheduledTeamBlock">
  <div class="scheduled-team-block">
    <div class="team-colors team-text" style="background-color:{{teamColors id}}">
        {{abbr}}
      </div>
      <div class="team-block-border">
        <span class="team-name team-text">{{name}}</span>
        <span class="team-score team-text">{{runs}}</span>
    </div>
  </div>
</template>

<template name="singleGameInfo">
  {{#if baseball}}
    {{#if inProgress}}
      {{> gameInProgressInfo game=game}}
    {{/if}}
  {{/if}}
  {{#if future}}
    {{> futureGameInfo game=game}}
  {{/if}}
  {{#if past}}
    {{> pastGameInfo game=game}}
  {{/if}}
</template>

<template name="singleGameCTA">
  {{#if inProgress}}
    <div data-action="play" id="{{game.id}}" class="single-game-shared single-game-cta">
      Play Now! ({{{quarter game.period}}} - {{game.tv}})
    </div>
  {{/if}}
</template>

<template name="gameInProgressInfo">
  <div class="single-game-shared single-game-info">
    <div class="col-md-25 single-game-section">
      {{> inningDisplay inning=game.inning position=game.topOfInning}}
    </div>
    <div class="col-md-25 single-game-section">
      {{> outDisplay number=game.outs}}
    </div>
    <div class="col-md-25 single-game-section">
      {{> playersOnBase base=game.playersOnBase}}
    </div>
    <div class="col-md-25 single-game-section">
      {{> count gameId=game._id }}
    </div>
  </div>
</template>

<template name="futureGameInfo">
  <div class="single-game-shared single-game-info">
    {{ displayDate game.scheduled}} ({{game.tv}})
  </div>
</template>

<template name="pastGameInfo">
  <div class="single-game-shared single-game-info">
    <div class="col-md-50 past-game" data-action="game-leaderboard">
      Leaderboard
    </div>
    <div class="col-md-50 past-game" style="border-left: #fff 1px solid;
" data-action="game-predictions">
      Predictions
    </div>
  </div>
</template>

<template name="count">
  {{#with count}}
    <span class="inning">{{ballCount}} - {{strikeCount}}</span>
  {{/with}}
</template>

<template name="outDisplay">
    {{{outs number}}}
</template>

<template name="inningDisplay">
  <span class="inning-position">
    {{#if position}}
      <i class="fa fa-caret-up"></i>
    {{else}}
      <i class="fa fa-caret-down"></i>
    {{/if}}
  </span>
  <span class="inning">{{grammer inning}}</span>
</template>

<template name="playersOnBase">
  <!-- Fix last / clean up -->
  {{#if base.third}}
    <div class="base-empty base-diamond base-fix third-base"></div>
  {{else}}
    <div class="base-diamond base-fix third-base"></div>
  {{/if}}
  {{#if base.second}}
    <div class="base-empty base-diamond second-base"></div>
  {{else}}
    <div class="base-diamond second-base"></div>
  {{/if}}
  {{#if base.first}}
    <div class="base-empty base-diamond base-fix first-base"></div>
  {{else}}
    <div class="base-diamond base-fix first-base"></div>
  {{/if}}
</template>
