<template name="games">
	{{#contentFor "headerButtonLeft"}}
	  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
	    {{#if isAndroid}}
	      {{> ionIcon icon='android-more-vertical'}}
	    {{else}}
	      {{> ionIcon icon='navicon'}}
	    {{/if}}
	  </button>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title white-text-header">Game Schedule</h1>
  {{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		 <button style="font-size: 9px;" class="button button-clear" data-ion-menu-toggle="right">
			 {{> ionIcon icon="funnel"}}
		 </button>
	 {{/contentFor}}

	{{#ionView}}
		{{#ionContent}}

		  <div class="item item-divider ">
				Upcoming Games
      </div>
			{{#ionList}}
				<div class="container ten-spacing clear-fix filter-section">
					<h4 class="float-left ten-spacing">Filters:</h4>
					{{#each filter in filters}}
						<div class="filter-box">{{filter}}</div>
					{{/each}}
					<div class="filter-box" data-ion-menu-toggle="right">
						View All
						{{> ionIcon icon="chevron-right"}}
					</div>
				</div>
				{{> spinLoader}}

				{{#if Template.subscriptionsReady}}
					<div class="loading-wrapper">
						{{#if noGames}}
							<div class="no-notifications">
								No Matching Games
							</div>
							<div class="container hundred-bottom">
								<span>Adjust game filter by selecting more sports or a longer period of time. Click the {{> ionIcon icon="funnel"}} button above. Must select a sport</span>
							</div>
						{{/if}}

						<div class="container ten-spacing clear-fix">
			        {{#each game in games}}
			          <div class="clear-fix complete-game-card game-container fast animated">
			          	{{#if admin}}
			          		{{> adminControls game=game}}
			            {{/if}}
			            {{> entireGameCard game=game}}
			          </div>
			        {{/each}}
			      </div>
					</div>
				{{/if}}
			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>
