<template name="gamesFilter">
  {{#ionModal class="white-text-header" title="Filter Games"}}
    {{#ionList}}
    <div class="item item-divider" style="border: 0px!important;">Limit By Time</div>
    <form>
      {{#each option in dates}}
        {{> radioOption o=option}}
      {{/each}}
    </form>
    <div class="item item-divider ten-spacing">Sports</div>
    <form>
    {{#each option in options}}
      {{> gamesOption o=option}}
    {{/each}}
    </form>
  {{/ionList}}
  {{/ionModal}}
</template>

<template name="gamesOption">
	{{#ionItem class="item-text-wrap item-checkbox notification-checkbox"}}
    <label class="checkbox">
			{{#if alreadySelected}}
				<input type="checkbox" checked style="float: left;">
			{{else}}
				<input type="checkbox" style="float: left;">
			{{/if}}
			<span class="checkbox-text">{{o}}</span>
    </label>
  {{/ionItem}}
</template>
