<template name="games">
	{{#contentFor "headerButtonLeft"}}
	  <button class="button button-clear nav-icon pull-left" data-ion-menu-toggle="left">
	    {{#if isAndroid}}
	      {{> ionIcon icon='android-more-vertical'}}
	    {{else}}
	      {{> ionIcon icon='navicon'}}
	    {{/if}}
	  </button>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title white-text-header">Game Schedule</h1>
  {{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		 <button style="font-size: 9px;" class="button button-clear" data-ion-menu-toggle="right">
			 {{> ionIcon icon="funnel"}}
		 </button>
	 {{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
		  <div class="item item-divider ">
				Upcoming Games
      </div>
			{{#ionList}}
				<div class="container ten-spacing">
	        {{#each game in games}}
	          <div class="complete-game-card" id="{{game._id}}">
	          	{{#if admin}}
	          		{{> adminControls game=game}}
	            {{/if}}

	            {{> singleGameInfo game=game}}
	            {{> singleGameCard game=game}}
	            {{> singleGameCTA game=game}}

	          </div>
	        {{/each}}
	      </div>
			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>
