<template name="entireGameCard">
  <div class="loading-wrapper">
    <div class="complete-game-card ten-spacing clear-fix {{status}} animated fadeInRight">
      <!-- {{> loadingGame}} animated-background -->

      {{> singleGameInfo game=game border=true}}
      {{> singleGameCard game=game}}
      {{> singleGameCTA game=game}}
    </div>
  </div>
</template>

<template name="singleGameInfo">
  {{#if sport "MLB"}}
    {{#if inProgress}}
      {{> gameInProgressInfo game=game border=border}}
    {{/if}}
  {{/if}}
  {{#if future}}
    {{> futureGameInfo game=game border=border}}
  {{/if}}
</template>

<template name="singleGameCard">
  <div class="single-game-card">
    <div class="{{status}}" data-action="viewGame">
      {{#each team in teams}}
        {{> teamBlock statsTeamId=team.teamId runs=team.runs}}
      {{/each}}
    </div>
    {{#if showRight}}
      {{> rightSection}}
    {{/if}}
  </div>
</template>

<template name="singleGameCTA">
  {{#if preGame}}
    <div data-action="pre-pickk" id="{{game.id}}" class="single-game-shared single-game-cta">
      Pre Pickks Open!
    </div>
  {{/if}}
  {{#if inProgress}}
    <div data-action="play" id="{{game.id}}" class="single-game-shared single-game-cta">
      Play Now!
    </div>
  {{/if}}
</template>

<template name="futureGameInfo">
  <div class="single-game-shared single-game-info future-game-info {{border}}">
    <strong class="game-time">{{displayDate game.iso}}</strong>
    <span class="game-tv">
      {{#each station in tv game.tvStations}}
        ({{station.callLetters}})
      {{/each}}
    </span>
  </div>
</template>

<template name="teamBlock">
  <div class="team-block">
    {{#with team statsTeamId}}
      <div class="team-colors team-text" style="background-color:{{hex}}">
        {{upper computerName}}
      </div>
    {{/with}}
    <div class="team-inner">
      <span class="team-name team-text">
        {{#with team statsTeamId}} {{nickname}} {{/with}}
      </span>
      <span class="team-score team-text">{{runs}}</span>
    </div>
  </div>
</template>

<template name="rightSection">
  <div class="additional-game-details">
    {{#if completed}}
      <div class="game-time-container center-text game-card-right-side-border">
        <span>View Game</span>
      </div>
    {{/if}}
    {{#if live}}
      <div class="game-time-container center-text game-card-right-side-border">
        <span class="period">
          {{periodGrammer this.game.period}}
        </span>
        <span class="time-remaining">{{time}}</span>
        <span class="tv-station">
          {{tvStation this.game.tvStations}}
        </span>
      </div>
    {{/if}}
    {{#if scheduled}}
      {{#if registered}}
        <div data-action="unregister" class="game-unregister center">
          <i class="fa fa-bell-slash"></i>
        </div>
      {{else}}
        <div data-action="register" class="game-register cta-button center">
          <i class="fa fa-bell"></i>
        </div>
      {{/if}}
    {{/if}}
    {{#if delayed}}
      <div class="game-time-container center-text game-card-right-side-border">
        View Game
      </div>
    {{/if}}
  </div>
</template>

<template name="loadingGame">
  <div class="load-game">
    <div class=load-game-top>
      <div class="blue-block top-rounded"></div>
      <div class="load-game-top-text">
        <div class="blue-block top-left"></div>
        <div class="top-left-text"></div>
        <div class="blue-block top-middle"></div>
        <div class="top-right-text"></div>
        <div class="blue-block top-right"></div>
      </div>
      <div class="blue-block full-width"></div>
    </div>
    <div class="load-game-middle-container">
      <div class="load-game-team-row"> <!--Team 1 -->
        <div class="load-game-middle-shortcode">
          <div class="whitespace-block shortcode-text"></div>
        </div>
        <div class="load-game-team-right">
          <div class="whitespace-block middle-spacer"></div>
          <div class="load-game-middle-text-row">
            <div class="whitespace-block middle-left"></div>
            <div class="whitespace-block middle-middle"></div>
            <div class="whitespace-block middle-right"></div>
          </div>
          <div class="whitespace-block middle-spacer"></div>
        </div>
      </div>
      <div class="load-game-team-row"> <!--Team 2 -->
        <div class="load-game-middle-shortcode">
          <div class="whitespace-block shortcode-text"></div>
        </div>
        <div class="load-game-team-right">
          <div class="whitespace-block middle-spacer"></div>
          <div class="load-game-middle-text-row">
            <div class="whitespace-block middle-left"></div>
            <div class="whitespace-block middle-middle"></div>
            <div class="whitespace-block middle-right"></div>
          </div>
          <div class="whitespace-block middle-spacer rounded-bottom-right-edge"></div>
        </div>
      </div>
    </div>
    <div class="load-game-bottom">
      <div class="yellow-block full-width"></div>
      <div class="load-game-bottom-text">
        <div class="yellow-block bottom-left"></div>
        <div class="bottom-middle"></div>
        <div class="yellow-block bottom-right"></div>
      </div>
      <div class="yellow-block bottom-rounded"></div>
    </div>
  </div>
</template>
