<template name="singleGame">
	{{> homeLayoutHeader}}
	{{#contentFor "headerTitle"}}
		{{> singleGameAwards}}
	{{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
			{{> singleGameInfo game=game border=false}}
			{{> notificationCenter game=game}}
			{{> gameDisplay}}
			<!-- {{> inviteToPlay}} -->
			{{ scoreMessage}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="gameDisplay">
	<div class="container ten-spacing">
		{{#if status 1}}
			{{> preGame}}
		{{/if}}
		{{#if status 2}}
			{{> activeGame}}
		{{/if}}
		{{#if status 4}}
			{{> postGame}}
		{{/if}}
	</div>
</template>
