<template name="heroImage">
  <div class="single-slide" style="background-image: url({{item.image}})">
    <div class="slider-text">
      {{item.text}}
    </div>
  </div>
</template>

<template name="heroSection">
  <div style="min-height: 180px;">
    <!-- {{#if Template.subscriptionsReady}} -->
      <div id="hero-section" class="animated fadeInDown">
        {{> heroInBetween}}
      </div>
    <!-- {{/if}} -->
  </div>
  <div class="line-divider"></div>
</template>

<template name="heroInBetween">
  {{#each hero in heros}}
    <div class="single-slide">
      {{> singleHero hero=hero}}
    </div>
  {{/each}}
</template>

<template name="singleHero">
  <a href="{{hero.url}}">
  <div class="card-container hero-card">
    <div class="hero-image" style="background-image: url({{hero.image}})">
      <span class="title">{{hero.title}}</span>
    </div>
    <div class="hero-bottom">
      <div class="description">
        {{hero.description}}
      </div>
      <span class="arrow">{{> ionIcon icon="ios-arrow-right"}}</span>
    </div>
  </div>
  </a>
</template>
